@charset "UTF-8";

.create-div {
	display: flex;
	margin-top: 1.5rem;
	flex-direction: row;
	align-items: center;
	gap: 20px;
}

.create-text {
	color: #FF8901;
	font-size: 14px;
	font-style: normal;
	font-weight: 600;
	line-height: 22px;
}

.controll-top {
	left: -20%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 1rem;
	position: relative;
	justify-content: center;
}

.controll-top-2 {
	left: -15%;
	position: relative;
}

.title {
	gap: 20px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.controll-div {
	top: 10px;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}

.controll-div-2 {
	margin-top: 10px;
	display: flex;
	align-items: center;
	gap: 20px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}

.button-wrappers {
	width: 500px;
}

.delete-button-1 {
	margin-left: 229px;
	display: inline-flex;
	padding: 12px 16px;
	color: white;
	border: none;
	cursor: pointer;
	height: 2.5rem;
	position: relative;
	align-items: flex-start;
	gap: 16px;
	border-radius: 4px;
	background: #FF8901;
	position: relative;
}

.coupon-input {
	width: fit-content;
	padding-left: 5px;
	border-radius: 10px;
	border: 1px solid #E8E8E8;
	outline: 1px solid #E8E8E8;
	height: 2.2rem;
}

.create-button {
	display: inline-flex;
	padding: 12px 16px;
	align-items: flex-start;
	gap: 16px;
	border-radius: 4px;
	background: #FF8901;
	cursor: pointer;
	border: none;
	color: white;
	height: 2.5rem;
}

.controll-div-3 {
	margin-top: 10px;
	display: flex;
	align-items: center;
	gap: 20px;
}

.delete-button {
	padding: 5px;
	margin-right: 10px;
	margin-bottom: 10px;
	cursor: pointer;
	font-size: 1rem;
	width: fit-content;
	height: 2rem;
	border-radius: 20px;
	background: white;
	color: orange;
	border: 2px solid orange;
}

.delete-button:hover {
	background: white;
	box-shadow: 1px 1px 7px 0px orange;
}

.coupon-create {
	position: relative;
	top: 1.5rem;
	left: 20rem;
}

.2099_2373 {
	overflow: hidden;
}

.e2099_2373 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.e2099_2463 {
	background-color: rgba(254.2806226015091, 137.48113721609116, 29.666072130203247,
		0.6100000143051147);
	width: 214px;
	height: 150%;
	position: absolute;
	left: -1px;
	top: 0px;
}

.e2099_2467 {
	width: 114px;
	height: 34px;
	position: absolute;
	left: 50px;
	top: 31px;
	background-image: url(../images/admin/admin01.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.e2099_2469 {
	color: rgba(255, 255, 255, 1);
	width: max-content;
	height: 16px;
	position: absolute;
	left: 80px;
	top: 200px;
	/* font-family: Poppins; */
	text-align: center;
	font-size: 16px;
	letter-spacing: 2;
	cursor: pointer;
}

.e2101_2491 {
	transform: rotate(89.9999998114392deg);
	width: 16px;
	height: 1px;
	left: 112px;
	top: -14px;
	background-image: url(../images/admin/admin03.png);
	position: relative;
}

.2101_2491 {
	border: 1px solid rgba(255, 255, 255, 1);
}

.e2099_2477 {
	position: relative;
	color: rgba(255, 255, 255, 1);
	width: 51px;
	height: 16px;
	left: 73px;
	top: -4px;
	/* font-family: Poppins; */
	text-align: center;
	font-size: 15px;
	letter-spacing: 2;
	cursor: pointer;
}

.e2099_2478 {
	position: relative;
	width: 40px;
	height: 40px;
	left: 25px;
	top: 25px;
	/* border: solid 1px black; */
	background-image: url(../images/admin/admin02.png);
}

.e2099_2470 {
	color: rgba(255, 255, 255, 1);
	width: max-content;
	height: 16px;
	position: absolute;
	left: 80px;
	top: 266px;
	/* font-family: Poppins; */
	text-align: center;
	font-size: 16px;
	letter-spacing: 2;
	cursor: pointer;
}

.e2099_2472 {
	color: rgba(255, 255, 255, 1);
	width: max-content;
	height: 16px;
	position: absolute;
	left: 80px;
	top: 331px;
	/* font-family: Poppins; */
	text-align: center;
	font-size: 16px;
	letter-spacing: 2;
	cursor: pointer;
}

.e2099_2473 {
	color: rgba(255, 255, 255, 1);
	width: max-content;
	height: 16px;
	position: absolute;
	left: 74px;
	top: 396px;
	/* font-family: Poppins; */
	text-align: center;
	font-size: 16px;
	letter-spacing: 2;
	cursor: pointer;
}

.e2099_2474 {
	color: rgba(255, 255, 255, 1);
	width: max-content;
	height: 16px;
	position: absolute;
	left: 74px;
	top: 461px;
	/* font-family: Poppins; */
	text-align: center;
	font-size: 16px;
	letter-spacing: 2;
	cursor: pointer;
}

.e2099_2475 {
	color: rgba(255, 255, 255, 1);
	width: 124px;
	height: 16px;
	position: absolute;
	left: 45px;
	top: 526px;
	/* font-family: Poppins; */
	text-align: center;
	font-size: 16px;
	letter-spacing: 2;
	cursor: pointer;
}

.e2101_2490 {
	color: rgba(255, 255, 255, 1);
	width: 62px;
	height: 16px;
	left: 129px;
	top: -24px;
	text-align: center;
	font-size: 15px;
	letter-spacing: 2;
	cursor: pointer;
	position: relative;
	text-decoration: none;
}

.e2099_2471 {
	transform: rotate(0deg);
	width: 142.0093536376953px;
	height: 0px;
	position: absolute;
	left: 0px;
	top: 84px;
}

.2099_2471 {
	border: 1px solid
		rgba(213.90561550855637, 212.12307035923004, 212.12307035923004, 1);
}

.2099_2476 {
	border: 1px solid
		rgba(213.90561550855637, 212.12307035923004, 212.12307035923004, 1);
}

.e2099_2476 {
	width: 214.00001525878906px;
	height: 0px;
	/* position: absolute; */
	left: -1px;
	top: 854px;
}

.e2099_2483 {
	background-color: rgba(254.9889501929283, 133.50080519914627, 65.16375213861465, 1);
	width: 142px;
	height: 36px;
	position: absolute;
	left: 35px;
	top: 517px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.e2099_2468 {
	color: rgba(255, 255, 255, 1);
	width: max-content;
	height: 16px;
	position: absolute;
	left: 80px;
	top: 136px;
	/* font-family: Poppins; */
	text-align: center;
	font-size: 16px;
	letter-spacing: 2;
	cursor: pointer;
}

.e2099_2485 {
	background-color: rgba(254.00000005960464, 183.00000429153442, 117.00000062584877, 1);
	width: 150%;
	height: 52px;
	position: absolute;
	left: 203px;
	top: 0px;
}

.e2099_2486 {
	background-color: rgba(255, 255, 255, 1);
	width: 150%;
	height: 150%;
	position: absolute;
	left: 208px;
	top: 43px;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: row;
	border-radius: 20px 0 0 0;
	align-items: flex-start;
	justify-content: center;
	flex-direction: row;
}

.e2099_2471 hr {
	border-color: white; /* 회색 색상 */
	width: 240px; /* 원하는 너비 */
}

.e2099_2476 hr {
	border-color: white; /* 회색 색상 */
	width: 240px; /* 원하는 너비 */
}

.admin_login {
	position: absolute;
	width: 205px;
	height: 100px;
	left: 0%;
	margin-top: 650px;
	/* bottom: 100%; */
	/* border: solid 1px black; */
}

form {
	width: 500px;
}

table {
	border-color: #E9EAF3;
	top: 1rem;
	box-shadow: 0px 8px 32px 0px rgba(51, 38, 174, 0.08);
	border-style: hidden;
	position: relative;
	border-collapse: collapse;
	margin-bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
}

th, td {
	padding: 3px 8px;
}

th {
	background-color: #F8F8F8;
	color: #8E95A9;
	padding: 5px 9px;
	height: 2rem;
}

td {
	padding: 5px 8px;
	text-align: center; /* 가운데 정렬 */
	color: #555F7E;
}

td:hover {
	text-shadow: -1px 1px 0px lightgray;
}

.table-2, .table-1 {
	border-radius: 16px;
	width: 650px;
	box-shadow: 0px 8px 32px 0px rgba(51, 38, 174, 0.08);
}

.table-2 {
	top: 3.5rem;
	width: 400px;
	position: relative;
}

.table-1 {
	height: 15.6rem;
	position: relative;
	top: 100px;
}

th, td {
	padding: 3px 8px;
}

caption {
	margin-bottom: 10px;
	color: #1C2A53;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: 30px;
}

tbody {
	color: #555F7E;
}

th {
	background-color: #F8F8F8;
	color: #8E95A9;
	padding: 3px 8px;
}

td {
	padding: 3px 8px;
	text-align: center; /* 가운데 정렬 */
}

.off-screen {
	display: none;
}

#nav {
	position: relative;
	width: 500px;
	text-align: center;
	left: 205px;
	transform: translateX(-100%);
	top: 56px;
	color: #fff;
}

.checkbox-style {
	width: 20%;
	margin: 0 auto;
	accent-color: orange;
}

#nav a {
	border-radius: 5px;
	color: white;
	position: relative;
	display: inline-block;
	padding: 3px 5px;
	margin-right: 10px;
	background: #FEB775;
	text-decoration: none;
	left: 50%;
	transform: translateX(-50%);
}

#nav a.active {
	background: #333;
	color: #fff;
}

.sales {
	color: rgba(255, 255, 255, 1);
	width: max-content;
	height: 16px;
	position: absolute;
	left: 80px;
	top: 590px;
	text-align: center;
	font-size: 16px;
	letter-spacing: 2;
	cursor: pointer;
}

.pagination {
    margin-top: 1em;
    display: inline-block;
    position: relative;
    left: 286px;
    top: 41px;
}

.pagination a {
	border-radius: 5px;
	color: white;
	position: relative;
	display: inline-block;
	padding: 3px 5px;
	margin-right: 10px;
	background: #FEB775;
	text-decoration: none;
	left: 50%;
	transform: translateX(-50%);
}

.pagination a.active {
    color: white;
    background: black;
}