@charset "UTF-8";

.insertFaq {
	position: relative;
	left: -325px;
	bottom: 93px;
}

.insertFaq button {
	border: 2px solid orange;
	background-color: white;
	border-radius: 10px;
	font-size: 13px;
	cursor: pointer;
	width: 92px;
	height: 40px;
}

.contents {
	position: relative;
	top: -5.5rem;
}

.hr-line {
	background: #F49B33;
	height: 2px;
	border: 0;
}

.top-title-p {
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	color: #5E5E5E;
}

.top {
	position: relative;
	top: -7rem;
}

.top-title {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.date-wrapper {
	gap: 2rem;
	display: flex;
	align-items: center;
	flex-direction: row;
}

.button-wrapper {
	position: relative;
	left: 6%;
	top: 25rem;
}

.delete-button {
	cursor: pointer;
	border-radius: 4px;
	color: white;
	border: none;
	font-weight: 700;
	background: #FF0101;
	display: inline-flex;
	padding: 12px 16px;
	align-items: flex-start;
	gap: 16px;
}

.update-button {
	cursor: pointer;
	color: white;
	display: inline-flex;
	padding: 12px 16px;
	align-items: flex-start;
	gap: 16px;
	border-radius: 4px;
	background: #FF9603;
	border: none;
	font-weight: 700;
	color: white;
	transition: background 0.5s ease;
}

.update-button:hover {
	background: #FEB775;
	color: white;
}

.notice-date {
	color: orange;
	font-weight: 600;
	background: #FFF;
	display: flex;
	padding: 10px 16px;
	justify-content: center;
	align-items: center;
	gap: 16px;
	border-radius: 5px;
	border: 2px solid #DFDFDF;
	outline: none;
}

.notice-text {
	margin-top: 10px;
	margin-bottom: 15px;
	padding-top: 10px;
	padding-left: 10px;
	width: 1026px;
	height: 125px;
	border-radius: 5px;
	border: 2px solid #DFDFDF;
	outline: none;
	border: 2px solid #DFDFDF;
}

.notice-form {
	color: #5E5E5E;
	font-size: 1rem;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.notice-input {
	margin-bottom: 15px;
	margin-top: 10px;
	padding-left: 10px;
	width: 621px;
	height: 40px;
	outline: none;
	border-radius: 5px;
	border: 2px solid #DFDFDF;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropbtn_icon {
	top: -0.1rem;
	position: relative;
	left: 5%;
}

.dropbtn {
	margin-right: 10px;
	color: #F48E28;
	padding: 5px;
	font-size: 13px;
	font-style: normal;
	text-align: left;
	cursor: pointer;
	font-weight: 700;
	line-height: 24px;
	border-radius: 5px;
	border: 2px solid #FFA842;
	background: #FFF;
	cursor: pointer;
}

.dropdown-content {
	font-weight: 600;
	display: none;
	position: absolute;
	z-index: 1; /*다른 요소들보다 앞에 배치*/
	background-color: white;
	min-width: 200px;
}

.dropdown-content a {
	font-weight: 600;
	color: #F49B33;
	display: block;
	text-decoration: none;
	font-size: 12px;
	padding: 12px 20px;
}

.dropdown-content a:hover {
	background-color: #ececec
}

.dropdown:hover .dropdown-content {
	display: block;
}

.filters {
	margin-right: 10px;
	color: #5E5E5E;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: 20px;
}

.search-button {
	cursor: pointer;
	border-color: #FEB775;
	padding: 4px;
	font-weight: 600;
	color: white;
	width: 126px;
	height: 40px;
	flex-shrink: 0;
	border-radius: 4px;
	background: #F49B33;
}

.annoKeyword {
	padding-left: 10px;
	margin-right: 10px;
	border-radius: 5px;
	border: 2px dashed #DFDFDF;
	background: #FFF;
	width: 267px;
	height: 35px;
	flex-shrink: 0;
	outline: #CDD1DE;
}

.2099_2373 {
	overflow: hidden;
}

.search-wrapper {
	position: relative;
}

.anno-insertbtn {
	border: 2px solid orange;
	font-weight: 600;
	color: orange;
	display: inline-flex;
	padding: 12px 16px;
	align-items: flex-start;
	gap: 16px;
	border-radius: 4px;
	background: white;
	font-size: 13px;
	margin-right: 250px;
	cursor: pointer;
	width: fit-content;
	transition: background 0.5s ease;
}

.anno-insertbtn:hover {
	background: orange;
	color: white;
}

.e2099_2373 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.e2099_2463 {
	background-color: rgba(254.2806226015091, 137.48113721609116, 29.666072130203247,
		0.6100000143051147);
	width: 214px;
	height: 150%;
	position: absolute;
	left: -1px;
	top: 0px;
}

.e2099_2467 {
	width: 114px;
	height: 34px;
	position: absolute;
	left: 50px;
	top: 31px;
	background-image: url(../images/admin/admin01.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.e2099_2469 {
	color: rgba(255, 255, 255, 1);
	width: max-content;
	height: 16px;
	position: absolute;
	left: 80px;
	top: 200px;
	text-align: center;
	font-size: 16px;
	letter-spacing: 2;
	cursor: pointer;
}

.e2101_2491 {
	transform: rotate(89.9999998114392deg);
	width: 16px;
	height: 1px;
	left: 112px;
	top: -14px;
	background-image: url(../images/admin/admin03.png);
	position: relative;
}

.2101_2491 {
	border: 1px solid rgba(255, 255, 255, 1);
}

.e2099_2477 {
	position: relative;
	color: rgba(255, 255, 255, 1);
	width: 51px;
	height: 16px;
	left: 73px;
	top: -4px;
	text-align: center;
	font-size: 15px;
	letter-spacing: 2;
	cursor: pointer;
}

.e2099_2478 {
	position: relative;
	width: 40px;
	height: 40px;
	left: 25px;
	top: 25px;
	background-image: url(../images/admin/admin02.png);
}

.e2099_2470 {
	color: rgba(255, 255, 255, 1);
	width: max-content;
	height: 16px;
	position: absolute;
	left: 80px;
	top: 266px;
	text-align: center;
	font-size: 16px;
	letter-spacing: 2;
	cursor: pointer;
}

.e2099_2472 {
	color: rgba(255, 255, 255, 1);
	width: max-content;
	height: 16px;
	position: absolute;
	left: 80px;
	top: 331px;
	/* font-family: Poppins; */
	text-align: center;
	font-size: 16px;
	letter-spacing: 2;
	cursor: pointer;
}

.e2099_2473 {
	color: rgba(255, 255, 255, 1);
	width: max-content;
	height: 16px;
	position: absolute;
	left: 74px;
	top: 396px;
	/* font-family: Poppins; */
	text-align: center;
	font-size: 16px;
	letter-spacing: 2;
	cursor: pointer;
}

.e2099_2474 {
	color: rgba(255, 255, 255, 1);
	width: max-content;
	height: 16px;
	position: absolute;
	left: 74px;
	top: 461px;
	/* font-family: Poppins; */
	text-align: center;
	font-size: 16px;
	letter-spacing: 2;
	cursor: pointer;
}

.e2099_2475 {
	color: rgba(255, 255, 255, 1);
	width: 124px;
	height: 16px;
	position: absolute;
	left: 45px;
	top: 526px;
	/* font-family: Poppins; */
	text-align: center;
	font-size: 16px;
	letter-spacing: 2;
	cursor: pointer;
}

.e2101_2490 {
	color: rgba(255, 255, 255, 1);
	width: 62px;
	height: 16px;
	left: 129px;
	top: -24px;
	/* font-family: Poppins; */
	text-align: center;
	font-size: 15px;
	letter-spacing: 2;
	cursor: pointer;
	position: relative;
	text-decoration: none;
}

.e2099_2471 {
	transform: rotate(0deg);
	width: 142.0093536376953px;
	height: 0px;
	position: absolute;
	left: 0px;
	top: 84px;
}

.2099_2471 {
	border: 1px solid
		rgba(213.90561550855637, 212.12307035923004, 212.12307035923004, 1);
}

.2099_2476 {
	border: 1px solid
		rgba(213.90561550855637, 212.12307035923004, 212.12307035923004, 1);
}

.e2099_2476 {
	width: 214.00001525878906px;
	height: 0px;
	/* position: absolute; */
	left: -1px;
	top: 854px;
}

.e2099_2483 {
	background-color: rgba(254.9889501929283, 133.50080519914627, 65.16375213861465, 1);
	width: 142px;
	height: 36px;
	position: absolute;
	left: 35px;
	top: 388px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.e2099_2468 {
	color: rgba(255, 255, 255, 1);
	width: max-content;
	height: 16px;
	position: absolute;
	left: 80px;
	top: 136px;
	/* font-family: Poppins; */
	text-align: center;
	font-size: 16px;
	letter-spacing: 2;
	cursor: pointer;
}

.e2099_2485 {
	background-color: rgba(254.00000005960464, 183.00000429153442, 117.00000062584877, 1);
	width: 150%;
	height: 52px;
	position: absolute;
	left: 203px;
	top: 0px;
}

.e2099_2486 {
	background-color: rgba(255, 255, 255, 1);
	width: 150%;
	height: 150%;
	position: absolute;
	left: 208px;
	top: 43px;
	border-radius: Symbol(figma.mixed) px;
	border-radius: 20px 0 0 0;
}

.e2099_2471 hr {
	border-color: white; /* 회색 색상 */
	width: 240px; /* 원하는 너비 */
}

.e2099_2476 hr {
	border-color: white; /* 회색 색상 */
	width: 240px; /* 원하는 너비 */
}

.admin_login {
	position: absolute;
	width: 205px;
	height: 100px;
	left: 0%;
	margin-top: 650px;
	/* bottom: 100%; */
	/* border: solid 1px black; */
}

.e2099_2486 button+button {
	margin-left: 10px;
}

.notice-btn, .faq-btn {
	font-weight: 600;
	border: none;
	color: white;
	display: inline-flex;
	padding: 12px 16px;
	align-items: flex-start;
	gap: 16px;
	border-radius: 4px;
	background: #FF8901;
	font-size: 13px;
	margin-right: 15px;
	cursor: pointer;
	width: fit-content;
}

.e2099_2487 {
	left: 55%;
	top: 74px;
	position: relative;
	transform: translateX(-48%);
	display: flex;
	flex-direction: row;
	align-items: center;
}

form {
	width: 500px;
}

caption {
	left: 0%;
	margin-bottom: 32px;
	color: #1C2A53;
	position: relative;
	font-size: 1.5rem;
	font-style: normal;
	font-weight: 700;
	line-height: 30px;
}

table {
	border-color: #E9EAF3;
	box-shadow: 0px 8px 32px 0px rgba(51, 38, 174, 0.08);
	border-style: hidden;
	position: relative;
	border-collapse: collapse;
	margin-bottom: 10px;
	left: 40%;
	transform: translateX(-50%);
}

th, td {
	padding: 3px 8px;
}

th {
	background-color: #F8F8F8;
	color: #8E95A9;
	padding: 5px 9px;
	height: 2rem;
}

td {
	padding: 5px 8px;
	text-align: center; /* 가운데 정렬 */
	color: #555F7E;
}

td:hover {
	text-shadow: -1px 1px 0px lightgray;
}

/* 자주 묻는 질문 */
.off-screen {
	display: none;
}

#nav {
	position: relative;
	width: 500px;
	text-align: center;
	left: 25%;
	transform: translateX(-100%);
	top: 100px;
}

#nav a {
	position: relative;
	display: inline-block;
	padding: 3px 5px;
	margin-right: 10px;
	background: #ccc;
	color: #000;
	text-decoration: none;
	left: 50%;
	transform: translateX(-50%);
}

#nav a.active {
	background: #333;
	color: #fff;
}

#noticeTable {
	width: 1200px;
	height: 300px;
	position: relative;
	top: 150px;
	left: 6%;
	display: block; /* 초기에는 공지사항 테이블 보이기 */
}

#faqTable {
	display: none; /* 초기에는 FAQ 테이블 숨기기 */
}

.insertAnno {
	position: relative;
	left: 1080px;
	top: 110px;
}

.insertAnno button {
	border: 2px solid orange;
	background-color: white;
	border-radius: 10px;
	font-size: 13px;
	cursor: pointer;
	width: 92px;
	height: 40px;
}

.numButton {
	position: relative;
	left: 40%;
	top: 40px;
	width: 100px;
}

.numButton a {
	padding: 3px 5px;
	margin-right: 10px;
	text-decoration: none;
	color: white;
	background: #FEB775;
	border-radius: 5px;
}
/* 자묻 */
.numButton2 {
	position: relative;
	left: 51rem;
	top: 17rem;
}

.numButton2 a {
	padding: 3px 5px;
	margin-right: 10px;
	color: white;
	border-radius: 5px;
	background: rgba(254, 137, 30, 0.61);
	text-decoration: none;
}

.numButton2 a.active {
	background: #333;
	color: #fff;
}

/*.insertFaq {
	position: relative;
	left: 775px;
	top: 155px;
}

.insertFaq button {
	border: 2px solid orange;
	background-color: white;
	border-radius: 10px;
	font-size: 13px;
	cursor: pointer;
	width: 92px;
	height: 40px;
}*/
a {
	color: #555F7E;
	text-decoration: none;
}

.sales {
	color: rgba(255, 255, 255, 1);
	width: max-content;
	height: 16px;
	position: absolute;
	left: 80px;
	top: 590px;
	text-align: center;
	font-size: 16px;
	letter-spacing: 2;
	cursor: pointer;
}