@charset "UTF-8";

/* 나만의 도시락 만들기 CSS */
.element {
	background-color: #ffffff;
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
}

.element .div {
	background-color: var(- -white);
	overflow: hidden;
	width: 1440px;
	height: 2000px;
	position: relative;
}

.element .frame {
	display: flex;
	width: 1200px;
	align-items: flex-start;
	gap: 104px;
	position: absolute;
	top: 271px;
	left: 120px;
}

.element .group {
	position: relative;
	width: 1200px;
	height: 1063px;
}

.element .overlap {
	position: absolute;
	width: 1200px;
	height: 1000px;
	top: 63px;
	left: 0;
}

.element .overlap-group-wrapper {
	position: absolute;
	width: 1200px;
	height: 1000px;
	top: 0;
	left: 0;
}

.element .overlap-group {
	position: relative;
	width: 1220px;
	height: 1020px;
	left: -5px;
	background-image: url(./img/group-13.png);
	background-size: 100% 100%;
}

.element .input-wrapper {
	position: absolute;
	width: 604px;
	height: 93px;
	top: 98px;
	left: 303px;
}

.element .input {
	display: flex;
	flex-direction: column;
	width: 604px;
	align-items: flex-start;
	gap: 5.4px;
	position: relative;
}

.element .label-check-helper {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	position: relative;
	align-self: stretch;
	width: 100%;
	flex: 0 0 auto;
}

.element .label-check {
	display: flex;
	align-items: flex-start;
	gap: 5.4px;
	position: relative;
	align-self: stretch;
	width: 100%;
	flex: 0 0 auto;
}

.element .text-wrapper {
	position: relative;
	flex: 1;
	margin-top: -1.35px;
	font-family: "Inter-Medium", Helvetica;
	font-weight: 500;
	color: var(- -gray-3-cinza-3);
	font-size: 21.6px;
	letter-spacing: 0;
	line-height: 32.4px;
}

.element .container-default {
	display: flex;
	width: 700px;
	align-items: flex-start;
	gap: 10.8px;
	padding: 10.8px;
	position: relative;
	flex: 0 0 auto;
	margin-right: -96.3px;
	background-color: var(- -white-branco);
	border-radius: 5.4px;
	border: 2.7px solid;
	border-color: #f38820;
}

.element .div-wrapper {
	position: absolute;
	width: 604px;
	height: 93px;
	top: 434px;
	left: 303px;
}

.element .group-2 {
	position: absolute;
	width: 604px;
	height: 93px;
	top: 266px;
	left: 303px;
}

.element .frame-wrapper {
	position: absolute;
	width: 1200px;
	height: 80px;
	top: 550px;
	left: 0;
}

.element .button-group-wrapper {
	height: 80px;
	background-color: #fbfcfd;
	border-radius: 0px 0px 10px 10px;
	overflow: hidden;
	box-shadow: inset 0px 1px 1px #0000001a;
}

.element .button-group {
	gap: 8px;
	top: 20px;
	left: 949px;
	display: inline-flex;
	align-items: center;
	position: relative;
}

.element .button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	padding: 12px 24px;
	position: relative;
	flex: 0 0 auto;
	margin-top: -0.2px;
	margin-bottom: -0.2px;
	margin-left: -0.2px;
	background-color: #ffffff;
	border-radius: 5px;
	all: unset;
	box-sizing: border-box;
}

.element .cancel {
	position: relative;
	width: fit-content;
	font-family: "Inter-Regular", Helvetica;
	font-weight: 400;
	color: #000000;
	font-size: 14px;
	letter-spacing: 0;
	line-height: normal;
}

.element .upload-wrapper {
	justify-content: center;
	gap: 10px;
	padding: 12px 24px;
	flex: 0 0 auto;
	margin-top: -1px;
	margin-bottom: -1px;
	margin-right: -1px;
	background-color: #ffffff;
	border-radius: 5px;
	border: 1px solid;
	border-color: #0000001a;
	box-shadow: 0px 1px 1px #00000029;
	display: inline-flex;
	align-items: center;
	position: relative;
	all: unset;
	box-sizing: border-box;
}

.element .upload {
	position: relative;
	width: fit-content;
	font-family: "Inter-Regular", Helvetica;
	font-weight: 400;
	color: #0f91d1;
	font-size: 14px;
	letter-spacing: 0;
	line-height: normal;
}

.element .frame-2 {
	display: flex;
	width: 200px;
	align-items: flex-start;
	gap: 580px;
	position: absolute;
	top: 0;
	left: 0;
	box-shadow: 5px 4px 10px #00000040;
}

.element .frame-3 {
	display: inline-flex;
	align-items: flex-start;
	gap: 45px;
	position: relative;
	flex: 0 0 auto;
}

.element .frame-4 {
	display: inline-flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 10px;
	position: relative;
	flex: 0 0 auto;
}

.element .text-wrapper-2 {
	position: relative;
	width: fit-content;
	margin-top: -1px;
	font-family: "Montserrat-SemiBold", Helvetica;
	font-weight: 600;
	color: #000000;
	font-size: 30px;
	letter-spacing: 0;
	line-height: normal;
}

.element .line {
	position: relative;
	align-self: stretch;
	width: 100%;
	height: 4px;
}

.element .footer {
	position: absolute;
	width: 1440px;
	height: 429px;
	top: 1571px;
	left: 0;
	background-color: #f9f9ff;
}

.element .company-loco {
	position: absolute;
	width: 375px;
	height: 284px;
	top: 76px;
	left: 118px;
}

.element .company {
	position: absolute;
	width: 377px;
	height: 227px;
	top: 0;
	left: 0;
}

.element .p {
	position: absolute;
	width: 375px;
	top: 138px;
	left: 0;
	font-family: var(- -p1-font-family);
	font-weight: var(- -p1-font-weight);
	color: var(- -gray);
	font-size: var(- -p1-font-size);
	letter-spacing: var(- -p1-letter-spacing);
	line-height: var(- -p1-line-height);
	font-style: var(- -p1-font-style);
}

.element .untitled {
	width: 181px;
	height: 108px;
	position: absolute;
	top: 0;
	left: 0;
	object-fit: cover;
}

.element .social-icon {
	position: absolute;
	width: 177px;
	height: 42px;
	top: 242px;
	left: 0;
}

.element .facebook {
	position: absolute;
	width: 42px;
	height: 42px;
	top: 0;
	left: 0;
	background-color: #f5dcc4;
	border-radius: 21px;
}

.element .mask-group {
	position: absolute;
	width: 22px;
	height: 22px;
	top: 10px;
	left: 10px;
}

.element .instagram {
	position: absolute;
	width: 42px;
	height: 42px;
	top: 0;
	left: 135px;
	background-color: #f5dcc4;
	border-radius: 21px;
}

.element .img {
	position: absolute;
	width: 18px;
	height: 18px;
	top: 12px;
	left: 12px;
}

.element .twitter {
	position: absolute;
	width: 42px;
	height: 42px;
	top: 0;
	left: 45px;
	background-color: #f5dcc4;
	border-radius: 21px;
}

.element .mask-group-2 {
	position: absolute;
	width: 23px;
	height: 23px;
	top: 10px;
	left: 10px;
}

.element .linkind {
	position: absolute;
	width: 42px;
	height: 42px;
	top: 0;
	left: 90px;
	background-color: #f5dcc4;
	border-radius: 21px;
}

.element .contact-us {
	position: absolute;
	width: 261px;
	height: 277px;
	top: 107px;
	left: 1088px;
}

.element .text-wrapper-3 {
	top: 0;
	left: 10px;
	font-family: var(- -h4-font-family);
	font-weight: var(- -h4-font-weight);
	color: #000000;
	font-size: var(- -h4-font-size);
	position: absolute;
	letter-spacing: var(- -h4-letter-spacing);
	line-height: var(- -h4-line-height);
	font-style: var(- -h4-font-style);
}

.element .group-3 {
	position: absolute;
	width: 215px;
	height: 90px;
	top: 100px;
	left: 10px;
}

.element .text-wrapper-4 {
	position: absolute;
	top: 0;
	left: 0;
	font-family: var(- -p1-font-family);
	font-weight: var(- -p1-font-weight);
	color: var(- -gray);
	font-size: var(- -p1-font-size);
	letter-spacing: var(- -p1-letter-spacing);
	line-height: var(- -p1-line-height);
	font-style: var(- -p1-font-style);
}

.element .text-wrapper-5 {
	position: absolute;
	top: 34px;
	left: 0;
	font-family: var(- -p1-font-family);
	font-weight: var(- -p1-font-weight);
	color: var(- -gray);
	font-size: var(- -p1-font-size);
	letter-spacing: var(- -p1-letter-spacing);
	line-height: var(- -p1-line-height);
	font-style: var(- -p1-font-style);
}

.element .text-wrapper-6 {
	position: absolute;
	top: 68px;
	left: 0;
	font-family: var(- -p1-font-family);
	font-weight: var(- -p1-font-weight);
	color: var(- -gray);
	font-size: var(- -p1-font-size);
	letter-spacing: var(- -p1-letter-spacing);
	line-height: var(- -p1-line-height);
	font-style: var(- -p1-font-style);
}

.element .group-4 {
	position: absolute;
	width: 261px;
	height: 58px;
	top: 219px;
	left: 0;
}

.element .overlap-group-2 {
	position: relative;
	width: 259px;
	height: 58px;
	background-color: var(- -white);
	border-radius: 32.5px;
	box-shadow: 0px 0px 15px #0000000d;
}

.element .vector-wrapper {
	position: absolute;
	width: 38px;
	height: 42px;
	top: 8px;
	left: 208px;
	background-image: url(./img/component-15.svg);
	background-size: 100% 100%;
}

.element .vector {
	position: absolute;
	width: 11px;
	height: 22px;
	top: 10px;
	left: 13px;
}

.element .text-wrapper-7 {
	position: absolute;
	width: 177px;
	top: 21px;
	left: 21px;
	font-family: var(- -p2-font-family);
	font-weight: var(- -p2-font-weight);
	color: var(- -gray);
	font-size: var(- -p2-font-size);
	letter-spacing: var(- -p2-letter-spacing);
	line-height: var(- -p2-line-height);
	font-style: var(- -p2-font-style);
}

.element .user-link {
	position: absolute;
	width: 161px;
	height: 258px;
	top: 107px;
	left: 865px;
}

.element .text-wrapper-8 {
	position: absolute;
	top: 0;
	left: 0;
	font-family: var(- -h4-font-family);
	font-weight: var(- -h4-font-weight);
	color: #000000;
	font-size: var(- -h4-font-size);
	letter-spacing: var(- -h4-letter-spacing);
	line-height: var(- -h4-line-height);
	font-style: var(- -h4-font-style);
}

.element .group-5 {
	position: absolute;
	width: 169px;
	height: 158px;
	top: 100px;
	left: 0;
}

.element .payment-tex {
	position: absolute;
	top: 102px;
	left: 0;
	font-family: var(- -p1-font-family);
	font-weight: var(- -p1-font-weight);
	color: var(- -gray);
	font-size: var(- -p1-font-size);
	letter-spacing: var(- -p1-letter-spacing);
	line-height: var(- -p1-line-height);
	font-style: var(- -p1-font-style);
}

.element .text-wrapper-9 {
	position: absolute;
	top: 136px;
	left: 0;
	font-family: var(- -p1-font-family);
	font-weight: var(- -p1-font-weight);
	color: var(- -gray);
	font-size: var(- -p1-font-size);
	letter-spacing: var(- -p1-letter-spacing);
	line-height: var(- -p1-line-height);
	font-style: var(- -p1-font-style);
}

.element .opening-restaurant {
	position: absolute;
	width: 278px;
	height: 190px;
	top: 107px;
	left: 523px;
}

.element .group-6 {
	position: absolute;
	width: 266px;
	height: 90px;
	top: 100px;
	left: 8px;
}

.element .group-7 {
	position: absolute;
	width: 1589px;
	height: 59px;
	top: 167px;
	left: -75px;
}

.element .date {
	position: absolute;
	width: 1589px;
	height: 42px;
	top: 0;
	left: 0;
}

.element .navbar {
	display: flex;
	width: 960px;
	align-items: flex-start;
	justify-content: space-between;
	position: relative;
	top: 6px;
	left: 314px;
}

.element .text-wrapper-10 {
	position: relative;
	width: fit-content;
	margin-top: -1px;
	font-family: "Inter-Bold", Helvetica;
	font-weight: 700;
	color: #797979;
	font-size: 25px;
	letter-spacing: 0;
	line-height: 30px;
	white-space: nowrap;
}

.element .element-sep {
	position: relative;
	width: fit-content;
	margin-top: -1px;
	text-shadow: 0px 4px 4px #00000040;
	font-family: "Inter-ExtraBold", Helvetica;
	font-weight: 800;
	color: #00a3ff;
	font-size: 25px;
	letter-spacing: 0;
	line-height: 30px;
	white-space: nowrap;
}

.element .base {
	position: absolute;
	width: 1400px;
	height: 1px;
	top: 59px;
	left: 94px;
}

.element .header {
	position: absolute;
	width: 1116px;
	height: 56px;
	top: 35px;
	left: 162px;
	background-color: transparent;
}

.element .top-nav {
	position: relative;
	width: 1116px;
	height: 56px;
}

.element .navbar-2 {
	position: absolute;
	width: 419px;
	height: 22px;
	top: 17px;
	left: 382px;
}

.element .text-wrapper-11 {
	left: 359px;
	color: #f38820;
	position: absolute;
	top: 0;
	font-family: var(- -h5-font-family);
	font-weight: var(- -h5-font-weight);
	font-size: var(- -h5-font-size);
	letter-spacing: var(- -h5-letter-spacing);
	line-height: var(- -h5-line-height);
	font-style: var(- -h5-font-style);
}

.element .text-wrapper-12 {
	left: 0;
	color: #000000;
	position: absolute;
	top: 0;
	font-family: var(- -h5-font-family);
	font-weight: var(- -h5-font-weight);
	font-size: var(- -h5-font-size);
	letter-spacing: var(- -h5-letter-spacing);
	line-height: var(- -h5-line-height);
	font-style: var(- -h5-font-style);
}

.element .text-wrapper-13 {
	left: 84px;
	color: #000000;
	position: absolute;
	top: 0;
	font-family: var(- -h5-font-family);
	font-weight: var(- -h5-font-weight);
	font-size: var(- -h5-font-size);
	letter-spacing: var(- -h5-letter-spacing);
	line-height: var(- -h5-line-height);
	font-style: var(- -h5-font-style);
}

.element .text-wrapper-14 {
	left: 167px;
	color: #000000;
	position: absolute;
	top: 0;
	font-family: var(- -h5-font-family);
	font-weight: var(- -h5-font-weight);
	font-size: var(- -h5-font-size);
	letter-spacing: var(- -h5-letter-spacing);
	line-height: var(- -h5-line-height);
	font-style: var(- -h5-font-style);
}

.element .text-wrapper-15 {
	left: 259px;
	color: #000000;
	position: absolute;
	top: 0;
	font-family: var(- -h5-font-family);
	font-weight: var(- -h5-font-weight);
	font-size: var(- -h5-font-size);
	letter-spacing: var(- -h5-letter-spacing);
	line-height: var(- -h5-line-height);
	font-style: var(- -h5-font-style);
}

.element .untitled-2 {
	width: 94px;
	height: 56px;
	position: absolute;
	top: 0;
	left: 0;
	object-fit: cover;
}

.element .div-2 {
	position: absolute;
	width: 176px;
	height: 31px;
	top: 5px;
	left: 942px;
	box-shadow: 0px 4px 4px #0000001a;
}

.element .text-wrapper-16 {
	position: absolute;
	top: 9px;
	left: 0;
	font-family: var(- -h5-font-family);
	font-weight: var(- -h5-font-weight);
	color: #000000;
	font-size: var(- -h5-font-size);
	letter-spacing: var(- -h5-letter-spacing);
	line-height: var(- -h5-line-height);
	font-style: var(- -h5-font-style);
}

.element .group-8 {
	position: absolute;
	width: 30px;
	height: 30px;
	top: 0;
	left: 146px;
}

.element .overlap-group-3 {
	position: relative;
	width: 29px;
	height: 31px;
	left: -1px;
}

.element .group-9 {
	position: absolute;
	width: 23px;
	height: 25px;
	top: 6px;
	left: 0;
}

.element .ellipse {
	position: absolute;
	width: 15px;
	height: 15px;
	top: 1px;
	left: 14px;
	background-color: var(- -tangerine);
	border-radius: 7.5px;
	box-shadow: 0px 0px 22px #cc0000cc;
}

.element .text-wrapper-17 {
	position: absolute;
	top: 0;
	left: 18px;
	font-family: var(- -p2-font-family);
	font-weight: var(- -p2-font-weight);
	color: var(- -white);
	font-size: var(- -p2-font-size);
	letter-spacing: var(- -p2-letter-spacing);
	line-height: var(- -p2-line-height);
	font-style: var(- -p2-font-style);
}

.bottom {
	position: relative;
	top: 30px;
	left: 300px;
}

.reset-button {
	position: absolute;
	left: 790px;
	margin: 0 5px;
	width: 100px;
	height: 50px;
	font-size: 15px;
	color: #f38820;
	border: 2px solid #f38820;
	border-radius: 50px;
	background-color: white;
}

.upload-button {
	position: absolute;
	left: 900px;
	margin: 0 5px;
	width: 100px;
	height: 50px;
	font-size: 15px;
	color: #f38820;
	border: 2px solid #f38820;
	border-radius: 50px;
	background-color: white;
}

.fileUpload {
	padding: 6px 25px;
	background-color: #f38820;
	border-radius: 4px;
	color: white;
	cursor: pointer;
}