@charset "UTF-8";

.screen {
	background-color: #ffffff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	align-content: center;
	align-items: center;
}

.screen .frame {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #F48E28;
	border-radius: 8px;
	transition: background-color 0.3s;
}

.screen .frame:hover {
	background-color: #FFA94D; /* 호버 시 frame의 배경색 변경 */
}

.screen .header {
	width: 1116px;
	height: 56px;
	top: 35px;
	left: 162px;
	background-color: transparent;
}

.screen .top-nav {
	position: relative;
	width: 1116px;
	height: 56px;
}

.screen .navbar {
	position: absolute;
	width: 419px;
	height: 22px;
	top: 17px;
	left: 382px;
}

.screen .text-wrapper-21 {
	left: 359px;
	color: #f38820;
	position: absolute;
	top: 0;
	font-family: var(- -h5-font-family);
	font-weight: var(- -h5-font-weight);
	font-size: var(- -h5-font-size);
	letter-spacing: var(- -h5-letter-spacing);
	line-height: var(- -h5-line-height);
	font-style: var(- -h5-font-style);
}

.screen .text-wrapper-22 {
	left: 0;
	color: #000000;
	position: absolute;
	top: 0;
	font-family: var(- -h5-font-family);
	font-weight: var(- -h5-font-weight);
	font-size: var(- -h5-font-size);
	letter-spacing: var(- -h5-letter-spacing);
	line-height: var(- -h5-line-height);
	font-style: var(- -h5-font-style);
}

.screen .text-wrapper-23 {
	left: 84px;
	color: #000000;
	position: absolute;
	top: 0;
	font-family: var(- -h5-font-family);
	font-weight: var(- -h5-font-weight);
	font-size: var(- -h5-font-size);
	letter-spacing: var(- -h5-letter-spacing);
	line-height: var(- -h5-line-height);
	font-style: var(- -h5-font-style);
}

.screen .text-wrapper-24 {
	left: 167px;
	color: #000000;
	position: absolute;
	top: 0;
	font-family: var(- -h5-font-family);
	font-weight: var(- -h5-font-weight);
	font-size: var(- -h5-font-size);
	letter-spacing: var(- -h5-letter-spacing);
	line-height: var(- -h5-line-height);
	font-style: var(- -h5-font-style);
}

.screen .text-wrapper-25 {
	left: 259px;
	color: #000000;
	position: absolute;
	top: 0;
	font-family: var(- -h5-font-family);
	font-weight: var(- -h5-font-weight);
	font-size: var(- -h5-font-size);
	letter-spacing: var(- -h5-letter-spacing);
	line-height: var(- -h5-line-height);
	font-style: var(- -h5-font-style);
}

.screen .untitled-2 {
	width: 94px;
	height: 56px;
	position: absolute;
	top: 0;
	left: 0;
	object-fit: cover;
}

.screen .div-2 {
	position: absolute;
	width: 176px;
	height: 31px;
	top: 5px;
	left: 942px;
	box-shadow: 0px 4px 4px #0000001a;
}

.screen .text-wrapper-26 {
	position: absolute;
	top: 9px;
	left: 0;
	font-family: var(- -h5-font-family);
	font-weight: var(- -h5-font-weight);
	color: #000000;
	font-size: var(- -h5-font-size);
	letter-spacing: var(- -h5-letter-spacing);
	line-height: var(- -h5-line-height);
	font-style: var(- -h5-font-style);
}

.screen .group-5 {
	position: absolute;
	width: 30px;
	height: 30px;
	top: 0;
	left: 146px;
}

.screen .overlap-group-5 {
	position: relative;
	width: 29px;
	height: 31px;
	left: -1px;
}

.screen .group-6 {
	position: absolute;
	width: 23px;
	height: 25px;
	top: 6px;
	left: 0;
}

.screen .ellipse-3 {
	position: absolute;
	width: 15px;
	height: 15px;
	top: 1px;
	left: 14px;
	background-color: var(- -tangerine);
	border-radius: 7.5px;
	box-shadow: 0px 0px 22px #cc0000cc;
}

.screen .text-wrapper-27 {
	position: absolute;
	top: 0;
	left: 18px;
	font-family: var(- -p2-font-family);
	font-weight: var(- -p2-font-weight);
	color: var(- -white);
	font-size: var(- -p2-font-size);
	letter-spacing: var(- -p2-letter-spacing);
	line-height: var(- -p2-line-height);
	font-style: var(- -p2-font-style);
}

a {
	text-decoration: none;
	color: #404040;
}

hr {
    top: -10px;
    width: 80%;
    background: #a0a0a0;
    margin: 0 auto;
    height: 1px;
    border: 0;
}

li {
	list-style: none;
}

#event_menu {
	margin-top: 150px;
}

#event_menu ul {
	width: 686px;
	margin: 0 auto;
	overflow: hidden;
}

#event_menu ul li {
	float: left;
	/* width: 20%; */
	height: 73px;
	line-height: 50px;
	text-align: center;
}

#event_menu ul li a {
	padding: 25px;
    text-decoration: none;
    color: #7A7A7A;
    transition: color 0.3s;
    font-size: 1.1rem;
    font-weight: 700;
    position: relative;
    top: 10px;
}

#event_menu ul li:first-child a {
	background-color: #feae64;
    border-radius: 30px;
    height: 0px;
    color: white;
    text-shadow: rgba(0, 0, 0, 0.3) 2px 2px 4px;
}

/* 게시판 스타일 */
.board {
    position: relative;
    margin: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    width: 1200px;
    left: 50%;
    transform: translateX(-50%);
    top: 30px;
    border-radius: 30px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    height: 800px;
}

/* 입력 필드 스타일 */
.board input[type="text"] {
  width: 300px;
  padding: 5px;
  margin-bottom: 10px;
}

.board input[type="text"]#challenge_cont {
  height: 100px;
}

/* 이미지 스타일 */
.board img {
  max-width: 100%;
  height: 550px;
  margin-bottom: 10px;
  border-radius: 10px;
  width: 550px;
    position: relative;
    top: -500px;
    left: 30px;
}

/* 숨겨진 필드 스타일 */
.board input[type="hidden"] {
  display: none;
}

.button_two {
    position: relative;
    top: -430px;
    left: 650px;
}
.button1 {
    position: relative;
    margin: 0 300px;
    width: 122px;
    height: 50px;
    left: -133px;
    top: 59px;
    font-size: 15px;
    color: #f38820;
    border: 2px solid #f38820;
    border-radius: 30px;
    background-color: white;
    cursor: pointer;
}
.button2 {
    position: relative;
    margin: 0 300px;
    width: 122px;
    top: 8px;
    height: 50px;
    font-size: 15px;
    color: #f38820;
    border: 2px solid #f38820;
    border-radius: 30px;
    background-color: white;
    cursor: pointer;
}
.button3 {
    position: relative;
    margin: 0 300px;
    width: 122px;
    top: -42px;
    height: 50px;
    font-size: 15px;
    color: #f38820;
    border: 2px solid #f38820;
    border-radius: 30px;
    background-color: white;
    cursor: pointer;
    left: 135px;
}

.button4{
	position: relative;
    margin: 0 300px;
    width: 122px;
    top: 50px;
    height: 50px;
    font-size: 15px;
    color: #f38820;
    border: 2px solid #f38820;
    border-radius: 30px;
    background-color: white;
    cursor: pointer;
    left: 135px;
}

#challenge_name{
	border: none;
    border-radius: 10px;
    margin-bottom: 30px;
    padding-left: 20px;
    height: 50px;
    font-size: 3rem;
    font-weight: 700;
    background-color: #f9f9f9;
    color: #feae64;
    position: relative;
    top: 10px;
    left: 10px;
    width: 500px;
}

#challenge_cont,
#mem_id,
#challenge_date,
#likeCnt{
	border: none;
	border-radius: 10px;
	margin-bottom: 30px;
	padding-left: 20px;
	height: 30px;
	font-size: 1.1rem;
	width: 500px;
	position: relative;
    left: 650px;
}

#challenge_name:focus-visible{
	outline: none;
}
#challenge_cont:focus-visible{
	outline: none;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
#mem_id:focus-visible{
	outline: none;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
#challenge_date:focus-visible{
	outline: none;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
#likeCnt:focus-visible{
	outline: none;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.challenge_cont,
.mem_id,
.challenge_date,
.likeCnt{
	color: #7A7A7A;
	font-size: 1.1rem;
    font-weight: 700;
    position: relative;
    left: 650px;  
}

.cont{
	position: relative;
	top: 75px;
}
