@charset "UTF-8";

.inner-coupon-wrapper {
	cursor: pointer; color : gray;
	height: fit-content;
	width: 600px;
	font-weight: 500;
	color: gray;
}

.inner-coupon {
	margin-top: 10px;
	margin-bottom: 5px;
	gap: 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.coupon-ready {
	border-radius: 30px;
	width: fit-content;
	background: #D8F0ED;
	display: flex;
	align-items: flex-start;
	gap: 10px;
	color: #3C3C43;
	padding: 4px 8px;
	align-items: flex-start;
	gap: 10px;
	transition: box-shadow 0.5s ease;
}

.coupon-ready:hover {
	box-shadow: 0px 0px 18px 0px #D8F0ED;
}

.register-coupon {
	display: none;
	cursor: pointer;
	color: white;
	background: #FF8000;
	text-align: center;
	padding: 13px 16px;
	justify-content: center;
	align-items: center;
	gap: 6px;
	position: relative;
	width: 100px;
	left: 240px;
	border-radius: 30px;
	top: 20px;
	transition: box-shadow 0.5s ease;
}

.register-coupon:hover {
	box-shadow: 0px 0px 13px orange;
}

.coupon-code {
	display: none;
	padding-left: 20px;
	border-radius: 30px;
	border: 2px solid #D7D7E0;
	background: #FFF;
	width: 580px;
	height: 57px;
	top: 0px;
	position: relative;
	padding-left: 20px;
}

.coupon-code:focus-visible {
	outline: none;
	box-shadow: 3px 2px 3px 0px lightgray;
}

.154_564 {
	overflow: hidden;
}

/*.e154_564 {
	background-color: rgba(255, 255, 255, 1);
	width: 1440px;
	height: 1788px;
	position: absolute;
}*/
.e154_565 {
	width: 1073px;
	height: 56px;
	position: absolute;
	left: 166px;
	top: 37px;
}

.e154_566 {
	width: 94px;
	height: 56px;
	position: absolute;
	left: 0px;
	top: 0px;
}

.e154_567 {
	width: 94px;
	height: 56px;
	position: absolute;
	left: 0px;
	top: 0px;
	background-image: url(${cpath}/resources/images/my/untitled_1_1.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.e154_568 {
	color: rgba(0, 0, 0, 1);
	width: 80px;
	height: 22px;
	position: absolute;
	left: 314px;
	top: 18px;
	/**/
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
}

.e154_569 {
	color: rgba(0, 0, 0, 1);
	width: 93px;
	height: 22px;
	position: absolute;
	left: 421px;
	top: 17px;
	/**/
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
}

.e154_570 {
	color: rgba(0, 0, 0, 1);
	width: 80px;
	height: 22px;
	position: absolute;
	left: 541px;
	top: 17px;
	/**/
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
}

.e154_571 {
	color: rgba(0, 0, 0, 1);
	width: 80px;
	height: 22px;
	position: absolute;
	left: 648px;
	top: 18px;
	/**/
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
}

.e154_572 {
	color: rgba(0, 0, 0, 1);
	width: 80px;
	height: 22px;
	position: absolute;
	left: 755px;
	top: 18px;
	/**/
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
}

.e154_573 {
	color: rgba(0, 0, 0, 1);
	width: 89px;
	height: 22px;
	position: absolute;
	left: 951px;
	top: 18px;
	/**/
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
}

.e154_574 {
	width: 33px;
	height: 36px;
	position: absolute;
	left: 1040px;
	top: 10px;
	background-image: url(../images/my/basketimage.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.e154_575 {
	box-shadow: 0px 0px 22px
		rgba(204.00000303983688, 0, 0, 0.800000011920929);
	border-radius: 500px;
	background-color: rgba(244.0000006556511, 142.00000673532486, 40.00000141561031, 1);
	width: 15px;
	height: 15px;
	position: absolute;
	left: 1057px;
	top: 10px;
}

.e154_576 {
	width: 1337px;
	height: 906px;
	position: absolute;
	left: 245px;
	top: 170px;
}

.e154_577 {
	width: 300px;
	height: 69.015625px;
	position: absolute;
	left: 307px;
	top: 0px;
}

.e154_578 {
	font-weight: 600;
	color: #484848;
	width: 152.17800903320312px;
	height: 18px;
	position: absolute;
	left: 193.292969px;
	top: 0px;
	text-align: left;
	font-size: 14px;
	letter-spacing: 0;
}

.e154_579 {
	color: #484848;
	width: 300px;
	height: 41px;
	position: absolute;
	left: 0px;
	top: 28.015625px;
	font-weight: 800;
	text-align: left;
	font-size: 32px;
	letter-spacing: 0;
	line-height: px;
	text-align: left;
}

.e154_580 {
	left: 155px;
	top: -3px;
	width: 15.217805862426758px;
	height: 23.37931px;
	position: absolute;
	background-image: url(../images/my/image_8.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.e154_581 {
	font-weight: 600;
	color: #484848;
	width: 160.610756px;
	height: 18px;
	position: absolute;
	left: 2.05078125px;
	top: 0px;
	text-align: left;
	font-size: 14px;
	letter-spacing: 0;
}

.e154_582 {
	width: 950.1522827148438px;
	height: 742px;
	position: absolute;
	left: 386.84765625px;
	top: 164px;
}

.e154_583 {
	display: flex;
	flex-direction: column;
	row-gap: 20px;
	width: 950.1522827148438px;
	height: 742px;
	position: absolute;
	left: 0px;
	top: 0px;
}

.e156_637 {
	border-radius: 30px;
	border: 2px solid #D7D7E0;
	background: #FFF;
	width: 600px;
	height: 60px;
	position: relative;
	top: 0px;
	left: 0.15234375px;
}

.156_637 {
	border: 1px solid
		rgba(215.04000663757324, 215.04000663757324, 224.000001847744, 1);
}

.ei156_637_4461_77640 {
	width: 556px;
	height: 39px;
	position: absolute;
	left: 16px;
	top: 9px;
}

.ei156_637_4461_77641 {
	color: rgba(154.00000602006912, 154.00000602006912, 166.00000530481339, 1);
	width: 556px;
	height: 15px;
	position: absolute;
	left: 0px;
	top: 0px;
	/**/
	text-align: left;
	font-size: 12px;
	letter-spacing: 0;
}

.ei156_637_4461_77642 {
	width: 556px;
	height: 20px;
	position: absolute;
	left: 0px;
	top: 19px;
}

.ei156_637_4461_77643 {
	color: rgba(60.00000022351742, 60.00000022351742, 67.00000360608101, 1);
	width: 300px;
	height: 19px;
	position: absolute;
	left: 0px;
	top: 1px;
	/**/
	text-align: left;
	font-size: 16px;
	letter-spacing: 0;
	font-weight: 500;
}

.ei156_637_4461_77644 {
	background-color: rgba(216.04777336120605, 240.05307644605637, 236.77962809801102, 1);
	width: 40px;
	height: 20px;
	position: absolute;
	left: 130px;
	top: 0px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

.ei156_637_4461_77644_1669_22429 {
	color: rgba(60.00000022351742, 60.00000022351742, 67.00000360608101, 1);
	width: 24px;
	height: 12px;
	position: absolute;
	left: 8px;
	top: 4px;
	/**/
	text-align: left;
	font-size: 12px;
	letter-spacing: 0;
}

.ei156_637_4576_82564 {
	width: 72px;
	height: 24px;
	position: absolute;
	left: 588px;
	top: 16.5px;
}

.e156_689 {
	text-align: center;
	background: #EFEFF4;
	padding: 4px 8px;
	border-radius: 4px;
	color: rgba(0, 0, 0, 1);
	width: fit-content;
	height: 22px;
	position: absolute;
	left: 520px;
	top: 15px;
	font-size: 15px;
	letter-spacing: 0;
}

.e156_688 {
	width: 41px;
	height: 39.5px;
	position: relative;
	top: 40px;
	background-image: url(../images/my/image_33.png);
	background-repeat: no-repeat;
	background-size: cover;
	left: 280px;
}

.e154_591 {
	cursor: pointer;
	width: 250px;
	height: 270px;
	position: absolute;
	left: 0px;
	top: 141px;
	background-color: #ffffff;
	border-radius: 16px;
	border: 2px solid;
	border-color: #e7e7e7;
}

.154_591 {
	border: 2px solid
		rgba(231.62500709295273, 231.62500709295273, 231.62500709295273, 1);
}

.e154_592 {
	width: 198px;
	height: 47px;
	position: absolute;
	left: 26px;
	top: 26px;
}

.e154_593 {
	font-size: 21px;
	font-style: normal;
	font-weight: 700;
	width: 83px;
	height: 26px;
	position: absolute;
	left: 52px;
	top: 0px;
	text-align: left;
	letter-spacing: 0;
}

.e154_594 {
	color: #F48E28;
	font-size: 13px;
	font-style: normal;
	font-weight: 700;
	line-height: 20px;
	letter-spacing: 0.8px;
	text-transform: uppercase;
	width: 71px;
	height: 20px;
	position: absolute;
	left: 53px;
	top: 27px;
	text-align: left;
}

.e154_595 {
	/* 	background-image: url(../images/my/profile.png); */
	position: absolute;
	width: 40px;
	height: 40px;
	top: 0;
	left: 0;
	border-radius: 20px;
	background-size: cover;
	background-position: 50% 50%;
}

.e154_596 {
	font-size: 14px;
	font-style: normal;
	font-weight: 700;
	line-height: 20px;
	width: 198px;
	height: 206px;
	position: absolute;
	left: 26px;
	top: 98px;
}

.e155_635 {
	width: 198px;
	height: 50px;
	position: absolute;
	left: 0px;
	top: 0px;
}

.e155_636 {
	color: rgba(60.00000022351742, 60.00000022351742, 60.00000022351742, 1);
	width: 135px;
	height: 20px;
	position: absolute;
	left: 20px;
	top: 15px;
	/**/
	text-align: left;
	font-size: 14px;
	letter-spacing: 0;
	line-height: px;
}

.e155_633 {
	background-color: rgba(254.99996960163116, 174.5559909939766, 100.30001074075699, 1);
	width: 198px;
	height: 50px;
	position: absolute;
	left: 0px;
	top: 52px;
	border-top-left-radius: 16px;
	border-top-right-radius: 16px;
	border-bottom-left-radius: 16px;
	border-bottom-right-radius: 16px;
}

.e155_634 {
	font-size: 14px;
	font-style: normal;
	font-weight: 700;
	line-height: 20px;
	color: rgba(255, 255, 255, 1);
	width: 135px;
	height: 20px;
	position: absolute;
	left: 20px;
	top: 15px;
	text-align: left;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	letter-spacing: 0;
	line-height: px;
}

.e154_601 {
	width: 198px;
	height: 50px;
	position: absolute;
	left: 0px;
	top: 104px;
}

.e154_602 {
	color: rgba(60.00000022351742, 60.00000022351742, 60.00000022351742, 1);
	width: 135px;
	height: 20px;
	position: absolute;
	left: 20px;
	top: 15px;
	/**/
	text-align: left;
	font-size: 14px;
	letter-spacing: 0;
	line-height: px;
}

.e154_603 {
	width: 198px;
	height: 50px;
	position: absolute;
	left: 0px;
	top: 156px;
	border-top-left-radius: 16px;
	border-top-right-radius: 16px;
	border-bottom-left-radius: 16px;
	border-bottom-right-radius: 16px;
}

.e154_604 {
	color: rgba(60.00000022351742, 60.00000022351742, 60.00000022351742, 1);
	width: 135px;
	height: 20px;
	position: absolute;
	left: 20px;
	top: 15px;
	/**/
	text-align: left;
	font-size: 14px;
	letter-spacing: 0;
	line-height: px;
}

.e154_605 {
	width: 1440px;
	height: 429px;
	position: absolute;
	left: 0px;
	top: 1359px;
}

.e154_606 {
	background-color: rgba(249.6875050663948, 249.900004863739, 255, 1);
	width: 1440px;
	height: 429px;
	position: absolute;
	left: 0px;
	top: 0px;
}

.e154_607 {
	width: 393px;
	height: 227px;
	position: absolute;
	left: 118px;
	top: 76px;
}

.e154_608 {
	width: 393px;
	height: 227px;
	position: absolute;
	left: 0px;
	top: 0px;
}

.e154_609 {
	color: rgba(181.68749392032623, 181.68749392032623, 181.68749392032623, 1);
	width: 393px;
	height: 89px;
	position: absolute;
	left: 0px;
	top: 138px;
	/**/
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
}

.e154_610 {
	width: 189.68800354003906px;
	height: 108px;
	position: absolute;
	left: 0px;
	top: 0px;
	background-image: url(${cpath}/resources/images/my/untitled_1_2.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.e154_611 {
	width: 234px;
	height: 190px;
	position: absolute;
	left: 1098px;
	top: 107px;
}

.e154_612 {
	color: rgba(0, 0, 0, 1);
	width: 167.9425811767578px;
	height: 32px;
	position: absolute;
	left: 0px;
	top: 0px;
	/**/
	text-align: left;
	font-size: 26px;
	letter-spacing: 0;
}

.e154_613 {
	width: 234px;
	height: 90px;
	position: absolute;
	left: 0px;
	top: 100px;
}

.e154_614 {
	color: rgba(181.68749392032623, 181.68749392032623, 181.68749392032623, 1);
	width: 228.40191650390625px;
	height: 22px;
	position: absolute;
	left: 0px;
	top: 0px;
	/**/
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
}

.e154_615 {
	color: rgba(181.68749392032623, 181.68749392032623, 181.68749392032623, 1);
	width: 234px;
	height: 22px;
	position: absolute;
	left: 0px;
	top: 34px;
	/**/
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
}

.e154_616 {
	color: rgba(181.68749392032623, 181.68749392032623, 181.68749392032623, 1);
	width: 148.90908813476562px;
	height: 22px;
	position: absolute;
	left: 0px;
	top: 68px;
	/**/
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
}

.e154_617 {
	width: 194px;
	height: 258px;
	position: absolute;
	left: 865px;
	top: 107px;
}

.e154_618 {
	color: rgba(0, 0, 0, 1);
	width: 156.1761016845703px;
	height: 32px;
	position: absolute;
	left: 0px;
	top: 0px;
	/**/
	text-align: left;
	font-size: 26px;
	letter-spacing: 0;
}

.e154_619 {
	width: 194px;
	height: 158px;
	position: absolute;
	left: 0px;
	top: 100px;
}

.e154_620 {
	color: rgba(181.68749392032623, 181.68749392032623, 181.68749392032623, 1);
	width: 103.710693359375px;
	height: 22px;
	position: absolute;
	left: 0px;
	top: 0px;
	/**/
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
}

.e154_621 {
	color: rgba(181.68749392032623, 181.68749392032623, 181.68749392032623, 1);
	width: 123.23270416259766px;
	height: 22px;
	position: absolute;
	left: 0px;
	top: 34px;
	/**/
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
}

.e154_622 {
	color: rgba(181.68749392032623, 181.68749392032623, 181.68749392032623, 1);
	width: 162.2767333984375px;
	height: 22px;
	position: absolute;
	left: 0px;
	top: 68px;
	/**/
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
}

.e154_623 {
	color: rgba(181.68749392032623, 181.68749392032623, 181.68749392032623, 1);
	width: 165.93710327148438px;
	height: 22px;
	position: absolute;
	left: 0px;
	top: 102px;
	/**/
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
}

.e154_624 {
	color: rgba(181.68749392032623, 181.68749392032623, 181.68749392032623, 1);
	width: 194px;
	height: 22px;
	position: absolute;
	left: 0px;
	top: 136px;
	/**/
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
}

.e154_625 {
	width: 295px;
	height: 190px;
	position: absolute;
	left: 523px;
	top: 107px;
}

.e154_626 {
	color: rgba(0, 0, 0, 1);
	width: 295px;
	height: 32px;
	position: absolute;
	left: 0px;
	top: 0px;
	/**/
	text-align: left;
	font-size: 26px;
	letter-spacing: 0;
}

.e154_627 {
	width: 277.8985595703125px;
	height: 90px;
	position: absolute;
	left: 8.550724983215332px;
	top: 100px;
}

.e154_628 {
	color: rgba(181.68749392032623, 181.68749392032623, 181.68749392032623, 1);
	width: 264.0036315917969px;
	height: 22px;
	position: absolute;
	left: 0px;
	top: 0px;
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
}

.e154_629 {
	color: rgba(181.68749392032623, 181.68749392032623, 181.68749392032623, 1);
	width: 277.8985595703125px;
	height: 22px;
	position: absolute;
	left: 0px;
	top: 34px;
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
}

.e154_630 {
	color: rgba(181.68749392032623, 181.68749392032623, 181.68749392032623, 1);
	width: 239.4202880859375px;
	height: 22px;
	position: absolute;
	left: 0px;
	top: 68px;
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
}

.e154_631 {
	width: 147px;
	height: 47px;
	position: absolute;
	left: 118px;
	top: 313px;
	background-image: url(../images/my/snsicon.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.e154_632 {
	width: 223px;
	height: 67px;
	position: absolute;
	left: 1091px;
	top: 320px;
	background-image: url(../images/my/image_7.png);
	background-repeat: no-repeat;
	background-size: cover;
}