@charset "UTF-8";

.e62_326,
.e63_173,
.e62_465 {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.e62_326.active,
.e63_173.active,
.e62_465.active {
  opacity: 1;
}

#main {
	margin: 0 0;
	margin-bottom: 30px;
}

.screen {
	background-color: #ffffff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	align-content: center;
	align-items: center;
}

.screen .frame {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #F48E28;
	border-radius: 8px;
	transition: background-color 0.3s;
}

.screen .frame:hover {
	background-color: #FFA94D; /* 호버 시 frame의 배경색 변경 */
}

.screen .header {
	width: 1116px;
	height: 56px;
	top: 35px;
	left: 162px;
	background-color: transparent;
}

.screen .top-nav {
	position: relative;
	width: 1116px;
	height: 56px;
}

.screen .navbar {
	position: absolute;
	width: 419px;
	height: 22px;
	top: 17px;
	left: 382px;
}

.screen .text-wrapper-21 {
	left: 359px;
	color: #f38820;
	position: absolute;
	top: 0;
}

.screen .text-wrapper-22 {
	left: 0;
	color: #000000;
	position: absolute;
	top: 0;
}

.screen .text-wrapper-23 {
	left: 84px;
	color: #000000;
	position: absolute;
}

.screen .text-wrapper-24 {
	left: 167px;
	color: #000000;
	position: absolute;
}

.screen .text-wrapper-25 {
	left: 259px;
	color: #000000;
	position: absolute;
}

.screen .untitled-2 {
	width: 94px;
	height: 56px;
	position: absolute;
	top: 0;
	left: 0;
	object-fit: cover;
}

.screen .div-2 {
	position: absolute;
	width: 176px;
	height: 31px;
	top: 5px;
	left: 942px;
	box-shadow: 0px 4px 4px #0000001a;
}

.screen .text-wrapper-26 {
	position: absolute;
	top: 9px;
	left: 0;
	color: #000000;
}

.screen .group-5 {
	position: absolute;
	width: 30px;
	height: 30px;
	top: 0;
	left: 146px;
}

.screen .overlap-group-5 {
	position: relative;
	width: 29px;
	height: 31px;
	left: -1px;
}

.screen .group-6 {
	position: absolute;
	width: 23px;
	height: 25px;
	top: 6px;
	left: 0;
}

.screen .ellipse-3 {
	position: absolute;
	width: 15px;
	height: 15px;
	top: 1px;
	left: 14px;
	background-color: var(- -tangerine);
	border-radius: 7.5px;
	box-shadow: 0px 0px 22px #cc0000cc;
}

.screen .text-wrapper-27 {
	position: absolute;
	top: 0;
	left: 18px;
}

a {
	text-decoration: none;
	color: #404040;
}

li {
	list-style: none;
}

#event_menu {
	margin-top: 100px;
}

#event_menu ul {
	width: 686px;
	margin: 0 auto;
	overflow: hidden;
}

#event_menu ul li {
	float: left;
	/* width: 20%; */
	height: 73px;
	line-height: 50px;
	text-align: center;
}

#event_menu ul li a {
	display: block;
	padding: 27px; /* 상하좌우에 동일한 padding 값 적용 */
	text-decoration: none; /* 링크에 밑줄 제거 */
	color: black; /* 기본 텍스트 색상 지정 */
	transition: color 0.3s; /* hover 효과 부드럽게 적용 */
}

#event_menu ul li:nth-child(5) a {
	color: blue; /* 두 번째 a 태그에만 파란색을 적용합니다 */
}

#event_menu ul li a:hover {
	color: blue;
}

hr {
	width: 80%;
	background: #a0a0a0;
	margin: 0 auto;
	height: 1px;
	border: 0;
}

.62_324 {
	overflow: hidden;
}

.e62_324 {
	margin-top: 2rem;
	background-color: rgba(255, 255, 255, 1);
	width: 100%;
	height: 2074px;
	position: absolute;
	margin: 0 auto;
}

.e62_385 {
	width: 1440px;
	height: 429px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 1645px;
}

.e62_386 {
	background-color: rgba(249.6875050663948, 249.900004863739, 255, 1);
	width: 1440px;
	height: 429px;
	position: absolute;
	left: 0px;
	top: 0px;
}

.e62_387 {
	width: 375px;
	height: 284px;
	position: absolute;
	left: 118px;
	top: 76px;
}

.e62_388 {
	width: 375px;
	height: 227px;
	position: absolute;
	left: 0px;
	top: 0px;
}

.e62_389 {
	color: rgba(181.68749392032623, 181.68749392032623, 181.68749392032623, 1);
	width: 375px;
	height: 89px;
	position: absolute;
	left: 0px;
	top: 138px;
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
}

.e62_390 {
	width: 181px;
	height: 108px;
	position: absolute;
	left: 0px;
	top: 0px;
	background-image: url(images/untitled_1_2.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.e62_391 {
	width: 177px;
	height: 42px;
	position: absolute;
	left: 0px;
	top: 242px;
}

.e62_392 {
	width: 42px;
	height: 42px;
	position: absolute;
	left: 0px;
	top: 0px;
}

.e62_393 {
	width: 42px;
	height: 42px;
	position: absolute;
	left: 0px;
	top: 0px;
}

.e62_394 {
	border-radius: 500px;
	background-color: rgba(245.43749392032623, 220.8937445282936, 196.349995136261, 1);
	width: 42px;
	height: 42px;
	position: absolute;
	left: 0px;
	top: 0px;
}

.e62_395 {
	width: 22px;
	height: 22px;
	position: absolute;
	left: 10px;
	top: 10px;
}

.62_396 {
	overflow: hidden;
}

.e62_396 {
	width: 22px;
	height: 22px;
	position: absolute;
	left: 0px;
	top: 0px;
}

.e62_397 {
	background-color: rgba(244.0000006556511, 142.00000673532486, 40.00000141561031, 1);
	width: 31.730770111083984px;
	height: 30.03845977783203px;
	position: absolute;
	left: -2.1153926849365234px;
	top: -4.230785369873047px;
}

.e62_398 {
	width: 42px;
	height: 42px;
	position: absolute;
	left: 135px;
	top: 0px;
}

.e62_399 {
	width: 42px;
	height: 42px;
	position: absolute;
	left: 0px;
	top: 0px;
}

.e62_400 {
	border-radius: 500px;
	background-color: rgba(245.43749392032623, 220.8937445282936, 196.349995136261, 1);
	width: 42px;
	height: 42px;
	position: absolute;
	left: 0px;
	top: 0px;
}

.e62_401 {
	width: 18px;
	height: 18px;
	position: absolute;
	left: 12px;
	top: 12px;
}

.62_402 {
	overflow: hidden;
}

.e62_402 {
	width: 18px;
	height: 18px;
	position: absolute;
	left: 0px;
	top: 0px;
}

.e62_403 {
	background-color: rgba(244.0000006556511, 142.00000673532486, 40.00000141561031, 1);
	width: 33.75px;
	height: 23.625px;
	position: absolute;
	left: -9px;
	top: -3.375px;
}

.e62_404 {
	width: 42px;
	height: 42px;
	position: absolute;
	left: 45px;
	top: 0px;
}

.e62_405 {
	width: 42px;
	height: 42px;
	position: absolute;
	left: 0px;
	top: 0px;
}

.e62_406 {
	border-radius: 500px;
	background-color: rgba(245.43749392032623, 220.8937445282936, 196.349995136261, 1);
	width: 42px;
	height: 42px;
	position: absolute;
	left: 0px;
	top: 0px;
}

.e62_407 {
	width: 23px;
	height: 23px;
	position: absolute;
	left: 10px;
	top: 10px;
}

.62_408 {
	overflow: hidden;
}

.e62_408 {
	width: 23px;
	height: 23px;
	position: absolute;
	left: 0px;
	top: 0px;
}

.e62_409 {
	background-color: rgba(244.0000006556511, 142.00000673532486, 40.00000141561031, 1);
	width: 27.600000381469727px;
	height: 25.760000228881836px;
	position: absolute;
	left: -2.759999990463257px;
	top: -2.759999990463257px;
}

.e62_410 {
	width: 42px;
	height: 42px;
	position: absolute;
	left: 90px;
	top: 0px;
}

.e62_411 {
	width: 42px;
	height: 42px;
	position: absolute;
	left: 0px;
	top: 0px;
}

.e62_412 {
	border-radius: 500px;
	background-color: rgba(245.43749392032623, 220.8937445282936, 196.349995136261, 1);
	width: 42px;
	height: 42px;
	position: absolute;
	left: 0px;
	top: 0px;
}

.e62_413 {
	width: 23px;
	height: 23px;
	position: absolute;
	left: 10px;
	top: 10px;
}

.62_414 {
	overflow: hidden;
}

.e62_414 {
	width: 23px;
	height: 23px;
	position: absolute;
	left: 0px;
	top: 0px;
}

.e62_415 {
	background-color: rgba(244.0000006556511, 142.00000673532486, 40.00000141561031, 1);
	width: 29.440000534057617px;
	height: 24.84000015258789px;
	position: absolute;
	left: -2.759999990463257px;
	top: 0px;
}

.e62_416 {
	width: 259px;
	height: 277px;
	position: absolute;
	left: 1088px;
	top: 107px;
}

.e62_417 {
	color: rgba(0, 0, 0, 1);
	width: 150px;
	height: 32px;
	position: absolute;
	left: 10px;
	top: 0px;
	text-align: left;
	font-size: 26px;
	letter-spacing: 0;
}

.e62_418 {
	width: 209px;
	height: 90px;
	position: absolute;
	left: 10px;
	top: 100px;
}

.e62_419 {
	color: rgba(181.68749392032623, 181.68749392032623, 181.68749392032623, 1);
	width: 204px;
	height: 22px;
	position: absolute;
	left: 0px;
	top: 0px;
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
}

.e62_420 {
	color: rgba(181.68749392032623, 181.68749392032623, 181.68749392032623, 1);
	width: 209px;
	height: 22px;
	position: absolute;
	left: 0px;
	top: 34px;
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
}

.e62_421 {
	color: rgba(181.68749392032623, 181.68749392032623, 181.68749392032623, 1);
	width: 133px;
	height: 22px;
	position: absolute;
	left: 0px;
	top: 68px;
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
}

.e62_422 {
	width: 259px;
	height: 58px;
	position: absolute;
	left: 0px;
	top: 219px;
}

.e62_423 {
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05000000074505806);
	background-color: rgba(255, 255, 255, 1);
	width: 259px;
	height: 58px;
	position: absolute;
	left: 0px;
	top: 0px;
	border-top-left-radius: 32.5px;
	border-top-right-radius: 32.5px;
	border-bottom-left-radius: 32.5px;
	border-bottom-right-radius: 32.5px;
}

.e62_424 {
	width: 37.90243911743164px;
	height: 42px;
	position: absolute;
	left: 208.46340942382812px;
	top: 8px;
}

.ei62_424_21_320 {
	transform: rotate(180deg);
	width: 37.90243911743164px;
	height: 42px;
	position: absolute;
	left: 37.90243911743164px;
	top: 0px;
}

.ei62_424_21_320_3_106 {
	transform: rotate(180deg);
	border-radius: 500px;
	background-color: rgba(244.0000006556511, 142.00000673532486, 40.00000141561031, 1);
	width: 37.90243911743164px;
	height: 42px;
	position: absolute;
	left: 37.90243911743164px;
	top: 0px;
}

.ei62_424_21_324 {
	width: 9.024391174316406px;
	height: 20px;
	position: absolute;
	left: 14.439023971557617px;
	top: 11px;
}

.i62_424_21_324_17_203 {
	border: 2px solid rgba(255, 255, 255, 1);
}

.ei62_424_21_324_17_203 {
	width: 9.024391174316406px;
	height: 20px;
	position: absolute;
	left: 0px;
	top: 0px;
}

.e62_425 {
	color: rgba(181.68749392032623, 181.68749392032623, 181.68749392032623, 1);
	width: 177px;
	height: 16px;
	position: absolute;
	left: 21px;
	top: 21px;
	text-align: left;
	font-size: 13px;
	letter-spacing: 0;
}

.e62_426 {
	width: 159px;
	height: 258px;
	position: absolute;
	left: 865px;
	top: 107px;
}

.e62_427 {
	color: rgba(0, 0, 0, 1);
	width: 128px;
	height: 32px;
	position: absolute;
	left: 0px;
	top: 0px;
	text-align: left;
	font-size: 26px;
	letter-spacing: 0;
}

.e62_428 {
	width: 159px;
	height: 158px;
	position: absolute;
	left: 0px;
	top: 100px;
}

.e62_429 {
	color: rgba(181.68749392032623, 181.68749392032623, 181.68749392032623, 1);
	width: 85px;
	height: 22px;
	position: absolute;
	left: 0px;
	top: 0px;
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
}

.e62_430 {
	color: rgba(181.68749392032623, 181.68749392032623, 181.68749392032623, 1);
	width: 101px;
	height: 22px;
	position: absolute;
	left: 0px;
	top: 34px;
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
}

.e62_431 {
	color: rgba(181.68749392032623, 181.68749392032623, 181.68749392032623, 1);
	width: 133px;
	height: 22px;
	position: absolute;
	left: 0px;
	top: 68px;
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
}

.e62_432 {
	color: rgba(181.68749392032623, 181.68749392032623, 181.68749392032623, 1);
	width: 136px;
	height: 22px;
	position: absolute;
	left: 0px;
	top: 102px;
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
}

.e62_433 {
	color: rgba(181.68749392032623, 181.68749392032623, 181.68749392032623, 1);
	width: 159px;
	height: 22px;
	position: absolute;
	left: 0px;
	top: 136px;
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
}

.e62_434 {
	width: 276px;
	height: 190px;
	position: absolute;
	left: 523px;
	top: 107px;
}

.e62_435 {
	color: rgba(0, 0, 0, 1);
	width: 276px;
	height: 32px;
	position: absolute;
	left: 0px;
	top: 0px;
	text-align: left;
	font-size: 26px;
	letter-spacing: 0;
}

.e62_436 {
	width: 260px;
	height: 90px;
	position: absolute;
	left: 8px;
	top: 100px;
}

.e62_437 {
	color: rgba(181.68749392032623, 181.68749392032623, 181.68749392032623, 1);
	width: 247px;
	height: 22px;
	position: absolute;
	left: 0px;
	top: 0px;
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
}

.e62_438 {
	color: rgba(181.68749392032623, 181.68749392032623, 181.68749392032623, 1);
	width: 260px;
	height: 22px;
	position: absolute;
	left: 0px;
	top: 34px;
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
}

.e62_439 {
	color: rgba(181.68749392032623, 181.68749392032623, 181.68749392032623, 1);
	width: 224px;
	height: 22px;
	position: absolute;
	left: 0px;
	top: 68px;
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
}

.e62_466 {
	width: 100%;
	height: 1153.357666015625px;
	margin: 0 auto;
	text-align: center;
	/* position:absolute; */
	/* left: 50%; */
	/* top:379px; */
	translate: left(-50%);
}

.e62_325 {
	width: 100%;
	height: 104px;
	text-align: center;
	margin-top: 73px;
}

.e62_326 {
	left: 0px;
	top: 0px;
}

.e62_327 {
	/*text-shadow: 5px 6px 4px rgba(0, 0, 0, 0.25);*/
	color: black;
	height: 48px;
	left: 97px;
	top: 0px;
	text-align: center;
	font-size: 3rem;
	font-weight: 700;
}

.e62_328 {
	position: relative;
	/*color: #5F5F5F;*/
	/*text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);*/
	font-weight: 700;
	text-align: center;
	font-size: 1.6rem;
	top: -31px;
}

.e62_465 {
	font-weight: 800;
	font-size: 2.2rem;
	color: rgba(0, 0, 0, 1);
	width: fit-content;
	height: 30px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 1123.357666015625px;
	text-align: left;
}

.pointer {
	color: #FF8000;
	font-size: 3rem;
}

.e62_373 {
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	color: #FF8000;
	width: 241.50351px;
	height: 52.18160438537598px;
	position: relative;
	left: 20rem;
	top: 54.40777600000001px;
	font-weight: 600;
	text-align: left;
	font-size: 1.6rem;
}

.e62_374 {
	width: 209.599609375px;
	height: 70.18160438537598px;
	position: relative;
	left: 42rem;
	top: 35.562011999999996px;
	text-align: left;
	color: #3CB3FF;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	font-size: 1.6rem;
	font-weight: 600;
	left: 42rem;
}

.e63_173 {
	width: 1030.0230712890625px;
	height: 800px;
	position: absolute;
	left: 45%;
	transform: translateX(-50%);
	top: 222px;
	background: url(
 '../images/event/man_woman2.png');
	background-size: cover;
}

.e62_357 {
	width: 601.3097534179688px;
	height: 752.470703125px;
	position: absolute;
	left: 428.71331787109375px;
	top: 0px;
}

.e62_358 {
	width: 601.3097534179688px;
	height: 752.470703125px;
	position: absolute;
	left: 0px;
	top: 0px;
	background-image: url(images/shadow.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.e62_359 {
	width: 601.3097534179688px;
	height: 752.470703125px;
	position: absolute;
	left: 0px;
	top: 0px;
	background-image: url(../images/man.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.e63_170 {
	width: 144.91400146484375px;
	height: 10.99914264678955px;
	position: absolute;
	left: 83.5px;
	top: 699.8104248046875px;
}

.e63_171 {
	border-radius: 500px;
	background-color: rgba(154.0625050663948, 154.0625050663948, 154.0625050663948,
		0.20000000298023224);
	width: 133.21176147460938px;
	height: 10.99914264678955px;
	position: absolute;
	left: 11.702239990234375px;
	top: 0px;
}

.e63_172 {
	border-radius: 500px;
	background-color: rgba(154.0625050663948, 154.0625050663948, 154.0625050663948, 0.5);
	width: 81.44554138183594px;
	height: 4.52905797958374px;
	position: absolute;
	left: 0px;
	top: 2.5878307819366455px;
}

.e62_332 {
	width: 543.2003173828125px;
	height: 498.04693603515625px;
	position: absolute;
	left: 0px;
	top: 254.42376708984375px;
}

.e62_333 {
	width: 543.2003173828125px;
	height: 498.04693603515625px;
	position: absolute;
	left: 0px;
	top: 0px;
	background-image: url(images/shadow.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.e62_334 {
	width: 543.2003173828125px;
	height: 498.04693603515625px;
	position: absolute;
	left: 0px;
	top: 0px;
	background-image: url(../images/woman.png);
	background-repeat: no-repeat;
	background-size: cover;
}