@charset "UTF-8";

.div-wrapper .doran-card {
	overflow-x: hidden;
	overflow-y: auto; /* 내용이 넘칠 때 스크롤이 나타남 */
	max-height: 1164px;
	width: 470px;
}

.doran-card::-webkit-scrollbar {
	width: 10px; /* 스크롤 바의 너비 */
}

.doran-card::-webkit-scrollbar-thumb {
	background-color: #e3e3e5; /* 스크롤 바의 색상 */
	border-radius: 10px; /* 스크롤 바의 모서리 둥글기 */
}

.doran-card::-webkit-scrollbar-track {
	background-color: #f0f0f0; /* 스크롤 바 트랙의 색상 */
}

.div-wrapper {
	background-color: #ffffff;
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
	height: 1200px;
}

.div-wrapper  .frame-pic {
	column-gap: 1rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-wrap: nowrap;
}

.div-wrapper .div {
	background-color: var(- -white);
	width: 1440px;
	height: 1900px;
	position: relative;
}

.div-wrapper .group {
	position: absolute;
	width: 1357px;
	height: 1124px;
	top: 163px;
	left: 41px;
}

.div-wrapper .overlap-group {
	position: relative;
	height: 1124px;
}

.div-wrapper .frame {
	display: flex;
	flex-direction: column;
	width: 1340px;
	align-items: flex-start;
	gap: 10px;
	position: absolute;
	top: 0;
	left: 0;
}

.div-wrapper .frame-2 {
	display: inline-flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 29px;
	position: relative;
	flex: 0 0 auto;
	right:-2%;
}

.div-wrapper .group-2 {
	left: 1rem;
	position: relative;
	width: 268px;
	height: 70px;
}

.div-wrapper .frame-3 {
	display: inline-flex;
	align-items: flex-start;
	gap: 2rem;
	position: relative;
	top: 0;
	left: 0;
}

.div-wrapper .text-wrapper {
	position: relative;
	width: fit-content;
	margin-top: -1px;
	font-weight: 600;
	color: #000000;
	font-size: 20px;
	letter-spacing: 0;
	line-height: normal;
}

.div-wrapper .text-wrapper-2 {
	position: relative;
	width: fit-content;
	margin-top: -1px;
	font-weight: 600;
	color: #7d7d7d;
	font-size: 20px;
	letter-spacing: 0;
	line-height: normal;
}

.div-wrapper .frame-4 {
	display: inline-flex;
	align-items: flex-start;
	position: relative;
	top: 2rem;
}

.div-wrapper .frame-5 {
	display: inline-flex;
	align-items: flex-start;
	gap: 20px;
	position: relative;
	flex: 0 0 auto;
}

.div-wrapper .frame-6 {
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	position: relative;
	flex: 0 0 auto;
}

.div-wrapper .menu {
	border-radius: 20px;
	position: relative;
	width: 50rem;
	height: 50rem;
	background-size: cover;
	background-position: 50% 50%;
}

.div-wrapper .view {
	display: flex;
	flex-direction: column;
	width: 45rem;
	align-items: flex-start;
	justify-content: center;
	gap: 30px;
	padding: 39px 48px;
	position: relative;
	flex: 0 0 auto;
	background-color: #ffffff;
	border-radius: 47.65px 47.65px 47.65px 47.65px;
	overflow: hidden;
	box-shadow: 0px 21px 46px #0000001a, 0px 333px 133px #00000003, 0px
		520px 146px transparent;
}

.div-wrapper .frame-7 {
	display: inline-flex;
	align-items: center;
	gap: 2rem;
	position: relative;
	flex: 0 0 auto;
	flex-direction: row;
}

.div-wrapper .text-wrapper-3 {
	position: relative;
	width: fit-content;
	margin-top: -1px;
	font-weight: 100;
	color: #000000;
	font-size: 20px;
	letter-spacing: 0;
	line-height: normal;
}

.div-wrapper .frame-8 {
	display: inline-flex;
	align-items: flex-start;
	gap: 30px;
	position: relative;
	flex: 0 0 auto;
}

.div-wrapper .p {
	position: relative;
	width: 649px;
	height: 107px;
	margin-right: -45px;
	font-weight: 500;
	color: #000000;
	font-size: 20px;
	letter-spacing: 0;
	line-height: normal;
}

.div-wrapper .frame-9 {
	display: flex;
	width: 649px;
	align-items: center;
	gap: 10px;
	position: relative;
	flex: 0 0 auto;
	margin-right: -45px;
}

.div-wrapper .happy {
	cursor: pointer;
	position: relative;
	width: 40px;
	height: 40px;
}

.div-wrapper .text-wrapper-4 {
	position: relative;
	width: fit-content;
	font-weight: 500;
	color: #ff7f00;
	font-size: 20px;
	letter-spacing: 0;
	line-height: normal;
}

.div-wrapper .frame-10 {
	display: flex;
    flex-wrap: wrap;
    width: 430px;
    align-items: center;
    gap: 1rem 1rem;
    position: relative;
    flex-direction: column;
    align-content: center;
}

.div-wrapper .menu-2 {
	position: relative;
	width: 400px;
	height: 500px;
	border-radius: 2rem;
	background-size: cover;
	background-position: 50% 50%;
}

.div-wrapper .menu-2:hover {
	box-shadow: 2px 2px 5px 0px gray;
}

.div-wrapper .scroll-bar-vertical {
	display: flex;
	flex-direction: column;
	width: 29px;
	height: 1020px;
	align-items: center;
	padding: 5px;
	position: absolute;
	top: 104px;
	left: 1328px;
}

.div-wrapper .thumb-size {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	flex: 1;
	align-self: stretch;
	width: 100%;
	flex-grow: 1;
}

.div-wrapper .thumb {
	position: relative;
	flex: 1;
	width: 6px;
	flex-grow: 1;
	background-color: var(- -denim24-center-channel-text);
	border-radius: 3px;
}

.div-wrapper .track-spacer {
	position: relative;
	flex: 1;
	width: 6px;
	flex-grow: 1;
}

.div-wrapper .footer {
	position: absolute;
	width: 1440px;
	height: 429px;
	top: 1471px;
	left: 0;
	background-color: #f9f9ff;
}

.div-wrapper .company-loco {
	position: absolute;
	width: 375px;
	height: 284px;
	top: 76px;
	left: 118px;
}

.div-wrapper .company {
	position: absolute;
	width: 377px;
	height: 227px;
	top: 0;
	left: 0;
}

.div-wrapper .text-wrapper-5 {
	position: absolute;
	width: 375px;
	top: 138px;
	left: 0;
}

.div-wrapper .untitled {
	width: 181px;
	height: 108px;
	position: absolute;
	top: 0;
	left: 0;
	object-fit: cover;
}

.div-wrapper .social-icon {
	position: absolute;
	width: 177px;
	height: 42px;
	top: 242px;
	left: 0;
}

.div-wrapper .facebook {
	position: absolute;
	width: 42px;
	height: 42px;
	top: 0;
	left: 0;
	background-color: #f5dcc4;
	border-radius: 21px;
}

.div-wrapper .mask-group {
	position: absolute;
	width: 22px;
	height: 22px;
	top: 10px;
	left: 10px;
}

.div-wrapper .instagram {
	position: absolute;
	width: 42px;
	height: 42px;
	top: 0;
	left: 135px;
	background-color: #f5dcc4;
	border-radius: 21px;
}

.div-wrapper .img {
	position: absolute;
	width: 18px;
	height: 18px;
	top: 12px;
	left: 12px;
}

.div-wrapper .twitter {
	position: absolute;
	width: 42px;
	height: 42px;
	top: 0;
	left: 45px;
	background-color: #f5dcc4;
	border-radius: 21px;
}

.div-wrapper .mask-group-2 {
	position: absolute;
	width: 23px;
	height: 23px;
	top: 10px;
	left: 10px;
}

.div-wrapper .linkind {
	position: absolute;
	width: 42px;
	height: 42px;
	top: 0;
	left: 90px;
	background-color: #f5dcc4;
	border-radius: 21px;
}

.div-wrapper .contact-us {
	position: absolute;
	width: 261px;
	height: 277px;
	top: 107px;
	left: 1088px;
}

.div-wrapper .text-wrapper-6 {
	top: 0;
	left: 10px;
	color: #000000;
	position: absolute;
}

.div-wrapper .group-3 {
	position: absolute;
	width: 215px;
	height: 90px;
	top: 100px;
	left: 10px;
}

.div-wrapper .text-wrapper-7 {
	position: absolute;
	top: 0;
	left: 0;
}

.div-wrapper .text-wrapper-8 {
	position: absolute;
	top: 34px;
	left: 0;
}

.div-wrapper .text-wrapper-9 {
	position: absolute;
	top: 68px;
	left: 0;
}

.div-wrapper .overlap-group-wrapper {
	position: absolute;
	width: 261px;
	height: 58px;
	top: 219px;
	left: 0;
}

.div-wrapper .overlap-group-2 {
	position: relative;
	width: 259px;
	height: 58px;
	background-color: var(- -white);
	border-radius: 32.5px;
	box-shadow: 0px 0px 15px #0000000d;
}

.div-wrapper .vector-wrapper {
	position: absolute;
	width: 38px;
	height: 42px;
	top: 8px;
	left: 208px;
	background-image: url(./img/component-15.svg);
	background-size: 100% 100%;
}

.div-wrapper .vector {
	position: absolute;
	width: 11px;
	height: 22px;
	top: 10px;
	left: 13px;
}

.div-wrapper .text-wrapper-10 {
	position: absolute;
	width: 177px;
	top: 21px;
	left: 21px;
}

.div-wrapper .user-link {
	position: absolute;
	width: 161px;
	height: 258px;
	top: 107px;
	left: 865px;
}

.div-wrapper .text-wrapper-11 {
	position: absolute;
	top: 0;
	left: 0;
	color: #000000;
}

.div-wrapper .group-4 {
	position: absolute;
	width: 169px;
	height: 158px;
	top: 100px;
	left: 0;
}

.div-wrapper .payment-tex {
	position: absolute;
	top: 102px;
	left: 0;
}

.div-wrapper .text-wrapper-12 {
	position: absolute;
	top: 136px;
	left: 0;
}

.div-wrapper .opening-restaurant {
	position: absolute;
	width: 278px;
	height: 190px;
	top: 107px;
	left: 523px;
}

.div-wrapper .group-5 {
	position: absolute;
	width: 266px;
	height: 90px;
	top: 100px;
	left: 8px;
}




.div-wrapper .untitled-2 {
	width: 94px;
	height: 56px;
	position: absolute;
	top: 0;
	left: 0;
	object-fit: cover;
}

.div-wrapper .div-2 {
	position: absolute;
	width: 176px;
	height: 31px;
	top: 5px;
	left: 942px;
	box-shadow: 0px 4px 4px #0000001a;
}

.div-wrapper .text-wrapper-18 {
	position: absolute;
	top: 9px;
	left: 0;
}

.div-wrapper .group-6 {
	position: absolute;
	width: 30px;
	height: 30px;
	top: 0;
	left: 146px;
}

.div-wrapper .overlap-group-3 {
	position: relative;
	width: 29px;
	height: 31px;
	left: -1px;
}

.div-wrapper .group-7 {
	position: absolute;
	width: 23px;
	height: 25px;
	top: 6px;
	left: 0;
}

.div-wrapper .ellipse {
	position: absolute;
	width: 15px;
	height: 15px;
	top: 1px;
	left: 14px;
	background-color: var(- -tangerine);
	border-radius: 7.5px;
	box-shadow: 0px 0px 22px #cc0000cc;
}

.div-wrapper .text-wrapper-19 {
	position: absolute;
	top: 0;
	left: 18px;
}
