@charset "UTF-8";

.128_186 {
	overflow: hidden;
}

.e128_186 {
	background-color: rgba(255, 255, 255, 1);
	width: 1440px;
	height: 1788px;
	position: absolute;
	left: 50%;
    transform: translateX(-50%);
}

.e128_187 {
	width: 1073px;
	height: 56px;
	position: absolute;
	left: 166px;
	top: 37px;
}

.e128_188 {
	width: 94px;
	height: 56px;
	position: absolute;
	left: 0px;
	top: 0px;
}

.e128_189 {
	width: 94px;
	height: 56px;
	position: absolute;
	left: 0px;
	top: 0px;
	background-image: url(${cpath}/resources/images/my/untitled_1_1.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.e128_190 {
	color: rgba(0, 0, 0, 1);
	width: 80px;
	height: 22px;
	position: absolute;
	left: 314px;
	top: 18px;
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
}

.e128_191 {
	color: rgba(0, 0, 0, 1);
	width: 93px;
	height: 22px;
	position: absolute;
	left: 421px;
	top: 17px;
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
}

.e128_192 {
	color: rgba(0, 0, 0, 1);
	width: 80px;
	height: 22px;
	position: absolute;
	left: 541px;
	top: 17px;
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
}

.e128_193 {
	color: rgba(0, 0, 0, 1);
	width: 80px;
	height: 22px;
	position: absolute;
	left: 648px;
	top: 18px;
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
}

.e128_194 {
	color: rgba(0, 0, 0, 1);
	width: 80px;
	height: 22px;
	position: absolute;
	left: 755px;
	top: 18px;
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
}

.e128_195 {
	color: rgba(0, 0, 0, 1);
	width: 89px;
	height: 22px;
	position: absolute;
	left: 951px;
	top: 18px;
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
}

.e128_196 {
	width: 33px;
	height: 36px;
	position: absolute;
	left: 1040px;
	top: 10px;
	background-image: url(${cpath}/resources/images/my/basketimage.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.e128_197 {
	box-shadow: 0px 0px 22px
		rgba(204.00000303983688, 0, 0, 0.800000011920929);
	border-radius: 500px;
	background-color: rgba(244.0000006556511, 142.00000673532486, 40.00000141561031, 1);
	width: 15px;
	height: 15px;
	position: absolute;
	left: 1057px;
	top: 10px;
}

.e128_198 {
	width: 950.1522827148438px;
	height: 742px;
	position: absolute;
	left: 464.84771728515625px;
	top: 364px;
}

.e128_218 {
	width: 950.1522827148438px;
	height: 742px;
	/* 	position: absolute; */
	left: 0px;
	top: 0px;
}

.e126_328 {
	width: 784.029541015625px;
	height: 94px;
	/* 	position: absolute; */
	left: 0.15234375px;
	top: 0px;
	margin-bottom: 50px;
}

.126_327 {
	border: 1px solid rgba(0, 0, 0, 1);
}

.e126_327 {
	width: 784.029541015625px;
	height: 94px;
	left: 0px;
	top: 0px;
	border: 2px solid #e7e7e7;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
	border-top-left-radius: 30px;
}

.e126_320 {
	width: 611px;
	height: 94px;
	position: relative;
    left: 50px;
	top: 0px;
}

.e126_321 {
	color: rgba(72.00000330805779, 72.00000330805779, 72.00000330805779, 1);
	width: 109px;
	height: 27.9761905670166px;
	/* position: absolute; */
	position: relative;
	left: 305px;
	top: 10px;
	text-align: left;
	font-size: 20px;
	letter-spacing: 0;
	line-height: px;
}

.e126_322 {
	color: rgba(72.00000330805779, 72.00000330805779, 72.00000330805779, 1);
	width: 157px;
	height: 62.66666793823242px;
	/* position: absolute; */
	position: relative;
	left: 0px;
	top: 40px;
	text-align: left;
	font-size: 17px;
	letter-spacing: 0;
	line-height: px;
	font-weight: 500;
}

.e126_325 {
	color: rgba(72.00000330805779, 72.00000330805779, 72.00000330805779, 1);
	width: 345px;
	height: 62.66666793823242px;
	/* position: absolute; */
	position: relative;
	left: 48px;
	top: 40px;
	text-align: left;
	font-size: 17px;
	letter-spacing: 0;
	line-height: px;
	font-weight: 500;
}

.e126_324 {
	color: rgba(72.00000330805779, 72.00000330805779, 72.00000330805779, 1);
	width: 75px;
	height: 27.9761905670166px;
	/* position: absolute; */
	position: relative;
	left: -64px;
	top: 10px;
	text-align: left;
	font-size: 20px;
	letter-spacing: 0;
	line-height: px;
}

.128_274 {
	border: 1px solid
		rgba(26.000000350177288, 26.000000350177288, 26.000000350177288, 1);
}

.e128_274 {
	width: 103.53125px;
	height: 44px;
	position: relative;
	left: 660px;
	top: -72px;
	border: 2px solid #e7e7e7;
	border-top-left-radius: 40px;
	border-top-right-radius: 40px;
	border-bottom-left-radius: 40px;
	border-bottom-right-radius: 40px;
	border-top-left-radius: 40px;
	cursor: pointer;
}

.e128_275 {
	width: 70px;
	height: 20px;
	position: absolute;
	left: 17px;
	top: 12px;
	text-align: center;
	font-size: 14px;
	letter-spacing: 0;
	line-height: px;
	font-weight: 500;
    color: gray;
}

.128_276 {
	border: 1px solid
		rgba(26.000000350177288, 26.000000350177288, 26.000000350177288, 1);
}

.e128_276 {
	width: 103.53125px;
	height: 44px;
	/* 	position: absolute; */
	position: relative;
	left: 660px;
	top: -138px;
	border: 1px solid gray;
	border-top-left-radius: 40px;
	border-top-right-radius: 40px;
	border-bottom-left-radius: 40px;
	border-bottom-right-radius: 40px;
	border-top-left-radius: 40px;
}

.e128_277 {
	color: rgba(26.000000350177288, 26.000000350177288, 26.000000350177288, 1);
	width: 70px;
	height: 20px;
	position: absolute;
	left: 17px;
	top: 12px;
	text-align: center;
	font-size: 14px;
	letter-spacing: 0;
	line-height: px;
}

.128_278 {
	border: 1px solid
		rgba(26.000000350177288, 26.000000350177288, 26.000000350177288, 1);
}

.e128_278 {
	width: 130.53125px;
	height: 44px;
	position: relative;
	left: 650px;
	top: 34px;
	border: 2px solid #e7e7e7;
	border-top-left-radius: 40px;
	border-top-right-radius: 40px;
	border-bottom-left-radius: 40px;
	border-bottom-right-radius: 40px;
	border-top-left-radius: 40px;
}

.e128_279 {
	color: rgba(26.000000350177288, 26.000000350177288, 26.000000350177288, 1);
	width: 97px;
	height: 20px;
	position: absolute;
	left: 36px;
	top: 12px;
	text-align: center;
	font-size: 14px;
	letter-spacing: 0;
	text-decoration: none;
	font-weight: 500;
}

.e128_246 {
	width: 1440px;
	height: 429px;
	position: absolute;
	left: 0px;
	top: 1359px;
}

.e128_247 {
	background-color: rgba(249.6875050663948, 249.900004863739, 255, 1);
	width: 1440px;
	height: 429px;
	position: absolute;
	left: 0px;
	top: 0px;
}

.e128_248 {
	width: 393px;
	height: 227px;
	position: absolute;
	left: 118px;
	top: 76px;
}

.e128_249 {
	width: 393px;
	height: 227px;
	position: absolute;
	left: 0px;
	top: 0px;
}

.e128_250 {
	color: rgba(181.68749392032623, 181.68749392032623, 181.68749392032623, 1);
	width: 393px;
	height: 89px;
	position: absolute;
	left: 0px;
	top: 138px;
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
}

.e128_251 {
	width: 189.68800354003906px;
	height: 108px;
	position: absolute;
	left: 0px;
	top: 0px;
	background-image: url(${cpath}/resources/images/my/untitled_1_2.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.e128_252 {
	width: 234px;
	height: 190px;
	position: absolute;
	left: 1098px;
	top: 107px;
}

.e128_253 {
	color: rgba(0, 0, 0, 1);
	width: 167.9425811767578px;
	height: 32px;
	position: absolute;
	left: 0px;
	top: 0px;
	text-align: left;
	font-size: 26px;
	letter-spacing: 0;
}

.e128_254 {
	width: 234px;
	height: 90px;
	position: absolute;
	left: 0px;
	top: 100px;
}

.e128_255 {
	color: rgba(181.68749392032623, 181.68749392032623, 181.68749392032623, 1);
	width: 228.40191650390625px;
	height: 22px;
	position: absolute;
	left: 0px;
	top: 0px;
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
}

.e128_256 {
	color: rgba(181.68749392032623, 181.68749392032623, 181.68749392032623, 1);
	width: 234px;
	height: 22px;
	position: absolute;
	left: 0px;
	top: 34px;
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
}

.e128_257 {
	color: rgba(181.68749392032623, 181.68749392032623, 181.68749392032623, 1);
	width: 148.90908813476562px;
	height: 22px;
	position: absolute;
	left: 0px;
	top: 68px;
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
}

.e128_258 {
	width: 194px;
	height: 258px;
	position: absolute;
	left: 865px;
	top: 107px;
}

.e128_259 {
	color: rgba(0, 0, 0, 1);
	width: 156.1761016845703px;
	height: 32px;
	position: absolute;
	left: 0px;
	top: 0px;
	text-align: left;
	font-size: 26px;
	letter-spacing: 0;
}

.e128_260 {
	width: 194px;
	height: 158px;
	position: absolute;
	left: 0px;
	top: 100px;
}

.e128_261 {
	color: rgba(181.68749392032623, 181.68749392032623, 181.68749392032623, 1);
	width: 103.710693359375px;
	height: 22px;
	position: absolute;
	left: 0px;
	top: 0px;
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
}

.e128_262 {
	color: rgba(181.68749392032623, 181.68749392032623, 181.68749392032623, 1);
	width: 123.23270416259766px;
	height: 22px;
	position: absolute;
	left: 0px;
	top: 34px;
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
}

.e128_263 {
	color: rgba(181.68749392032623, 181.68749392032623, 181.68749392032623, 1);
	width: 162.2767333984375px;
	height: 22px;
	position: absolute;
	left: 0px;
	top: 68px;
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
}

.e128_264 {
	color: rgba(181.68749392032623, 181.68749392032623, 181.68749392032623, 1);
	width: 165.93710327148438px;
	height: 22px;
	position: absolute;
	left: 0px;
	top: 102px;
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
}

.e128_265 {
	color: rgba(181.68749392032623, 181.68749392032623, 181.68749392032623, 1);
	width: 194px;
	height: 22px;
	position: absolute;
	left: 0px;
	top: 136px;
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
}

.e128_266 {
	width: 295px;
	height: 190px;
	position: absolute;
	left: 523px;
	top: 107px;
}

.e128_267 {
	color: rgba(0, 0, 0, 1);
	width: 295px;
	height: 32px;
	position: absolute;
	left: 0px;
	top: 0px;
	text-align: left;
	font-size: 26px;
	letter-spacing: 0;
}

.e128_268 {
	width: 277.8985595703125px;
	height: 90px;
	position: absolute;
	left: 8.550724983215332px;
	top: 100px;
}

.e128_269 {
	color: rgba(181.68749392032623, 181.68749392032623, 181.68749392032623, 1);
	width: 264.0036315917969px;
	height: 22px;
	position: absolute;
	left: 0px;
	top: 0px;
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
}

.e128_270 {
	color: rgba(181.68749392032623, 181.68749392032623, 181.68749392032623, 1);
	width: 277.8985595703125px;
	height: 22px;
	position: absolute;
	left: 0px;
	top: 34px;
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
}

.e128_271 {
	color: rgba(181.68749392032623, 181.68749392032623, 181.68749392032623, 1);
	width: 239.4202880859375px;
	height: 22px;
	position: absolute;
	left: 0px;
	top: 68px;
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
}

.e128_272 {
	width: 147px;
	height: 47px;
	position: absolute;
	left: 118px;
	top: 313px;
	background-image: url(${cpath}/resources/images/my/snsicon.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.e128_273 {
	width: 223px;
	height: 67px;
	position: absolute;
	left: 1091px;
	top: 320px;
	background-image: url(${cpath}/resources/images/my/image_7.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.e125_209 {
	cursor: pointer;
    width: 250px;
    height: 220px;
    position: absolute;
    left: 75px;
    top: 345px;
    background-color: #ffffff;
    border-radius: 16px;
    border: 2px solid;
    border-color: #e7e7e7;
}

.125_209 {
	border: 2px solid
		rgba(231.62500709295273, 231.62500709295273, 231.62500709295273, 1);
}

.e125_210 {
	width: 198px;
	height: 47px;
	position: absolute;
	left: 26px;
	top: 26px;
}

.e125_211 {
	font-size: 21px;
    font-style: normal;
    font-weight: 700;
    width: 83px;
    height: 26px;
    position: absolute;
    left: 52px;
    top: 0px;
    text-align: left;
    letter-spacing: 0;
}

.e125_212 {
	color: #F48E28;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    width: 71px;
    height: 20px;
    position: absolute;
    left: 53px;
    top: 27px;
    text-align: left;
}

.e125_213 {
/* 	background-image: url(${cpath}/resources/images/my/profile.png); */
    position: absolute;
    width: 40px;
    height: 40px;
    top: 0;
    left: 0;
    border-radius: 20px;
    background-size: cover;
    background-position: 50% 50%;
}

.e125_214 {
	width: 198px;
	height: 206px;
	position: absolute;
	left: 26px;
	top: 98px;
}

.e125_219 {
	width: 198px;
	height: 50px;
	position: absolute;
	left: 0px;
	top: 0px;
}

.e125_220 {
	color: rgba(60.00000022351742, 60.00000022351742, 60.00000022351742, 1);
    width: 135px;
    height: 20px;
    position: absolute;
    left: 20px;
    top: 15px;
    text-align: left;
    font-size: 14px;
    letter-spacing: 0;
    line-height: px;
    font-weight: 700;
}

.e125_217 {
	width: 198px;
	height: 50px;
	position: absolute;
	left: 0px;
	top: 52px;
}

.e125_218 {
	color: rgba(60.00000022351742, 60.00000022351742, 60.00000022351742, 1);
	width: 135px;
	height: 20px;
	position: absolute;
	left: 20px;
	top: 15px;
	text-align: left;
	font-size: 14px;
	letter-spacing: 0;
	line-height: px;
}

.e125_281 {
	background-color: rgba(254.99996960163116, 174.5559909939766, 100.30001074075699, 1);
	width: 198px;
	height: 50px;
	position: absolute;
	left: 0px;
	top: 52px;
	border-top-left-radius: 16px;
	border-top-right-radius: 16px;
	border-bottom-left-radius: 16px;
	border-bottom-right-radius: 16px;
}

.e125_282 {
	font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    color: rgba(255, 255, 255, 1);
    width: 135px;
    height: 20px;
    position: absolute;
    left: 20px;
    top: 15px;
    text-align: left;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    letter-spacing: 0;
}

.e125_221 {
	width: 198px;
	height: 50px;
	position: absolute;
	left: 0px;
	top: 156px;
	border-top-left-radius: 16px;
	border-top-right-radius: 16px;
	border-bottom-left-radius: 16px;
	border-bottom-right-radius: 16px;
}

.e125_222 {
	color: rgba(60.00000022351742, 60.00000022351742, 60.00000022351742, 1);
	width: 135px;
	height: 20px;
	position: absolute;
	left: 20px;
	top: 15px;
	text-align: left;
	font-size: 14px;
	letter-spacing: 0;
	line-height: px;
}

.e125_204 {
	width: 300px;
	height: 69.015625px;
	position: absolute;
	left: 385px;
	top: 200px;
}

.e125_205 {
	font-weight: 600;
    color: #484848;
    width: 152.17800903320312px;
    height: 18px;
    position: absolute;
    left: 105px;
    top: 0px;
    text-align: left;
    font-size: 14px;
    letter-spacing: 0;
}

.e125_206 {
	color: #484848;
    width: 300px;
    height: 41px;
    position: absolute;
    left: 0px;
    top: 28.015625px;
    font-weight: 800;
    font-size: 32px;
    letter-spacing: 0;
    line-height: px;
    text-align: left;
}

.e125_207 {
	left: 70px;
    top: -3px;
    width: 15.217805862426758px;
    height: 23.37931px;
    position: absolute;
    background-image: url(../images/my/image_8.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.e125_208 {
	font-weight: 600;
    color: #484848;
    width: 160.610756px;
    height: 18px;
    position: absolute;
    left: 2.05078125px;
    top: 0px;
    text-align: left;
    font-size: 14px;
    letter-spacing: 0;
}

#my_modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 1300px;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 10;
}

#modal_content {
	background-color: #fefefe;
	margin: 14% 36%;
	padding: 20px;
	border: 1px solid #888;
	width: 21%;
	height: 37%;
}

.modal_close_btn {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
	position: relative;
	top: 268px;
	left: -787px;
}

.modal_close_btn:hover, .close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}