@charset "UTF-8";

.div-wrapper {
	background-color: #ffffff;
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
}

.div-wrapper .div {
	background-color: var(- -white);
	width: 1440px;
	height: 2261px;
	position: relative;
}

.div-wrapper .full-name-and-bio {
	position: absolute;
	width: 397px;
	height: 363px;
	top: 309px;
	left: 524px;
}

.div-wrapper .ellipse {
	border: 5px solid #FAF9FF;
    border-radius: 500px;
	position: absolute;
	width: 200px;
	height: 200px;
	top: 0;
	left: 95px;
	object-fit: cover;
}

.div-wrapper .text-wrapper {
	position: absolute;
	top: 14rem;
	left: 79px;
	/**/
	font-weight: 700;
	color: #000000;
	font-size: 48px;
	letter-spacing: 0;
	line-height: normal;
}

.div-wrapper .text-wrapper-2 {
	position: absolute;
	top: 266px;
	left: 79px;
	/**/
	font-weight: 300;
	color: #6c6c6c;
	font-size: 24px;
	letter-spacing: 0;
	line-height: normal;
}

.div-wrapper .p {
	position: absolute;
	width: 391px;
	top: 319px;
	left: 0;
	/**/
	font-weight: 300;
	color: #6c6c6c;
	font-size: 18px;
	text-align: center;
	letter-spacing: 0;
	line-height: normal;
}

.div-wrapper .personal-info {
	position: absolute;
	width: 350px;
	height: 300px;
	top: 731px;
	left: 295px;
	background-color: #ffffff01;
	border-radius: 12px;
	box-shadow: 0px 6px 16px #0000001f;
}

.div-wrapper .group {
	position: relative;
	width: 261px;
	height: 180px;
	top: 54px;
	left: 46px;
}

.div-wrapper .group-2 {
	position: absolute;
	width: 176px;
	height: 148px;
	top: 0;
	left: 42px;
}

.div-wrapper .image {
	width: 115px;
	height: 118px;
	top: 20px;
	left: 24px;
	position: absolute;
	object-fit: cover;
}

.div-wrapper .div-2 {
	position: absolute;
	height: 20px;
	top: 0;
	left: 0;
	/**/
	font-weight: 600;
	color: transparent;
	font-size: 16px;
	letter-spacing: 0;
	line-height: 20px;
	white-space: nowrap;
}

.div-wrapper .span {
	color: #222222;
}

.div-wrapper .text-wrapper-3 {
	color: #ff7f00;
}

.div-wrapper .text-wrapper-4 {
	position: absolute;
	width: 259px;
	height: 18px;
	top: 162px;
	left: 0;
	/**/
	font-weight: 400;
	color: #717171;
	font-size: 14px;
	text-align: center;
	letter-spacing: 0;
	line-height: 18px;
}

.div-wrapper .group-wrapper {
	width: 350px;
	height: 300px;
	top: 731px;
	left: 794px;
	position: absolute;
	background-color: #ffffff01;
	border-radius: 12px;
	box-shadow: 0px 6px 16px #0000001f;
}

.div-wrapper .group-3 {
	position: absolute;
	width: 210px;
	height: 148px;
	top: 0;
	left: 25px;
}

.div-wrapper .img {
	top: 20px;
	left: 47px;
	position: absolute;
	width: 115px;
	height: 118px;
	object-fit: cover;
}

.div-wrapper .footer {
	position: absolute;
	width: 1440px;
	height: 429px;
	top: 1832px;
	left: 0;
	background-color: #f9f9ff;
}

.div-wrapper .company-loco {
	position: absolute;
	width: 375px;
	height: 284px;
	top: 76px;
	left: 118px;
}

.div-wrapper .company {
	position: absolute;
	width: 377px;
	height: 227px;
	top: 0;
	left: 0;
}

.div-wrapper .text-wrapper-5 {
	position: absolute;
	width: 375px;
	top: 138px;
	left: 0;
}

.div-wrapper .untitled {
	width: 181px;
	height: 108px;
	position: absolute;
	top: 0;
	left: 0;
	object-fit: cover;
}

.div-wrapper .social-icon {
	position: absolute;
	width: 177px;
	height: 42px;
	top: 242px;
	left: 0;
}

.div-wrapper .facebook {
	position: absolute;
	width: 42px;
	height: 42px;
	top: 0;
	left: 0;
	background-color: #f5dcc4;
	border-radius: 21px;
}

.div-wrapper .mask-group {
	position: absolute;
	width: 22px;
	height: 22px;
	top: 10px;
	left: 10px;
}

.div-wrapper .instagram {
	position: absolute;
	width: 42px;
	height: 42px;
	top: 0;
	left: 135px;
	background-color: #f5dcc4;
	border-radius: 21px;
}

.div-wrapper .mask-group-2 {
	position: absolute;
	width: 18px;
	height: 18px;
	top: 12px;
	left: 12px;
}

.div-wrapper .twitter {
	position: absolute;
	width: 42px;
	height: 42px;
	top: 0;
	left: 45px;
	background-color: #f5dcc4;
	border-radius: 21px;
}

.div-wrapper .mask-group-3 {
	position: absolute;
	width: 23px;
	height: 23px;
	top: 10px;
	left: 10px;
}

.div-wrapper .linkind {
	position: absolute;
	width: 42px;
	height: 42px;
	top: 0;
	left: 90px;
	background-color: #f5dcc4;
	border-radius: 21px;
}

.div-wrapper .contact-us {
	position: absolute;
	width: 261px;
	height: 277px;
	top: 107px;
	left: 1088px;
}

.div-wrapper .text-wrapper-6 {
	top: 0;
	left: 10px;
}

.div-wrapper .group-4 {
	position: absolute;
	width: 215px;
	height: 90px;
	top: 100px;
	left: 10px;
}

.div-wrapper .text-wrapper-7 {
	position: absolute;
	top: 0;
	left: 0;
}

.div-wrapper .text-wrapper-8 {
	position: absolute;
	top: 34px;
	left: 0;
}

.div-wrapper .text-wrapper-9 {
	position: absolute;
	top: 68px;
	left: 0;
}

.div-wrapper .overlap-group-wrapper {
	position: absolute;
	width: 261px;
	height: 58px;
	top: 219px;
	left: 0;
}

.div-wrapper .overlap-group {
	position: relative;
	width: 259px;
	height: 58px;
	background-color: var(- -white);
	border-radius: 32.5px;
	box-shadow: 0px 0px 15px #0000000d;
}

.div-wrapper .vector-wrapper {
	position: absolute;
	width: 38px;
	height: 42px;
	top: 8px;
	left: 208px;
	background-image: url(./img/component-15.svg);
	background-size: 100% 100%;
}

.div-wrapper .vector {
	position: absolute;
	width: 11px;
	height: 22px;
	top: 10px;
	left: 13px;
}

.div-wrapper .text-wrapper-10 {
	position: absolute;
	width: 177px;
	top: 21px;
	left: 21px;
	/**/
	font-weight: var(- -p2-font-weight);
	color: var(- -gray);
	font-size: var(- -p2-font-size);
	letter-spacing: var(- -p2-letter-spacing);
	line-height: var(- -p2-line-height);
	font-style: var(- -p2-font-style);
}

.div-wrapper .user-link {
	position: absolute;
	width: 161px;
	height: 258px;
	top: 107px;
	left: 865px;
}

.div-wrapper .text-wrapper-11 {
	position: absolute;
	top: 0;
	left: 0;
	/**/
	font-weight: var(- -h4-font-weight);
	color: #000000;
	font-size: var(- -h4-font-size);
	letter-spacing: var(- -h4-letter-spacing);
	line-height: var(- -h4-line-height);
	font-style: var(- -h4-font-style);
}

.div-wrapper .group-5 {
	position: absolute;
	width: 169px;
	height: 158px;
	top: 100px;
	left: 0;
}

.div-wrapper .payment-tex {
	position: absolute;
	top: 102px;
	left: 0;
	/**/
	font-weight: var(- -p1-font-weight);
	color: var(- -gray);
	font-size: var(- -p1-font-size);
	letter-spacing: var(- -p1-letter-spacing);
	line-height: var(- -p1-line-height);
	font-style: var(- -p1-font-style);
}

.div-wrapper .text-wrapper-12 {
	position: absolute;
	top: 136px;
	left: 0;
	/**/
	font-weight: var(- -p1-font-weight);
	color: var(- -gray);
	font-size: var(- -p1-font-size);
	letter-spacing: var(- -p1-letter-spacing);
	line-height: var(- -p1-line-height);
	font-style: var(- -p1-font-style);
}

.div-wrapper .opening-restaurant {
	position: absolute;
	width: 278px;
	height: 190px;
	top: 107px;
	left: 523px;
}

.div-wrapper .group-6 {
	position: absolute;
	width: 266px;
	height: 90px;
	top: 100px;
	left: 8px;
}

.div-wrapper .account-navigation {
	position: absolute;
	width: 700px;
	height: 68px;
	top: 141px;
	left: 370px;
}

.div-wrapper .ol {
	position: absolute;
	width: 1032px;
	height: 20px;
	top: 0;
	left: 0;
}

.div-wrapper .frame {
	display: inline-flex;
	align-items: center;
	gap: 5px;
	position: relative;
}

.div-wrapper .text-wrapper-13 {
	position: relative;
	width: fit-content;
	margin-top: -1px;
	/**/
	font-weight: 600;
	color: #484848;
	font-size: 14px;
	letter-spacing: 0;
	line-height: 18px;
	white-space: nowrap;
}

.div-wrapper .text-wrapper-14 {
	position: absolute;
	width: 197px;
	height: 41px;
	top: 28px;
	left: 0;
	/**/
	font-weight: 800;
	color: #484848;
	font-size: 32px;
	letter-spacing: 0;
	line-height: 36px;
	white-space: nowrap;
}

.div-wrapper .header {
	position: absolute;
	width: 1116px;
	height: 56px;
	top: 35px;
	left: 162px;
	background-color: transparent;
}

.div-wrapper .top-nav {
	position: relative;
	width: 1116px;
	height: 56px;
}

.div-wrapper .navbar {
	position: absolute;
	width: 419px;
	height: 22px;
	top: 17px;
	left: 382px;
}

.div-wrapper .text-wrapper-15 {
	left: 359px;
	position: absolute;
	top: 0;
	font-family: var(- -h5-font-family);
	font-weight: var(- -h5-font-weight);
	color: #000000;
	font-size: var(- -h5-font-size);
	letter-spacing: var(- -h5-letter-spacing);
	line-height: var(- -h5-line-height);
	font-style: var(- -h5-font-style);
}

.div-wrapper .text-wrapper-16 {
	left: 0;
	position: absolute;
	top: 0;
	font-family: var(- -h5-font-family);
	font-weight: var(- -h5-font-weight);
	color: #000000;
	font-size: var(- -h5-font-size);
	letter-spacing: var(- -h5-letter-spacing);
	line-height: var(- -h5-line-height);
	font-style: var(- -h5-font-style);
}

.div-wrapper .text-wrapper-17 {
	left: 84px;
	position: absolute;
	top: 0;
	font-family: var(- -h5-font-family);
	font-weight: var(- -h5-font-weight);
	color: #000000;
	font-size: var(- -h5-font-size);
	letter-spacing: var(- -h5-letter-spacing);
	line-height: var(- -h5-line-height);
	font-style: var(- -h5-font-style);
}

.div-wrapper .text-wrapper-18 {
	left: 167px;
	position: absolute;
	top: 0;
	font-family: var(- -h5-font-family);
	font-weight: var(- -h5-font-weight);
	color: #000000;
	font-size: var(- -h5-font-size);
	letter-spacing: var(- -h5-letter-spacing);
	line-height: var(- -h5-line-height);
	font-style: var(- -h5-font-style);
}

.div-wrapper .text-wrapper-19 {
	left: 259px;
	position: absolute;
	top: 0;
	font-family: var(- -h5-font-family);
	font-weight: var(- -h5-font-weight);
	color: #000000;
	font-size: var(- -h5-font-size);
	letter-spacing: var(- -h5-letter-spacing);
	line-height: var(- -h5-line-height);
	font-style: var(- -h5-font-style);
}

.div-wrapper .untitled-2 {
	width: 94px;
	height: 56px;
	position: absolute;
	top: 0;
	left: 0;
	object-fit: cover;
}

.div-wrapper .text-wrapper-20 {
	position: absolute;
	top: 9px;
	left: 0;
	font-family: var(- -h5-font-family);
	font-weight: var(- -h5-font-weight);
	color: #000000;
	font-size: var(- -h5-font-size);
	letter-spacing: var(- -h5-letter-spacing);
	line-height: var(- -h5-line-height);
	font-style: var(- -h5-font-style);
}

.div-wrapper .group-7 {
	position: absolute;
	width: 30px;
	height: 30px;
	top: 0;
	left: 146px;
}

.div-wrapper .overlap-group-2 {
	position: relative;
	width: 29px;
	height: 31px;
	left: -1px;
}

.div-wrapper .group-8 {
	position: absolute;
	width: 23px;
	height: 25px;
	top: 6px;
	left: 0;
}

.div-wrapper .ellipse-2 {
	position: absolute;
	width: 15px;
	height: 15px;
	top: 1px;
	left: 14px;
	background-color: var(- -tangerine);
	border-radius: 7.5px;
	box-shadow: 0px 0px 22px #cc0000cc;
}

.div-wrapper .text-wrapper-21 {
	position: absolute;
	top: 0;
	left: 18px;
	/**/
	font-weight: var(- -p2-font-weight);
	color: var(- -white);
	font-size: var(- -p2-font-size);
	letter-spacing: var(- -p2-letter-spacing);
	line-height: var(- -p2-line-height);
	font-style: var(- -p2-font-style);
}

.div-wrapper .overlap-wrapper {
	position: absolute;
	width: 1108px;
	height: 700px;
	top: 1081px;
	left: 170px;
}

.div-wrapper .overlap {
	position: relative;
	width: 1100px;
	height: 700px;
	border-radius: 12px;
}

.div-wrapper .personal-info-2 {
	width: 1100px;
	height: 700px;
	top: 0;
	left: 0;
	position: absolute;
	background-color: #ffffff01;
	border-radius: 12px;
	box-shadow: 0px 6px 16px #0000001f;
}

.div-wrapper .image-2 {
	width: 120px;
	height: 97px;
	top: 220px;
	left: 95px;
	position: absolute;
	object-fit: cover;
}

.div-wrapper .text-wrapper-22 {
	position: absolute;
	height: 20px;
	top: 260px;
	left: 313px;
	/**/
	font-weight: 600;
	color: #222222;
	font-size: 16px;
	letter-spacing: 0;
	line-height: 20px;
	white-space: nowrap;
}

.div-wrapper .text-wrapper-23 {
	position: absolute;
	width: 132px;
	height: 18px;
	top: 260px;
	left: 432px;
	/**/
	font-weight: 400;
	color: #717171;
	font-size: 14px;
	letter-spacing: 0;
	line-height: 18px;
}

.div-wrapper .image-3 {
	width: 128px;
	height: 122px;
	top: 379px;
	left: 90px;
	position: absolute;
	object-fit: cover;
}

.div-wrapper .text-wrapper-24 {
	position: absolute;
	height: 20px;
	top: 432px;
	left: 298px;
	/**/
	font-weight: 600;
	color: #222222;
	font-size: 16px;
	letter-spacing: 0;
	line-height: 20px;
	white-space: nowrap;
}

.div-wrapper .text-wrapper-25 {
	position: absolute;
	width: 266px;
	height: 18px;
	top: 420px;
	left: 432px;
	/**/
	font-weight: 400;
	color: #717171;
	font-size: 14px;
	letter-spacing: 0;
	line-height: 18px;
}

.text-wrapper-level1 {
	position: absolute;
	height: 20px;
	top: 95px;
	left: 309px;
	font-weight: 600;
	color: #222222;
	font-size: 16px;
	letter-spacing: 0;
	line-height: 20px;
	white-space: nowrap;
}

.div-wrapper .text-wrapper-26 {
	position: absolute;
	height: 20px;
	top: 24px;
	left: 29px;
	/**/
	font-weight: 600;
	
	font-size: 1.3rem;
	letter-spacing: 0;
	line-height: 20px;
	white-space: nowrap;
}

.div-wrapper .line {
	top: 172px;
	position: absolute;
	width: 900px;
	height: 1px;
	left: 100px;
	object-fit: cover;
}

.div-wrapper .line-2 {
	top: 350px;
	position: absolute;
	width: 900px;
	height: 1px;
	left: 100px;
	object-fit: cover;
}

.div-wrapper .line-3 {
	top: 526px;
	position: absolute;
	width: 900px;
	height: 1px;
	left: 100px;
	object-fit: cover;
}

.div-wrapper .text-wrapper-27 {
	position: absolute;
	width: 69px;
	height: 18px;
	top: 95px;
	left: 432px;
	/**/
	font-weight: 400;
	color: #717171;
	font-size: 14px;
	letter-spacing: 0;
	line-height: 18px;
}

.div-wrapper .image-4 {
	top: 45px;
	left: 97px;
	position: absolute;
	width: 115px;
	height: 118px;
	object-fit: cover;
}

.div-wrapper .text-wrapper-29 {
	position: absolute;
	height: 20px;
	top: 599px;
	left: 298px;
	/**/
	font-weight: 600;
	color: #222222;
	font-size: 16px;
	letter-spacing: 0;
	line-height: 20px;
	white-space: nowrap;
}

.div-wrapper .text-wrapper-30 {
	position: absolute;
	width: 259px;
	height: 18px;
	top: 590px;
	left: 432px;
	font-weight: 400;
	color: #717171;
	font-size: 14px;
	letter-spacing: 0;
	line-height: 18px;
}

.div-wrapper .image-5 {
	width: 126px;
	height: 120px;
	top: 550px;
	left: 92px;
	position: absolute;
	object-fit: cover;
}

.div-wrapper .element {
	position: absolute;
	height: 18px;
	top: 80px;
	left: 779px;
	font-weight: 600;
	color: transparent;
	font-size: 14px;
	letter-spacing: 0;
	line-height: 18px;
	white-space: nowrap;
}

.div-wrapper .text-wrapper-31 {
	color: #000000;
}

.div-wrapper .text-wrapper-32 {
	color: #f38820;
}

.div-wrapper .text-wrapper-33 {
	/**/
	font-weight: 700;
	color: #f38820;
}

.div-wrapper .element-2 {
	position: absolute;
	height: 18px;
	top: 250px;
	left: 779px;
	/**/
	font-weight: 600;
	color: transparent;
	font-size: 14px;
	letter-spacing: 0;
	line-height: 18px;
	white-space: nowrap;
}

.div-wrapper .element-3 {
	position: absolute;
	height: 18px;
	top: 420px;
	left: 779px;
	/**/
	font-weight: 600;
	color: transparent;
	font-size: 14px;
	letter-spacing: 0;
	line-height: 18px;
	white-space: nowrap;
}

.div-wrapper .element-4 {
	position: absolute;
	height: 18px;
	top: 590px;
	left: 779px;
	/**/
	font-weight: 600;
	color: transparent;
	font-size: 14px;
	letter-spacing: 0;
	line-height: 18px;
	white-space: nowrap;
}

.div-wrapper .text-wrapper-34 {
	/**/
	font-weight: 700;
	color: #f48e28;
}