@charset "UTF-8";

.e198_349 {
	overflow-x: hidden;
	overflow-y: auto; /* 내용이 넘칠 때 스크롤이 나타남 */
	max-height: 100vh; /* 최대 높이를 지정하여 스크롤이 나타날 수 있도록 함 */
	width: 720px;
}

.e198_349::-webkit-scrollbar {
	width: 10px; /* 스크롤 바의 너비 */
}

.e198_349::-webkit-scrollbar-thumb {
	background-color: #e3e3e5; /* 스크롤 바의 색상 */
	border-radius: 10px; /* 스크롤 바의 모서리 둥글기 */
}

.e198_349::-webkit-scrollbar-track {
	background-color: #f0f0f0; /* 스크롤 바 트랙의 색상 */
}
.169_509 {
	overflow: hidden;
}

/*.e169_509 {
	background-color: rgba(255, 255, 255, 1);
	width: 1440px;
	height: 1788px;
	position: absolute;
}*/

.e169_510 {
	width: 1073px;
	height: 56px;
	position: absolute;
	left: 166px;
	top: 37px;
}

.e169_511 {
	width: 94px;
	height: 56px;
	position: absolute;
	left: 0px;
	top: 0px;
}

.e169_512 {
	width: 94px;
	height: 56px;
	position: absolute;
	left: 0px;
	top: 0px;
	background-image: url(${cpath}/resources/images/my/untitled_1_1.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.e169_513 {
	color: rgba(0, 0, 0, 1);
	width: 80px;
	height: 22px;
	position: absolute;
	left: 314px;
	top: 18px;
	/**/
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
}

.e169_514 {
	color: rgba(0, 0, 0, 1);
	width: 93px;
	height: 22px;
	position: absolute;
	left: 421px;
	top: 17px;
	/**/
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
}

.e169_515 {
	color: rgba(0, 0, 0, 1);
	width: 80px;
	height: 22px;
	position: absolute;
	left: 541px;
	top: 17px;
	/**/
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
}

.e169_516 {
	color: rgba(0, 0, 0, 1);
	width: 80px;
	height: 22px;
	position: absolute;
	left: 648px;
	top: 18px;
	/**/
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
}

.e169_517 {
	color: rgba(0, 0, 0, 1);
	width: 80px;
	height: 22px;
	position: absolute;
	left: 755px;
	top: 18px;
	/**/
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
}

.e169_518 {
	color: rgba(0, 0, 0, 1);
	width: 89px;
	height: 22px;
	position: absolute;
	left: 951px;
	top: 18px;
	/**/
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
}

.e169_519 {
	width: 33px;
	height: 36px;
	position: absolute;
	left: 1040px;
	top: 10px;
	background-image: url(${cpath}/resources/images/my/basketimage.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.e169_520 {
	box-shadow: 0px 0px 22px
		rgba(204.00000303983688, 0, 0, 0.800000011920929);
	border-radius: 500px;
	background-color: rgba(244.0000006556511, 142.00000673532486, 40.00000141561031, 1);
	width: 15px;
	height: 15px;
	position: absolute;
	left: 1057px;
	top: 10px;
}

.e169_633 {
	width: 335.1780090332031px;
	height: 60.015625px;
	position: absolute;
	left: 552px;
	top:178px;
}

.e169_634 {
	font-weight: 600;
	color: #484848;
	width: 152.17800903320312px;
	height: 18px;
	position: absolute;
	left: 193.292969px;
	top: 0px;
	/**/
	text-align: left;
	font-size: 14px;
	letter-spacing: 0;
	line-height: px;
}

.e169_635 {
	color: #484848;
	width: 300px;
	height: 41px;
	position: absolute;
	left: 0px;
	top: 28.015625px;
	font-weight: 800;
	/**/
	text-align: left;
	font-size: 32px;
	letter-spacing: 0;
	line-height: px;
	text-align: left
}

.e169_636 {
	width: 15.217805862426758px;
	height: 23.37931px;
	left: 150px;
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	top: -5px;
	background-repeat: no-repeat;
	background-image: url(../images/my/image_8.png);
}

.e169_637 {
	font-weight: 600;
	color: #484848;
	width: 160.610756px;
	height: 18px;
	position: absolute;
	left: 2.05078125px;
	top: 0px;
	/**/
	text-align: left;
	font-size: 14px;
	letter-spacing: 0;
}

.e169_521 {
	width: 1326px;
	height: 745px;
	position: absolute;
	left:246px;
	top: 343px;
}

.e169_527 {
	width: 1022px;
	height: 745px;
	position: absolute;
	left:400px;
	top: 0px;
}

.e169_528 {
	width: 1022px;
	height: 742px;
	position: absolute;
	
	top: 3px;
}

.e169_584 {
	width: 347px;
	height: 93px;
	position: absolute;
	left: -50px;
	top: 1.1368683772161603e-13px;
}

.e169_586 {
	width: 347px;
	height: 93px;
	position: absolute;
	left: 0px;
	top: 0px;
}

.e169_587 {
	font-weight: 700;
	color: rgba(0, 0, 0, 1);
	width: 245px;
	height: 30px;
	position: absolute;
	left: 70px;
	top: 0px;
	text-align: left;
	font-size: 25px;
	letter-spacing: 0;
}

.e169_588 {
	color: #FF8000;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	width: 89px;
	height: 36px;
	position: absolute;
	left: 129px;
	top: 54px;
	text-align: left;
	font-size: 30px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	letter-spacing: 0;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	width: 105px;
	height: 36px;
	position: absolute;
	left: 129px;
	top: 54px;
	text-align: left;
	font-size: 30px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.e169_639 {
	width: 327px;
	height: 310px;
	position: absolute;
	left: 10px;
	top: 114px;
	background-image: url(../images/my/image_34.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.e198_349 {
	position: relative;
    left: 360px;
    top: 40px;
    row-gap: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.e198_350 {
	background-color: rgba(255, 255, 255, 1);
	width: 596.1743774414062px;
	height: 112px;
	position: absolute;
	left: 0px;
	top: 0px;
}

.198_350 {
	border: 1px solid
		rgba(215.04000663757324, 215.04000663757324, 224.000001847744, 1);
}

.e198_351 {
	width: 600px;
	height: 90px;
	flex-shrink: 0;
	position: relative;
	left: 17.886093139648438px;
	top: 21px;
	border-radius: 20px;
	border: 1px solid #D7D7E0;
	background: #FFF;
}

.e198_352 {
	width: 563px;
	height: 74px;
	position: absolute;
	top: 10%;
}

.e198_353 {
	width: 563px;
	height: 25px;
	position: relative;
	left: 22px;
	top: 10px;
}

.e198_354 {
	font-weight: 600;
	color: rgba(255, 127.5, 0, 1);
	width: 120.71916198730469px;
	height: 25px;
	position: absolute;
	left: 0px;
	top: 0px;
	/**/
	text-align: left;
	font-size: 20px;
	letter-spacing: 0;
}

.e198_355 {
	width: 120px;
	height: 24px;
	position: absolute;
	left: 450px;
	top: 1px;
	text-align: left;
	letter-spacing: 0;
	color: #7E7E7E;
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

.e198_356 {
	left: 20px;
	position: relative;
	top: 10px;
}

.e198_357 {
	font-weight: 600;
	color: rgba(255, 127.5, 0, 1);
	width: 139px;
	height: 49px;
	position: absolute;
	left: 0px;
	top: 0px;
	text-align: left;
	font-size: 25px;
	letter-spacing: 0;
}

.e198_358 {
	color: #000;
	text-align: right;
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	width: 389px;
	height: 43px;
	position: absolute;
	left: 174px;
	top: 5px;
	letter-spacing: 0;
}

.e198_346 {
	font-weight: 700;
	width: 322.68511962890625px;
	height: 36px;
	position: absolute;
	left: 428.0955810546875px;
	top: 0px;
	/**/
	text-align: left;
	font-size: 25px;
	letter-spacing: 0;
	line-height: px;
}

.e169_532 {
	cursor:pointer;
	background-color: rgba(255, 255, 255, 1);
	width: 250px;
	height: 270px;
	position: absolute;
	left: 0px;
	top: -2rem;
	background-color: #ffffff;
	border-radius: 16px;
	border: 2px solid;
	border-color: #e7e7e7;
}

.169_532 {
	border: 2px solid
		rgba(231.62500709295273, 231.62500709295273, 231.62500709295273, 1);
}

.e169_533 {
	width: 198px;
	height: 47px;
	position: absolute;
	left: 26px;
	top: 26px;
}

.e169_534 {
	font-size: 21px;
    font-style: normal;
    font-weight: 700;
	width: 83px;
	height: 26px;
	position: absolute;
	left: 52px;
	top: 0px;
	/**/
	text-align: left;

	letter-spacing: 0;
	line-height: px;
}

.e169_535 {
	color: #F48E28;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    width: 71px;
    height: 20px;
    position: absolute;
    left: 53px;
    top: 27px;
    text-align: left;
}

.e169_536 {
	/* background-image: url(../images/my/profile.png); */
    position: absolute;
    width: 40px;
    height: 40px;
    top: 0;
    left: 0;
    border-radius: 20px;
    background-size: cover;
    background-position: 50% 50%;
}

.e169_537 {
	font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
	width: 198px;
	height: 154px;
	position: absolute;
	left: 26px;
	top: 98px;
}

.e169_538 {
	width: 198px;
	height: 50px;
	position: absolute;
	left: 0px;
	top: 0px;
}

.e169_539 {
	color: rgba(60.00000022351742, 60.00000022351742, 60.00000022351742, 1);
	width: 135px;
	height: 20px;
	position: absolute;
	left: 20px;
	top: 15px;
	/**/
	text-align: left;
	font-size: 14px;
	letter-spacing: 0;
	line-height: px;
}

.e169_626 {
	width: 198px;
	height: 50px;
	position: absolute;
	left: 0px;
	top: 52px;
}

.e169_627 {
	color: rgba(60.00000022351742, 60.00000022351742, 60.00000022351742, 1);
	width: 135px;
	height: 20px;
	position: absolute;
	left: 20px;
	top: 15px;
	/**/
	text-align: left;
	font-size: 14px;
	letter-spacing: 0;
	line-height: px;
}

.e169_624 {
	background-color: rgba(254.99996960163116, 174.5559909939766, 100.30001074075699, 1);
	width: 198px;
	height: 50px;
	position: absolute;
	left: 0px;
	top: 104px;
	border-top-left-radius: 16px;
	border-top-right-radius: 16px;
	border-bottom-left-radius: 16px;
	border-bottom-right-radius: 16px;
}

.e169_625 {
	color: #FFF;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	font-size: 14px;
	font-style: normal;
	font-weight: 700;
	line-height: 20px;
	width: 135px;
	height: 20px;
	position: absolute;
	left: 20px;
	top: 15px;
	text-align: left;
	letter-spacing: 0;
}

.e169_546 {
	width: 1440px;
	height: 429px;
	position: absolute;
	left: 0px;
	top: 1359px;
}

.e169_547 {
	background-color: rgba(249.6875050663948, 249.900004863739, 255, 1);
	width: 1440px;
	height: 429px;
	position: absolute;
	left: 0px;
	top: 0px;
}

.e169_548 {
	width: 393px;
	height: 227px;
	position: absolute;
	left: 118px;
	top: 76px;
}

.e169_549 {
	width: 393px;
	height: 227px;
	position: absolute;
	left: 0px;
	top: 0px;
}

.e169_550 {
	color: rgba(181.68749392032623, 181.68749392032623, 181.68749392032623, 1);
	width: 393px;
	height: 89px;
	position: absolute;
	left: 0px;
	top: 138px;
	/**/
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
}

.e169_551 {
	width: 189.68800354003906px;
	height: 108px;
	position: absolute;
	left: 0px;
	top: 0px;
	background-image: url(../images/my/untitled_1_2.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.e169_552 {
	width: 234px;
	height: 190px;
	position: absolute;
	left: 1098px;
	top: 107px;
}

.e169_553 {
	color: rgba(0, 0, 0, 1);
	width: 167.9425811767578px;
	height: 32px;
	position: absolute;
	left: 0px;
	top: 0px;
	/**/
	text-align: left;
	font-size: 26px;
	letter-spacing: 0;
}

.e169_554 {
	width: 234px;
	height: 90px;
	position: absolute;
	left: 0px;
	top: 100px;
}

.e169_555 {
	color: rgba(181.68749392032623, 181.68749392032623, 181.68749392032623, 1);
	width: 228.40191650390625px;
	height: 22px;
	position: absolute;
	left: 0px;
	top: 0px;
	/**/
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
}

.e169_556 {
	color: rgba(181.68749392032623, 181.68749392032623, 181.68749392032623, 1);
	width: 234px;
	height: 22px;
	position: absolute;
	left: 0px;
	top: 34px;
	/**/
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
}

.e169_557 {
	color: rgba(181.68749392032623, 181.68749392032623, 181.68749392032623, 1);
	width: 148.90908813476562px;
	height: 22px;
	position: absolute;
	left: 0px;
	top: 68px;
	/**/
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
}

.e169_558 {
	width: 194px;
	height: 258px;
	position: absolute;
	left: 865px;
	top: 107px;
}

.e169_559 {
	color: rgba(0, 0, 0, 1);
	width: 156.1761016845703px;
	height: 32px;
	position: absolute;
	left: 0px;
	top: 0px;
	/**/
	text-align: left;
	font-size: 26px;
	letter-spacing: 0;
}

.e169_560 {
	width: 194px;
	height: 158px;
	position: absolute;
	left: 0px;
	top: 100px;
}

.e169_561 {
	color: rgba(181.68749392032623, 181.68749392032623, 181.68749392032623, 1);
	width: 103.710693359375px;
	height: 22px;
	position: absolute;
	left: 0px;
	top: 0px;
	/**/
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
}

.e169_562 {
	color: rgba(181.68749392032623, 181.68749392032623, 181.68749392032623, 1);
	width: 123.23270416259766px;
	height: 22px;
	position: absolute;
	left: 0px;
	top: 34px;
	/**/
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
}

.e169_563 {
	color: rgba(181.68749392032623, 181.68749392032623, 181.68749392032623, 1);
	width: 162.2767333984375px;
	height: 22px;
	position: absolute;
	left: 0px;
	top: 68px;
	/**/
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
}

.e169_564 {
	color: rgba(181.68749392032623, 181.68749392032623, 181.68749392032623, 1);
	width: 165.93710327148438px;
	height: 22px;
	position: absolute;
	left: 0px;
	top: 102px;
	/**/
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
}

.e169_565 {
	color: rgba(181.68749392032623, 181.68749392032623, 181.68749392032623, 1);
	width: 194px;
	height: 22px;
	position: absolute;
	left: 0px;
	top: 136px;
	/**/
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
}

.e169_566 {
	width: 295px;
	height: 190px;
	position: absolute;
	left: 523px;
	top: 107px;
}

.e169_567 {
	color: rgba(0, 0, 0, 1);
	width: 295px;
	height: 32px;
	position: absolute;
	left: 0px;
	top: 0px;
	/**/
	text-align: left;
	font-size: 26px;
	letter-spacing: 0;
}

.e169_568 {
	width: 277.8985595703125px;
	height: 90px;
	position: absolute;
	left: 8.550724983215332px;
	top: 100px;
}

.e169_569 {
	color: rgba(181.68749392032623, 181.68749392032623, 181.68749392032623, 1);
	width: 264.0036315917969px;
	height: 22px;
	position: absolute;
	left: 0px;
	top: 0px;
	/**/
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
}

.e169_570 {
	color: rgba(181.68749392032623, 181.68749392032623, 181.68749392032623, 1);
	width: 277.8985595703125px;
	height: 22px;
	position: absolute;
	left: 0px;
	top: 34px;
	/**/
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
}

.e169_571 {
	color: rgba(181.68749392032623, 181.68749392032623, 181.68749392032623, 1);
	width: 239.4202880859375px;
	height: 22px;
	position: absolute;
	left: 0px;
	top: 68px;
	/**/
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
}

.e169_572 {
	width: 147px;
	height: 47px;
	position: absolute;
	left: 118px;
	top: 313px;
	background-image: url(../images/my/snsicon.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.e169_573 {
	width: 223px;
	height: 67px;
	position: absolute;
	left: 1091px;
	top: 320px;
	background-image: url(../images/my/image_7.png);
	background-repeat: no-repeat;
	background-size: cover;
}