@charset "UTF-8";

.div-wrapper {
	background-color: #ffffff;
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
}

.div-wrapper .div {
	background-color: var(- -white);
	width: 1440px;
	height: 1699px;
	position: relative;
}

.div-wrapper .account-navigation {
	position: absolute;
	width: 700px;
	height: 68px;
	top: 165px;
	left: 385px;
}

.div-wrapper .ol {
	position: absolute;
	width: 1032px;
	height: 20px;
	top: 0;
	left: 0;
}

.div-wrapper .frame {
	display: inline-flex;
	align-items: center;
	gap: 5px;
	position: relative;
}

.div-wrapper .text-wrapper {
	position: relative;
	width: fit-content;
	font-family: "Roboto-SemiBold", Helvetica;
	font-weight: 600;
	color: #484848;
	font-size: 14px;
	letter-spacing: 0;
	line-height: 18px;
	white-space: nowrap;
}

.div-wrapper .li {
	display: inline-flex;
	align-items: center;
	gap: 16px;
	padding: 1px 0.55px 1.02px 16px;
	position: relative;
	flex: 0 0 auto;
}

.div-wrapper .svg {
	position: relative;
	width: 10px;
	height: 10px;
	flex-shrink: 0;
}

.div-wrapper .text-wrapper-2 {
	position: relative;
	width: fit-content;
	margin-top: -1px;
	font-family: "Roboto-SemiBold", Helvetica;
	font-weight: 600;
	color: #484848;
	font-size: 14px;
	letter-spacing: 0;
	line-height: 18px;
	white-space: nowrap;
}

.div-wrapper .text-wrapper-3 {
	position: absolute;
	width: 197px;
	height: 41px;
	top: 28px;
	left: 0;
	font-family: "Roboto-ExtraBold", Helvetica;
	font-weight: 800;
	color: #484848;
	font-size: 32px;
	letter-spacing: 0;
	line-height: 36px;
	white-space: nowrap;
}

.div-wrapper .group {
	position: absolute;
	width: 700px;
	height: 321px;
	top: 260px;
	left: 370px;
}

.div-wrapper .overlap-group-wrapper {
	position: absolute;
	width: 706px;
	height: 263px;
	top: 58px;
	left: 0;
}

.div-wrapper .overlap-group {
	position: relative;
	width: 700px;
	height: 263px;
}

.div-wrapper .frame-2 {
	position: absolute;
	width: 700px;
	height: 228px;
	top: 35px;
	left: 0;
	background-color: var(- -carbon-25);
	border-radius: 24px;
}

.div-wrapper .primary-button {
	display: flex;
	width: 67px;
	height: 32px;
	align-items: center;
	justify-content: center;
	gap: 6px;
	padding: 13px 16px;
	position: absolute;
	top: 184px;
	left: 279px;
	background-color: var(- -tangerine);
	border-radius: 8px;
}

.div-wrapper .cancel {
	position: relative;
	width: fit-content;
	margin-top: -5px;
	margin-bottom: -3px;
	margin-left: -8.5px;
	margin-right: -8.5px;
	font-family: "Inter-Medium", Helvetica;
	font-weight: 500;
	color: var(- -white-1);
	font-size: 14px;
	text-align: center;
	letter-spacing: 0;
	line-height: 14px;
	white-space: nowrap;
}

.div-wrapper .cancel-wrapper {
	display: flex;
	width: 67px;
	height: 32px;
	align-items: center;
	justify-content: center;
	gap: 6px;
	padding: 13px 16px;
	position: absolute;
	top: 184px;
	left: 197px;
	background-color: var(- -gray);
	border-radius: 8px;
}

.div-wrapper .text-wrapper-4 {
	position: absolute;
	top: 135px;
	left: 197px;
	font-family: "Inter-SemiBold", Helvetica;
	font-weight: 600;
	color: #000000;
	font-size: 24px;
	letter-spacing: 0;
	line-height: normal;
}

.div-wrapper .text-wrapper-5 {
	position: absolute;
	top: 95px;
	left: 196px;
	font-family: "Inter-SemiBold", Helvetica;
	font-weight: 600;
	color: #000000;
	font-size: 24px;
	letter-spacing: 0;
	line-height: normal;
}

.div-wrapper .text-wrapper-6 {
	position: absolute;
	width: 88px;
	height: 32px;
	top: 63px;
	left: 191px;
	font-family: "Inter-Medium", Helvetica;
	font-weight: 500;
	color: #484848;
	font-size: 16px;
	text-align: center;
	letter-spacing: 0;
	line-height: 16px;
}

.div-wrapper .rectangle {
	position: absolute;
	width: 139px;
	height: 139px;
	top: 80px;
	left: 26px;
	object-fit: cover;
}

.div-wrapper .coupons {
	display: flex;
	flex-direction: column;
	width: 700px;
	height: 263px;
	align-items: flex-start;
	gap: 24px;
	position: absolute;
	top: 0;
	left: 0;
}

.div-wrapper .frame-3 {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	position: relative;
	align-self: stretch;
	width: 100%;
	flex: 0 0 auto;
}

.div-wrapper .frame-4 {
	display: inline-flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 12px;
	position: relative;
	flex: 0 0 auto;
}

.div-wrapper .coupons-2 {
	position: relative;
	width: fit-content;
	margin-top: -1px;
	font-family: "Inter-SemiBold", Helvetica;
	font-weight: 600;
	color: var(- -carbon-958);
	font-size: 24px;
	letter-spacing: 0;
	line-height: normal;
}

.div-wrapper .frame-5 {
	display: flex;
	width: 32px;
	height: 32px;
	align-items: center;
	justify-content: flex-end;
	gap: 20px;
	position: relative;
}

.div-wrapper .frame-6 {
	display: flex;
	width: 394px;
	align-items: flex-start;
	justify-content: space-between;
	position: absolute;
	top: 0;
	left: 0;
}

.div-wrapper .frame-7 {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	padding: 10px 16px;
	position: relative;
	flex: 0 0 auto;
	background-color: #ffae64;
	border-radius: 999px;
}

.div-wrapper .text-wrapper-7 {
	position: relative;
	width: fit-content;
	margin-top: -1px;
	font-family: "Roboto-Bold", Helvetica;
	font-weight: 700;
	color: #ffffff;
	font-size: 14px;
	letter-spacing: 0;
	line-height: 18px;
	white-space: nowrap;
}

.div-wrapper .frame-8 {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	padding: 10px 16px;
	position: relative;
	flex: 0 0 auto;
	background-color: #ffffff;
	border-radius: 999px;
	border: 1px solid;
	border-color: #ffae64;
}

.div-wrapper .text-wrapper-8 {
	position: relative;
	width: fit-content;
	margin-top: -1px;
	font-family: "Roboto-Medium", Helvetica;
	font-weight: 500;
	color: #373737;
	font-size: 14px;
	letter-spacing: 0;
	line-height: 18px;
	white-space: nowrap;
}

.div-wrapper .menu-wrapper {
	position: absolute;
	width: 250px;
	height: 300px;
	top: 260px;
	left: 70px;
}

.div-wrapper .menu {
	display: flex;
	flex-direction: column;
	width: 200px;
	height: 300px;
	align-items: flex-start;
	gap: 25px;
	padding: 26px;
	position: relative;
	background-color: #ffffff;
	border-radius: 16px;
	border: 2px solid;
	border-color: #e7e7e7;
} 

.div-wrapper .username {
	position: relative;
	align-self: stretch;
	width: 100%;
	height: 47px;
}

.div-wrapper .medium {
	position: absolute;
	width: 40px;
	height: 40px;
	top: 0;
	left: 0;
	border-radius: 20px;
	background-image: url(./img/medium.png);
	background-size: cover;
	background-position: 50% 50%;
}

.div-wrapper .text-wrapper-16 {
	position: absolute;
	height: 26px;
	top: -1px;
	left: 50px;
	font-family: "Inter-Bold", Helvetica;
	font-weight: 700;
	color: #3c3c3c;
	font-size: 21px;
	letter-spacing: 0;
	line-height: 26px;
	white-space: nowrap;
}

.div-wrapper .text-wrapper-17 {
	position: absolute;
	height: 20px;
	top: 26px;
	left: 50px;
	font-family: "Inter-Bold", Helvetica;
	font-weight: 700;
	color: #f48e28;
	font-size: 13px;
	letter-spacing: 0.8px;
	line-height: 20px;
	white-space: nowrap;
}

.div-wrapper .links {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 2px;
	position: relative;
	align-self: stretch;
	width: 100%;
	flex: 0 0 auto;
}

.div-wrapper .privacy {
	display: flex;
	align-items: flex-start;
	padding: 15px 244px 15px 20px;
	position: relative;
	align-self: stretch;
	width: 100%;
	flex: 0 0 auto;
}

.div-wrapper .text-wrapper-18 {
	position: relative;
	width: fit-content;
	margin-top: -1px;
	margin-right: -121px;
	font-family: "Inter-Bold", Helvetica;
	font-weight: 700;
	color: #000000;
	font-size: 14px;
	letter-spacing: 0;
	line-height: 20px;
	white-space: nowrap;
}

.div-wrapper .duolingo-for-schools {
	display: flex;
	align-items: flex-start;
	padding: 15px 153px 15px 20px;
	position: relative;
	align-self: stretch;
	width: 14%;
	flex: 0 0 auto;
	background-color: #feae64;
	border-radius: 16px;
	overflow: hidden;
}

.div-wrapper .text-wrapper-19 {
	position: relative;
	width: fit-content;
	margin-top: -1px;
	margin-right: -30px;
	text-shadow: 0px 4px 4px #00000040;
	font-family: "Inter-Bold", Helvetica;
	font-weight: 700;
	color: #ffffff;
	font-size: 14px;
	letter-spacing: 0;
	line-height: 20px;
	white-space: nowrap;
}

.div-wrapper .duolingo-for-schools-2 {
	display: flex;
	align-items: flex-start;
	padding: 15px 153px 15px 20px;
	position: relative;
	align-self: stretch;
	width: 100%;
	flex: 0 0 auto;
}

.div-wrapper .text-wrapper-20 {
	position: relative;
	width: fit-content;
	margin-top: -1px;
	margin-right: -59px;
	font-family: "Inter-Bold", Helvetica;
	font-weight: 700;
	color: #000000;
	font-size: 14px;
	letter-spacing: 0;
	line-height: 20px;
	white-space: nowrap;
}