@charset "UTF-8";

.screen {
	background-color: #ffffff;
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
}

.screen .div {
	background-color: #ffffff;
	width: 1440px;
	height: 1970px;
	position: relative;
}

.screen .main-frame {
	position: absolute;
	width: 1270px;
	height: 1094px;
	top: 250px;
	left: 98px;
}

.screen .overlap {
	position: absolute;
	width: 792px;
	height: 1094px;
	top: 0;
	left: 0;
}

.screen .orange {
	display: flex;
	width: 792px;
	height: 1094px;
	align-items: flex-start;
	gap: 10px;
	position: absolute;
	top: 0;
	left: 0;
}

.screen .group {
	position: relative;
	width: 792px;
	height: 1094px;
	background-color: #ffbf8442;
	border-radius: 10px;
}

.screen .frame {
	display: flex;
	flex-direction: column;
	width: 700px;
	height: 302px;
	align-items: flex-start;
	gap: 21px;
	position: relative;
	top: 33px;
	left: 46px;
}

.screen .cart-menus {
	display: flex;
	flex-direction: column;
	width: 700px;
	align-items: flex-start;
	gap: 21px;
	position: relative;
	flex: 0 0 auto;
}

.screen .frame-wrapper {
	display: flex;
	flex-direction: column;
	width: 700px;
	align-items: flex-start;
	gap: 25px;
	position: relative;
	flex: 0 0 auto;
}

.screen .frame-2 {
	display: flex;
	flex-direction: column;
	width: 700px;
	height: 302px;
	align-items: flex-start;
	justify-content: space-between;
	position: relative;
}

.screen .text-wrapper {
	width: 237px;
	height: 49px;
	font-family: "Poppins-SemiBold", Helvetica;
	font-weight: 600;
	color: #f38820;
	font-size: 30px;
	position: relative;
	margin-top: -1px;
	letter-spacing: 0;
	line-height: normal;
}

.screen .div-wrapper {
	position: relative;
	width: 700px;
	height: 235px;
	background-color: #ffffff;
	border-radius: 10px;
	box-shadow: 0px 4px 4px #00000040;
}

.screen .frame-3 {
	position: relative;
	width: 627px;
	height: 150px;
	top: 63px;
	left: 36px;
}

.screen .text-wrapper-2 {
	position: absolute;
	top: 67px;
	left: 200px;
	font-family: "Montserrat-SemiBold", Helvetica;
	font-weight: 600;
	color: #000000;
	font-size: 25px;
	text-align: center;
	letter-spacing: 0;
	line-height: normal;
	white-space: nowrap;
}

.screen .entypo-plus-wrapper {
	position: absolute;
	width: 51px;
	height: 40px;
	top: 0;
	left: 289px;
	background-color: #f1f4f3;
	border-radius: 15px;
}

.screen .entypo-plus {
	position: absolute;
	width: 25px;
	height: 20px;
	top: 10px;
	left: 13px;
}

.screen .coupons {
	position: absolute;
	width: 702px;
	height: 149px;
	top: 410px;
	left: 46px;
}

.screen .p {
	position: absolute;
	width: 284px;
	top: 125px;
	left: 13px;
	font-family: "Montserrat-Medium", Helvetica;
	font-weight: 500;
	color: transparent;
	font-size: 20px;
	letter-spacing: 0;
	line-height: normal;
}

.screen .span {
	color: #7a7a7a;
}

.screen .text-wrapper-3 {
	color: #f38820;
}

.screen .group-2 {
	position: absolute;
	width: 702px;
	height: 115px;
	top: 0;
	left: 0;
}

.screen .frame-4 {
	display: flex;
	width: 153px;
	height: 60px;
	align-items: center;
	justify-content: center;
	gap: 10px;
	padding: 15px 25px;
	position: absolute;
	top: 55px;
	left: 547px;
	background-color: #fc8019;
	border-radius: 10px;
}

.screen .text-wrapper-4 {
	position: relative;
	width: fit-content;
	margin-top: -2.5px;
	margin-bottom: -0.5px;
	font-family: "Poppins-Medium", Helvetica;
	font-weight: 500;
	color: #ffffff;
	font-size: 22px;
	letter-spacing: 0;
	line-height: normal;
}

.screen .overlap-group-wrapper {
	position: absolute;
	width: 518px;
	height: 60px;
	top: 55px;
	left: 0;
}

.screen .overlap-group {
	position: relative;
	width: 516px;
	height: 60px;
	background-color: #ffffff;
	border-radius: 10px;
	box-shadow: 0px 4px 4px #00000040;
}

.screen .text-wrapper-5 {
	position: absolute;
	width: 284px;
	top: 16px;
	left: 34px;
	font-family: "Montserrat-Medium", Helvetica;
	font-weight: 500;
	color: #7a7a7a;
	font-size: 22px;
	letter-spacing: 0;
	line-height: normal;
}

.screen .text-wrapper-6 {
	position: absolute;
	width: 237px;
	top: 0;
	left: 0;
	font-family: "Poppins-SemiBold", Helvetica;
	font-weight: 600;
	color: #f38820;
	font-size: 30px;
	letter-spacing: 0;
	line-height: normal;
}

.screen .points {
	position: absolute;
	width: 702px;
	height: 149px;
	top: 652px;
	left: 46px;
}

.screen .text-wrapper-7 {
	position: relative;
	width: fit-content;
	margin-top: -2.5px;
	margin-bottom: -0.5px;
	margin-left: -2px;
	margin-right: -2px;
	font-family: "Poppins-Medium", Helvetica;
	font-weight: 500;
	color: #ffffff;
	font-size: 22px;
	letter-spacing: 0;
	line-height: normal;
}

.screen .payment {
	position: absolute;
	width: 578px;
	height: 107px;
	top: 894px;
	left: 46px;
}

.screen .view-wrapper {
	display: flex;
	width: 163px;
	height: 51px;
	align-items: flex-start;
	gap: 350px;
	position: absolute;
	top: 56px;
	left: 0;
}

.screen .view {
	display: inline-flex;
	align-items: center;
	gap: 31px;
	position: relative;
	flex: 0 0 auto;
}

.screen .checkbox {
	position: relative;
	width: 40px;
	height: 40px;
}

.screen .text-wrapper-8 {
	position: relative;
	width: fit-content;
	font-family: "Poppins-Regular", Helvetica;
	font-weight: 400;
	color: #000000;
	font-size: 25px;
	text-align: center;
	letter-spacing: 0;
	line-height: normal;
}

.screen .frame-5 {
	display: flex;
	width: 163px;
	height: 51px;
	align-items: flex-start;
	gap: 350px;
	position: absolute;
	top: 56px;
	left: 201px;
}

.screen .view-2 {
	margin-right: -7px;
	display: inline-flex;
	align-items: center;
	gap: 31px;
	position: relative;
	flex: 0 0 auto;
}

.screen .frame-6 {
	display: flex;
	width: 163px;
	height: 51px;
	align-items: flex-start;
	gap: 350px;
	position: absolute;
	top: 56px;
	left: 413px;
}

.screen .info {
	position: absolute;
	width: 415px;
	height: 509px;
	top: 0;
	left: 855px;
	background-color: #f8f8f8;
	border-radius: 10px;
	box-shadow: 0px 4px 4px #00000040;
}

.screen .frame-7 {
	display: inline-flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 30px;
	position: absolute;
	top: 25px;
	left: 25px;
}

.screen .frame-8 {
	display: flex;
	width: 365px;
	align-items: center;
	justify-content: space-between;
	position: relative;
	flex: 0 0 auto;
}

.screen .text-wrapper-9 {
	position: relative;
	width: fit-content;
	margin-top: -1px;
	font-family: "Poppins-Medium", Helvetica;
	font-weight: 500;
	color: #202020;
	font-size: 24px;
	letter-spacing: 0;
	line-height: normal;
}

.screen .text-wrapper-10 {
	position: relative;
	width: fit-content;
	font-family: "Poppins-Medium", Helvetica;
	font-weight: 500;
	color: #202020;
	font-size: 16px;
	letter-spacing: 0;
	line-height: normal;
}

.screen .frame-9 {
	display: flex;
	width: 365px;
	align-items: flex-start;
	justify-content: space-between;
	position: absolute;
	top: 106px;
	left: 25px;
}

.screen .text-wrapper-11 {
	position: relative;
	width: fit-content;
	margin-top: -1px;
	font-family: "Poppins-Medium", Helvetica;
	font-weight: 500;
	color: #000000;
	font-size: 14px;
	letter-spacing: 0;
	line-height: normal;
}

.screen .group-3 {
	position: absolute;
	width: 365px;
	height: 49px;
	top: 169px;
	left: 25px;
}

.screen .frame-10 {
	display: flex;
	width: 365px;
	align-items: flex-start;
	justify-content: space-between;
	position: absolute;
	top: 0;
	left: 0;
}

.screen .text-wrapper-12 {
	position: relative;
	width: 61px;
	margin-top: -1px;
	font-family: "Poppins-Medium", Helvetica;
	font-weight: 500;
	color: #808080;
	font-size: 14px;
	text-align: center;
	letter-spacing: 0;
	line-height: normal;
}

.screen .text-wrapper-13 {
	position: relative;
	width: fit-content;
	margin-top: -1px;
	font-family: "Poppins-Medium", Helvetica;
	font-weight: 500;
	color: #f38820;
	font-size: 14px;
	letter-spacing: 0;
	line-height: normal;
}

.screen .frame-11 {
	display: flex;
	width: 230px;
	align-items: flex-start;
	justify-content: space-between;
	position: absolute;
	top: 28px;
	left: 135px;
}

.screen .frame-12 {
	display: flex;
	width: 365px;
	align-items: center;
	justify-content: center;
	gap: 10px;
	padding: 15px 25px;
	position: absolute;
	top: 430px;
	left: 25px;
	background-color: #fc8019;
	border-radius: 10px;
}

.screen .text-wrapper-14 {
	position: relative;
	width: fit-content;
	margin-top: -1px;
	font-family: "Poppins-Medium", Helvetica;
	font-weight: 500;
	color: #ffffff;
	font-size: 20px;
	letter-spacing: 0;
	line-height: normal;
}

.screen .line {
	top: 238px;
	position: absolute;
	width: 380px;
	height: 1px;
	left: 17px;
	object-fit: cover;
}

.screen .group-4 {
	position: absolute;
	width: 372px;
	height: 57px;
	top: 260px;
	left: 25px;
}

.screen .text-wrapper-15 {
	width: fit-content;
	font-family: "Poppins-Medium", Helvetica;
	font-weight: 500;
	color: #000000;
	font-size: 24px;
	position: relative;
	margin-top: -1px;
	letter-spacing: 0;
	line-height: normal;
}

.screen .group-5 {
	position: absolute;
	width: 156px;
	height: 21px;
	top: 36px;
	left: 218px;
}

.screen .element-p {
	position: absolute;
	width: 137px;
	top: 0;
	left: 17px;
	font-family: "Poppins-Medium", Helvetica;
	font-weight: 500;
	color: transparent;
	font-size: 14px;
	text-align: right;
	letter-spacing: 0;
	line-height: normal;
}

.screen .text-wrapper-16 {
	color: #808080;
}

.screen .white-question-mark {
	position: absolute;
	width: 16px;
	height: 16px;
	top: 0;
	left: 0;
}

.screen .img {
	top: 148px;
	position: absolute;
	width: 380px;
	height: 1px;
	left: 17px;
	object-fit: cover;
}

.screen .account-navigation {
	position: absolute;
	width: 700px;
	height: 68px;
	top: 141px;
	left: 370px;
}

.screen .text-wrapper-17 {
	position: absolute;
	width: 197px;
	height: 41px;
	top: 28px;
	left: 0;
	font-family: "Roboto-ExtraBold", Helvetica;
	font-weight: 800;
	color: #484848;
	font-size: 32px;
	letter-spacing: 0;
	line-height: 36px;
	white-space: nowrap;
}

.screen .header {
	position: absolute;
	width: 1119px;
	height: 154px;
	top: -63px;
	left: 160px;
	background-color: transparent;
}

.screen .overlap-2 {
	position: relative;
	width: 1119px;
	height: 154px;
}

.screen .top-nav {
	position: absolute;
	width: 1116px;
	height: 154px;
	top: 0;
	left: 3px;
}

.screen .menus {
	position: absolute;
	width: 419px;
	height: 137px;
	top: 0;
	left: 382px;
}

.screen .text-wrapper-18 {
	position: absolute;
	top: 0;
	left: 359px;
	font-family: var(- -h5-font-family);
	font-weight: var(- -h5-font-weight);
	color: #000000;
	font-size: var(- -h5-font-size);
	letter-spacing: var(- -h5-letter-spacing);
	line-height: var(- -h5-line-height);
	font-style: var(- -h5-font-style);
}

.screen .text-wrapper-19 {
	position: absolute;
	top: 115px;
	left: 0;
	font-family: var(- -h5-font-family);
	font-weight: var(- -h5-font-weight);
	color: #000000;
	font-size: var(- -h5-font-size);
	letter-spacing: var(- -h5-letter-spacing);
	line-height: var(- -h5-line-height);
	font-style: var(- -h5-font-style);
}

.screen .text-wrapper-20 {
	position: absolute;
	top: 115px;
	left: 84px;
	font-family: var(- -h5-font-family);
	font-weight: var(- -h5-font-weight);
	color: #000000;
	font-size: var(- -h5-font-size);
	letter-spacing: var(- -h5-letter-spacing);
	line-height: var(- -h5-line-height);
	font-style: var(- -h5-font-style);
}

.screen .text-wrapper-21 {
	position: absolute;
	top: 115px;
	left: 167px;
	font-family: var(- -h5-font-family);
	font-weight: var(- -h5-font-weight);
	color: #000000;
	font-size: var(- -h5-font-size);
	letter-spacing: var(- -h5-letter-spacing);
	line-height: var(- -h5-line-height);
	font-style: var(- -h5-font-style);
}

.screen .text-wrapper-22 {
	position: absolute;
	top: 115px;
	left: 259px;
	font-family: var(- -h5-font-family);
	font-weight: var(- -h5-font-weight);
	color: #000000;
	font-size: var(- -h5-font-size);
	letter-spacing: var(- -h5-letter-spacing);
	line-height: var(- -h5-line-height);
	font-style: var(- -h5-font-style);
}

.screen .div-2 {
	position: absolute;
	width: 176px;
	height: 31px;
	top: 103px;
	left: 942px;
	box-shadow: 0px 4px 4px #0000001a;
}

.screen .text-wrapper-23 {
	position: absolute;
	top: 9px;
	left: 0;
	font-family: var(- -h5-font-family);
	font-weight: var(- -h5-font-weight);
	color: #000000;
	font-size: var(- -h5-font-size);
	letter-spacing: var(- -h5-letter-spacing);
	line-height: var(- -h5-line-height);
	font-style: var(- -h5-font-style);
}

.screen .group-6 {
	position: absolute;
	width: 30px;
	height: 30px;
	top: 0;
	left: 146px;
}

.screen .overlap-group-2 {
	position: relative;
	width: 29px;
	height: 31px;
	left: -1px;
}

.screen .group-7 {
	position: absolute;
	width: 23px;
	height: 25px;
	top: 6px;
	left: 0;
}

.screen .ellipse {
	position: absolute;
	width: 15px;
	height: 15px;
	top: 1px;
	left: 14px;
	background-color: var(- -tangerine);
	border-radius: 7.5px;
	box-shadow: 0px 0px 22px #cc0000cc;
}

.screen .text-wrapper-24 {
	top: 0;
	left: 18px;
	font-family: var(- -p2-font-family);
	font-weight: var(- -p2-font-weight);
	color: var(- -white);
	font-size: var(- -p2-font-size);
	position: absolute;
	letter-spacing: var(- -p2-letter-spacing);
	line-height: var(- -p2-line-height);
	font-style: var(- -p2-font-style);
}

.screen .black-linear {
	position: absolute;
	width: 150px;
	height: 57px;
	top: 93px;
	left: 0;
	object-fit: cover;
}

.screen .footer {
	position: absolute;
	width: 1440px;
	height: 429px;
	top: 1541px;
	left: 0;
	background-color: #f9f9ff;
}

.screen .company-loco {
	position: absolute;
	width: 375px;
	height: 146px;
	top: 214px;
	left: 118px;
}

.screen .company {
	position: absolute;
	width: 377px;
	height: 89px;
	top: 0;
	left: 0;
}

.screen .text-wrapper-25 {
	position: absolute;
	width: 375px;
	top: 0;
	left: 0;
	font-family: var(- -p1-font-family);
	font-weight: var(- -p1-font-weight);
	color: var(- -gray);
	font-size: var(- -p1-font-size);
	letter-spacing: var(- -p1-letter-spacing);
	line-height: var(- -p1-line-height);
	font-style: var(- -p1-font-style);
}

.screen .social-icon {
	position: absolute;
	width: 177px;
	height: 42px;
	top: 104px;
	left: 0;
}

.screen .facebook {
	position: absolute;
	width: 42px;
	height: 42px;
	top: 0;
	left: 0;
	background-color: #f5dcc4;
	border-radius: 21px;
}

.screen .mask-group {
	position: absolute;
	width: 22px;
	height: 22px;
	top: 10px;
	left: 10px;
}

.screen .instagram {
	position: absolute;
	width: 42px;
	height: 42px;
	top: 0;
	left: 135px;
	background-color: #f5dcc4;
	border-radius: 21px;
}

.screen .mask-group-2 {
	position: absolute;
	width: 18px;
	height: 18px;
	top: 12px;
	left: 12px;
}

.screen .twitter {
	position: absolute;
	width: 42px;
	height: 42px;
	top: 0;
	left: 45px;
	background-color: #f5dcc4;
	border-radius: 21px;
}

.screen .mask-group-3 {
	position: absolute;
	width: 23px;
	height: 23px;
	top: 10px;
	left: 10px;
}

.screen .linkind {
	position: absolute;
	width: 42px;
	height: 42px;
	top: 0;
	left: 90px;
	background-color: #f5dcc4;
	border-radius: 21px;
}

.screen .contact-us {
	position: absolute;
	width: 277px;
	height: 277px;
	top: 107px;
	left: 1088px;
}

.screen .text-wrapper-26 {
	top: 0;
	left: 10px;
	font-family: var(- -h4-font-family);
	font-weight: var(- -h4-font-weight);
	color: #000000;
	font-size: var(- -h4-font-size);
	position: absolute;
	letter-spacing: var(- -h4-letter-spacing);
	line-height: var(- -h4-line-height);
	font-style: var(- -h4-font-style);
}

.screen .group-8 {
	position: absolute;
	width: 271px;
	height: 90px;
	top: 100px;
	left: 10px;
}

.screen .text-wrapper-27 {
	position: absolute;
	top: 0;
	left: 0;
	font-family: var(- -p1-font-family);
	font-weight: var(- -p1-font-weight);
	color: var(- -gray);
	font-size: var(- -p1-font-size);
	letter-spacing: var(- -p1-letter-spacing);
	line-height: var(- -p1-line-height);
	font-style: var(- -p1-font-style);
}

.screen .text-wrapper-28 {
	position: absolute;
	top: 34px;
	left: 0;
	font-family: var(- -p1-font-family);
	font-weight: var(- -p1-font-weight);
	color: var(- -gray);
	font-size: var(- -p1-font-size);
	letter-spacing: var(- -p1-letter-spacing);
	line-height: var(- -p1-line-height);
	font-style: var(- -p1-font-style);
}

.screen .text-wrapper-29 {
	position: absolute;
	top: 68px;
	left: 0;
	font-family: var(- -p1-font-family);
	font-weight: var(- -p1-font-weight);
	color: var(- -gray);
	font-size: var(- -p1-font-size);
	letter-spacing: var(- -p1-letter-spacing);
	line-height: var(- -p1-line-height);
	font-style: var(- -p1-font-style);
}

.screen .group-9 {
	position: absolute;
	width: 261px;
	height: 58px;
	top: 219px;
	left: 0;
}

.screen .overlap-group-3 {
	position: relative;
	width: 259px;
	height: 58px;
	background-color: var(- -white);
	border-radius: 32.5px;
	box-shadow: 0px 0px 15px #0000000d;
}

.screen .vector-wrapper {
	position: absolute;
	width: 38px;
	height: 42px;
	top: 8px;
	left: 208px;
	background-image: url(./img/component-15.svg);
	background-size: 100% 100%;
}

.screen .vector {
	position: absolute;
	width: 11px;
	height: 22px;
	top: 10px;
	left: 13px;
}

.screen .text-wrapper-30 {
	position: absolute;
	width: 177px;
	top: 21px;
	left: 21px;
	font-family: var(- -p2-font-family);
	font-weight: var(- -p2-font-weight);
	color: var(- -gray);
	font-size: var(- -p2-font-size);
	letter-spacing: var(- -p2-letter-spacing);
	line-height: var(- -p2-line-height);
	font-style: var(- -p2-font-style);
}

.screen .user-link {
	position: absolute;
	width: 161px;
	height: 258px;
	top: 107px;
	left: 865px;
}

.screen .text-wrapper-31 {
	position: absolute;
	top: 0;
	left: 0;
	font-family: var(- -h4-font-family);
	font-weight: var(- -h4-font-weight);
	color: #000000;
	font-size: var(- -h4-font-size);
	letter-spacing: var(- -h4-letter-spacing);
	line-height: var(- -h4-line-height);
	font-style: var(- -h4-font-style);
}

.screen .group-10 {
	position: absolute;
	width: 169px;
	height: 158px;
	top: 100px;
	left: 0;
}

.screen .payment-tex {
	position: absolute;
	top: 102px;
	left: 0;
	font-family: var(- -p1-font-family);
	font-weight: var(- -p1-font-weight);
	color: var(- -gray);
	font-size: var(- -p1-font-size);
	letter-spacing: var(- -p1-letter-spacing);
	line-height: var(- -p1-line-height);
	font-style: var(- -p1-font-style);
}

.screen .text-wrapper-32 {
	position: absolute;
	top: 136px;
	left: 0;
	font-family: var(- -p1-font-family);
	font-weight: var(- -p1-font-weight);
	color: var(- -gray);
	font-size: var(- -p1-font-size);
	letter-spacing: var(- -p1-letter-spacing);
	line-height: var(- -p1-line-height);
	font-style: var(- -p1-font-style);
}

.screen .opening-restaurant {
	position: absolute;
	width: 270px;
	height: 190px;
	top: 107px;
	left: 523px;
}

.screen .group-11 {
	position: absolute;
	width: 266px;
	height: 90px;
	top: 100px;
	left: 8px;
}

.screen .orange-round {
	position: absolute;
	width: 144px;
	height: 147px;
	top: 50px;
	left: 118px;
	object-fit: cover;
}