@charset "UTF-8";

.145_1481 {
	overflow: hidden;
}

/*.e145_1481 {
	background-color: rgba(255, 255, 255, 1);
	width: 1440px;
	height: 1788px;
	position: absolute;
}*/

.e145_1482 {
	width: 1073px;
	height: 56px;
	position: absolute;
	left: 166px;
	top: 37px;
}

.e145_1483 {
	width: 94px;
	height: 56px;
	position: absolute;
	left: 0px;
	top: 0px;
}

.e145_1484 {
	width: 94px;
	height: 56px;
	position: absolute;
	left: 0px;
	top: 0px;
	background-image: url(../images/my/untitled_1_1.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.e145_1485 {
	color: rgba(0, 0, 0, 1);
	width: 80px;
	height: 22px;
	position: absolute;
	left: 314px;
	top: 18px;
	/**/
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
}

.e145_1486 {
	color: rgba(0, 0, 0, 1);
	width: 93px;
	height: 22px;
	position: absolute;
	left: 421px;
	top: 17px;
	/**/
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
}

.e145_1487 {
	color: rgba(0, 0, 0, 1);
	width: 80px;
	height: 22px;
	position: absolute;
	left: 541px;
	top: 17px;
	/**/
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
}

.e145_1488 {
	color: rgba(0, 0, 0, 1);
	width: 80px;
	height: 22px;
	position: absolute;
	left: 648px;
	top: 18px;
	/**/
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
}

.e145_1489 {
	color: rgba(0, 0, 0, 1);
	width: 80px;
	height: 22px;
	position: absolute;
	left: 755px;
	top: 18px;
	/**/
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
}

.e145_1490 {
	color: rgba(0, 0, 0, 1);
	width: 89px;
	height: 22px;
	position: absolute;
	left: 951px;
	top: 18px;
	/**/
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
}

.e145_1491 {
	width: 33px;
	height: 36px;
	position: absolute;
	left: 1040px;
	top: 10px;
	background-image: url(../images/my/basketimage.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.e145_1492 {
	box-shadow: 0px 0px 22px
		rgba(204.00000303983688, 0, 0, 0.800000011920929);
	border-radius: 500px;
	background-color: rgba(244.0000006556511, 142.00000673532486, 40.00000141561031, 1);
	width: 15px;
	height: 15px;
	position: absolute;
	left: 1057px;
	top: 10px;
}

.e145_1493 {
	width: 1337px;
	height: 906px;
	position: absolute;
	left: 78px;
	top: 200px;
}

.e145_1494 {
	width: 300px;
    height: 69.015625px;
    position: absolute;
    left: 470px;
    top: px;
    top: -25px;
}

.e145_1495 {
	font-weight: 600;
    color: #484848;
    width: 152.17800903320312px;
    height: 18px;
    position: absolute;
    left: 193.292969px;
    top: 0px;
    text-align: left;
    font-size: 14px;
    letter-spacing: 0;
}

.e145_1496 {
    color: #484848;
    width: 300px;
    height: 41px;
    position: absolute;
    left: 0px;
    top: 28.015625px;
    font-weight: 800;
    font-size: 32px;
    letter-spacing: 0;
    line-height: px;
    text-align: left;
}

.e145_1497 {
left: 155px;
    top: -3px;
    width: 15.217805862426758px;
    height: 23.37931px;
    position: absolute;
    background-image: url(../images/my/image_8.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.e145_1498 {
	font-weight: 600;
    color: #484848;
    width: 160.610756px;
    height: 18px;
    position: absolute;
    left: 2.05078125px;
    top: 0px;
    text-align: left;
    font-size: 14px;
    letter-spacing: 0;
}

.e145_1499 {
	width: 950.1522827148438px;
	height: 742px;
	position: absolute;
	left: 500px;
    top: 100px;
}

.e145_1500 {
	font-size: 30px;
    font-weight: bold;
    margin-top: 50px;
    text-align: center;
}

.e145_1565 {
	width: 479px;
	height: 101px;
	position: relative;
	top: 20px;
	left: 20.15234375px;
	border: 2px solid #e7e7e7;
	border-radius: 30px;
	margin-bottom: 10px;
}

.e145_1566 {
	width: 479px;
	height: 101px;
	position: absolute;
	left: 0px;
	top: 0px;
}

.e145_1567 {
	width: 125px;
	height: 101px;
	position: absolute;
	left: 0px;
	top: 0px;
}

.e145_1569 {
	width: 125px;
	height: 101px;
	position: absolute;
	left: 0px;
	top: 0px;
	border-top-left-radius: 16px;
	border-top-right-radius: 16px;
	border-bottom-left-radius: 16px;
	border-bottom-right-radius: 16px;
	background-image:
/* 		url(../images/my/delish_200305_grilled_green_beans_0204_landscape_pf_1584045271_1.png); */
	background-repeat: no-repeat;
	background-size: cover;
}

.e145_1570 {
	width: 266px;
	height: 47px;
	position: absolute;
	left: 157px;
	top: 27px;
}

.e145_1572 {
	color: rgba(72.00000330805779, 72.00000330805779, 72.00000330805779, 1);
	width: 65px;
	height: 18px;
	position: absolute;
	left: 0px;
	top: 0px;
	/**/
	text-align: left;
	font-size: 16px;
	letter-spacing: 0;
	line-height: px;
	font-weight: 600;
}

.e145_1571 {
	color: rgba(72.00000330805779, 72.00000330805779, 72.00000330805779, 1);
	width: 247px;
	height: 18px;
	position: absolute;
	left: 0px;
	top: 29px;
	/**/
	text-align: left;
	font-size: 16px;
	letter-spacing: 0;
	line-height: px;
	font-weight: 600;
}

.e145_1514 {
	cursor: pointer;
	width: 250px;
	height: 270px;
	position: absolute;
	background-color: #ffffff;
	border-radius: 16px;
	border: 2px solid;
	border-color: #e7e7e7;
	left: 165px;
    top:109px;
}

.145_1514 {
	border: 2px solid
		rgba(231.62500709295273, 231.62500709295273, 231.62500709295273, 1);
}

.e145_1515 {
	width: 198px;
	height: 47px;
	position: absolute;
	left: 26px;
	top: 26px;
}

.e145_1516 {
	font-size: 21px;
    font-style: normal;
    font-weight: 700;
    width: 83px;
    height: 26px;
    position: absolute;
    left: 52px;
    top: 0px;
    text-align: left;
    letter-spacing: 0;
}

.e145_1517 {
	color: #F48E28;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    width: 71px;
    height: 20px;
    position: absolute;
    left: 53px;
    top: 27px;
    text-align: left;
}

.e145_1518 {
	/* background-image: url(../images/my/profile.png); */
    position: absolute;
    width: 40px;
    height: 40px;
    top: 0;
    left: 0;
    border-radius: 20px;
    background-size: cover;
    background-position: 50% 50%;
}

.e145_1519 {
	font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    width: 198px;
    height: 206px;
    position: absolute;
    left: 26px;
    top: 98px;
}

.e145_1573 {
	background-color: rgba(254.99996960163116, 174.5559909939766, 100.30001074075699, 1);
	width: 198px;
	height: 50px;
	position: absolute;
	left: 0px;
	top: 0px;
	border-top-left-radius: 16px;
	border-top-right-radius: 16px;
	border-bottom-left-radius: 16px;
	border-bottom-right-radius: 16px;
}

.e145_1574 {
	font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    color: rgba(255, 255, 255, 1);
    width: 135px;
    height: 20px;
    position: absolute;
    left: 20px;
    top: 15px;
    text-align: left;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    letter-spacing: 0;
}

.e145_1520 {
	width: 198px;
	height: 50px;
	position: absolute;
	left: 0px;
	top: 52px;
}

.e145_1521 {
	color: rgba(60.00000022351742, 60.00000022351742, 60.00000022351742, 1);
	width: 135px;
	height: 20px;
	position: absolute;
	left: 20px;
	top: 15px;
	/**/
	text-align: left;
	font-size: 14px;
	letter-spacing: 0;
	line-height: px;
}

.e145_1560 {
	width: 198px;
	height: 50px;
	position: absolute;
	left: 0px;
	top: 104px;
}

.e145_1561 {
	color: rgba(60.00000022351742, 60.00000022351742, 60.00000022351742, 1);
	width: 135px;
	height: 20px;
	position: absolute;
	left: 20px;
	top: 15px;
	/**/
	text-align: left;
	font-size: 14px;
	letter-spacing: 0;
	line-height: px;
}

.e145_1526 {
	width: 198px;
	height: 50px;
	position: absolute;
	left: 0px;
	top: 156px;
	border-top-left-radius: 16px;
	border-top-right-radius: 16px;
	border-bottom-left-radius: 16px;
	border-bottom-right-radius: 16px;
}

.e145_1527 {
	color: rgba(60.00000022351742, 60.00000022351742, 60.00000022351742, 1);
	width: 135px;
	height: 20px;
	position: absolute;
	left: 20px;
	top: 15px;
	/**/
	text-align: left;
	font-size: 14px;
	letter-spacing: 0;
	line-height: px;
}

.e145_1528 {
	width: 1440px;
	height: 429px;
	position: absolute;
	left: 0px;
	top: 1359px;
}

.e145_1529 {
	background-color: rgba(249.6875050663948, 249.900004863739, 255, 1);
	width: 1440px;
	height: 429px;
	position: absolute;
	left: 0px;
	top: 0px;
}

.e145_1530 {
	width: 393px;
	height: 227px;
	position: absolute;
	left: 118px;
	top: 76px;
}

.e145_1531 {
	width: 393px;
	height: 227px;
	position: absolute;
	left: 0px;
	top: 0px;
}

.e145_1532 {
	color: rgba(181.68749392032623, 181.68749392032623, 181.68749392032623, 1);
	width: 393px;
	height: 89px;
	position: absolute;
	left: 0px;
	top: 138px;
	/**/
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
}

.e145_1533 {
	width: 189.68800354003906px;
	height: 108px;
	position: absolute;
	left: 0px;
	top: 0px;
	background-image: url(../images/my/untitled_1_2.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.e145_1534 {
	width: 234px;
	height: 190px;
	position: absolute;
	left: 1098px;
	top: 107px;
}

.e145_1535 {
	color: rgba(0, 0, 0, 1);
	width: 167.9425811767578px;
	height: 32px;
	position: absolute;
	left: 0px;
	top: 0px;
	/**/
	text-align: left;
	font-size: 26px;
	letter-spacing: 0;
}

.e145_1536 {
	width: 234px;
	height: 90px;
	position: absolute;
	left: 0px;
	top: 100px;
}

.e145_1537 {
	color: rgba(181.68749392032623, 181.68749392032623, 181.68749392032623, 1);
	width: 228.40191650390625px;
	height: 22px;
	position: absolute;
	left: 0px;
	top: 0px;
	/**/
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
}

.e145_1538 {
	color: rgba(181.68749392032623, 181.68749392032623, 181.68749392032623, 1);
	width: 234px;
	height: 22px;
	position: absolute;
	left: 0px;
	top: 34px;
	/**/
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
}

.e145_1539 {
	color: rgba(181.68749392032623, 181.68749392032623, 181.68749392032623, 1);
	width: 148.90908813476562px;
	height: 22px;
	position: absolute;
	left: 0px;
	top: 68px;
	/**/
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
}

.e145_1540 {
	width: 194px;
	height: 258px;
	position: absolute;
	left: 865px;
	top: 107px;
}

.e145_1541 {
	color: rgba(0, 0, 0, 1);
	width: 156.1761016845703px;
	height: 32px;
	position: absolute;
	left: 0px;
	top: 0px;
	/**/
	text-align: left;
	font-size: 26px;
	letter-spacing: 0;
}

.e145_1542 {
	width: 194px;
	height: 158px;
	position: absolute;
	left: 0px;
	top: 100px;
}

.e145_1543 {
	color: rgba(181.68749392032623, 181.68749392032623, 181.68749392032623, 1);
	width: 103.710693359375px;
	height: 22px;
	position: absolute;
	left: 0px;
	top: 0px;
	/**/
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
}

.e145_1544 {
	color: rgba(181.68749392032623, 181.68749392032623, 181.68749392032623, 1);
	width: 123.23270416259766px;
	height: 22px;
	position: absolute;
	left: 0px;
	top: 34px;
	/**/
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
}

.e145_1545 {
	color: rgba(181.68749392032623, 181.68749392032623, 181.68749392032623, 1);
	width: 162.2767333984375px;
	height: 22px;
	position: absolute;
	left: 0px;
	top: 68px;
	/**/
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
}

.e145_1546 {
	color: rgba(181.68749392032623, 181.68749392032623, 181.68749392032623, 1);
	width: 165.93710327148438px;
	height: 22px;
	position: absolute;
	left: 0px;
	top: 102px;
	/**/
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
}

.e145_1547 {
	color: rgba(181.68749392032623, 181.68749392032623, 181.68749392032623, 1);
	width: 194px;
	height: 22px;
	position: absolute;
	left: 0px;
	top: 136px;
	/**/
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
}

.e145_1548 {
	width: 295px;
	height: 190px;
	position: absolute;
	left: 523px;
	top: 107px;
}

.e145_1549 {
	color: rgba(0, 0, 0, 1);
	width: 295px;
	height: 32px;
	position: absolute;
	left: 0px;
	top: 0px;
	/**/
	text-align: left;
	font-size: 26px;
	letter-spacing: 0;
}

.e145_1550 {
	width: 277.8985595703125px;
	height: 90px;
	position: absolute;
	left: 8.550724983215332px;
	top: 100px;
}

.e145_1551 {
	color: rgba(181.68749392032623, 181.68749392032623, 181.68749392032623, 1);
	width: 264.0036315917969px;
	height: 22px;
	position: absolute;
	left: 0px;
	top: 0px;
	/**/
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
}

.e145_1552 {
	color: rgba(181.68749392032623, 181.68749392032623, 181.68749392032623, 1);
	width: 277.8985595703125px;
	height: 22px;
	position: absolute;
	left: 0px;
	top: 34px;
	/**/
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
}

.e145_1553 {
	color: rgba(181.68749392032623, 181.68749392032623, 181.68749392032623, 1);
	width: 239.4202880859375px;
	height: 22px;
	position: absolute;
	left: 0px;
	top: 68px;
	/**/
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
}

.e145_1554 {
	width: 147px;
	height: 47px;
	position: absolute;
	left: 118px;
	top: 313px;
	background-image: url(../images/my/snsicon.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.e145_1555 {
	width: 223px;
	height: 67px;
	position: absolute;
	left: 1091px;
	top: 320px;
	background-image: url(../images/my/image_7.png);
	background-repeat: no-repeat;
	background-size: cover;
}