@charset "UTF-8";

.choice {
	background: linear-gradient(180deg, #FFB673 0%, #FFE9D3 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 48px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.mail-check-warn {
	font-size: 15px;
	position: absolute;
	left: 0px;
	top: 140px;
	color: red;
}

.form-control {
	padding-left: 20px;
	width: 330px;
	height: 50px;
	flex-shrink: 0;
	border-radius: 10px;
	border: 1px solid #E8E8E8;
	background: #FAFDFF;
	position: relative;
	top: 5rem;
}

.e106_422:focus-visible, .e106_419:focus-visible, .e106_416:focus-visible,
	.e106_413:focus-visible, .e106_410:focus-visible, .e106_407:focus-visible,
	.e106_457:focus-visible, .form-control:focus-visible {
	outline: none;
	box-shadow: 0px 0px 2px lightgrey;
}

.106_187 {
	overflow: hidden;
}

.e106_187 {
    background: linear-gradient(243deg, #FFD4B4 -0.78%, rgba(218, 221, 223, 0.23)
		22.11%, rgba(218, 220, 221, 0.16) 26.74%, rgba(217, 219, 220, 0.11)
		34.37%, rgba(255, 255, 255, 0.07) 49.83%, rgba(217, 217, 217, 0.00)
		100.71%);
    width: 100%;
    height: 2200px;
    position: absolute;
}

.e106_320 {
	width: 1079px;
	height: 56px;
	position: absolute;
	left: 183px;
	top: 85px;
}

.e106_321 {
	width: 99px;
	height: 56px;
	position: absolute;
	left: 0px;
	top: 0px;
}

.e106_322 {
	width: 99px;
	height: 56px;
	position: absolute;
	left: 0px;
	top: 0px;
	background-image: url(images/untitled_1_1.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.e106_323 {
	color: rgba(0, 0, 0, 1);
	width: 80px;
	height: 22px;
	position: absolute;
	left: 310px;
	top: 18px;
	/**/
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
}

.e106_324 {
	color: rgba(0, 0, 0, 1);
	width: 93px;
	height: 22px;
	position: absolute;
	left: 419px;
	top: 18px;
	/**/
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
}

.e106_325 {
	color: rgba(0, 0, 0, 1);
	width: 80px;
	height: 22px;
	position: absolute;
	left: 541px;
	top: 18px;
	/**/
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
}

.e106_326 {
	color: rgba(0, 0, 0, 1);
	width: 80px;
	height: 22px;
	position: absolute;
	left: 650px;
	top: 18px;
	/**/
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
}

.e106_327 {
	color: rgba(0, 0, 0, 1);
	width: 80px;
	height: 22px;
	position: absolute;
	left: 759px;
	top: 18px;
	/**/
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
}

.e106_492 {
	width: 182px;
	height: 22px;
	position: absolute;
	left: 897px;
	top: 18px;
}

.e106_493 {
	color: rgba(0, 0, 0, 1);
	width: 69px;
	height: 22px;
	position: absolute;
	left: 0px;
	top: 0px;
	/**/
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
}

.e106_494 {
	color: rgba(0, 0, 0, 1);
	width: 105px;
	height: 22px;
	position: absolute;
	left: 77px;
	top: 0px;
	/**/
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
}

.e106_334 {
	width: fit-content;
	height: 192px;
	position: relative;
	left: 20rem;
	top: 5rem;
}

.e106_335 {
	font-size: 64px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	letter-spacing: 1.28px;
	color: rgba(0, 0, 0, 1);
	width: 650px;
	height: 192px;
	position: absolute;
	left: 0px;
	top: 0px;
	text-align: left;
}

.e106_348 {
	margin: 0 auto;
	width: 607px;
	height: 360px;
	position: relative;
	top: 8rem;
}

.e106_291 {
	width: 500px;
	height: 100px;
	position: absolute;
	left: 0px;
	top: 0px;
	background-image: url(../images/register/ProgressBar_2.png);
	background-repeat: no-repeat;
	background-size: cover;
	height: 100px;
}

.e106_193 {
	color: #000;
	width: 203px;
	height: 72px;
	position: absolute;
	left: 32px;
	top: 214px;
	text-align: left;
	font-size: 48px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	letter-spacing: 0;
}

.e106_454 {
	width: 106px;
	height: 37px;
	position: absolute;
	left: 28px;
	top: 323px;
	background-image: url(../images/register/image_30.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.e106_455 {
	color: #000;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	letter-spacing: 0.48px;
	width: 382px;
	height: 26px;
	position: absolute;
	left: 148px;
	top: 328px;
	text-align: left;
}

.e106_393 {
	margin: 0 auto;
	width: 616px;
	height: 1234.960205078125px;
	position: relative;
	left: 30px;
	top: 10rem;
}


.e106_394 {
	width: 300px;
	height: 77.960205078125px;
	position: absolute;
	left: 135px;
	top: 1157px;
}

.e106_395 {
	cursor:pointer;
	color: #FFF;
	text-align: center;
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	letter-spacing: 0.6px;
	border: none;
	border-radius: 35px;
	background: #F48E28;
	width: 200px;
	height: 63px;
	position: absolute;
	left: 0px;
	top: 0px;
}

.e106_395:hover {
	box-shadow: 0px 10px 30px 0px rgba(196, 80, 17, 0.51);
}

.e106_396 {
	color: rgba(255, 255, 255, 1);
	width: 114px;
	height: 37.123905181884766px;
	position: absolute;
	left: 93.89778900146484px;
	top: 20px;
	/**/
	text-align: center;
	font-size: 20px;
	letter-spacing: 3;
}

.e106_403 {
	width: 616px;
	height: 198px;
	position: absolute;
	left: 0px;
	top: 918px;
}

.e106_386 {
	color: #000;
	font-size: 48px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	width: 412px;
	height: 76px;
	position: absolute;
	left: -6px;
	top: -13px;
	text-align: left;
	letter-spacing: 0;
}

.e106_456 {
	width: 106px;
	height: 37px;
	position: absolute;
	left: 0px;
	top: 63px;
	background-image: url(../images/register/image_30.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.e106_457 {
	padding-left: 20px;
	width: 330px;
	height: 48px;
	position: absolute;
	left: 1.35791015625px;
	top: 133.5px;
	border-radius: 10px;
	border: 1px solid #E8E8E8;
	background: #FAFDFF;
	width: 330px;
}

.106_457 {
	border: 1px solid
		rgba(231.62500709295273, 231.62500709295273, 231.62500709295273, 1);
}

.e106_458 {
	color: #000;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	letter-spacing: 0.48px;
	width: 382px;
	height: 26px;
	position: absolute;
	text-align: left;
	left: 121px;
	top: 68px;
}

.e106_459 {
	color: rgba(0, 0, 0, 1);
	width: 58.38211441040039px;
	height: 25px;
	position: absolute;
	left: 8px;
	top: 109px;
	/**/
	text-align: left;
	font-size: 14px;
	letter-spacing: 0;
}

.e106_406 {
	width: 581.5975952148438px;
	height: 116.20481872558594px;
	position: absolute;
	left: 7.162790775299072px;
	top: 785.48583984375px;
}

.e106_407 {
	padding-left: 20px;
	width: 330px;
	height: 48px;
	position: absolute;
	left: 1.35791015625px;
	top: 25px;
	border-radius: 10px;
	border: 1px solid #E8E8E8;
	background: #FAFDFF;
	width: 330px;
}

.106_407 {
	border: 1px solid
		rgba(231.62500709295273, 231.62500709295273, 231.62500709295273, 1);
}

.e106_408 {
	color: rgba(0, 0, 0, 1);
	width: 58.38211441040039px;
	height: 25px;
	position: absolute;
	left: 8px;
	top: 0px;
	/**/
	text-align: left;
	font-size: 14px;
	letter-spacing: 0;
}

.e106_409 {
	width: 581.5975952148438px;
	height: 116.20481872558594px;
	position: absolute;
	left: 8.844367980957031px;
	top: 640px;
}

.e106_410 {
	padding-left: 20px;
	width: 330px;
	height: 48px;
	position: absolute;
	left: 1.35791015625px;
	top: 25px;
	border-radius: 10px;
	border: 1px solid #E8E8E8;
	background: #FAFDFF;
	width: 330px;
}

.106_410 {
	border: 1px solid
		rgba(231.62500709295273, 231.62500709295273, 231.62500709295273, 1);
}

.e106_411 {
	color: rgba(0, 0, 0, 1);
	width: 58.38211441040039px;
	height: 25px;
	position: absolute;
	left: 1px;
	top: 0px;
	/**/
	text-align: left;
	font-size: 14px;
	letter-spacing: 0;
}

.e106_412 {
	width: 581.5975952148438px;
	height: 130px;
	position: absolute;
	left: 8.844367980957031px;
	top: 470.703125px;
}

.e106_413 {
	padding-left: 20px;
	width: 330px;
	height: 48px;
	position: absolute;
	left: 1.35791015625px;
	top: 25px;
	border-radius: 10px;
	border: 1px solid #E8E8E8;
	background: #FAFDFF;
	width: 330px;
}

.106_413 {
	border: 1px solid
		rgba(231.62500709295273, 231.62500709295273, 231.62500709295273, 1);
}

.e106_414 {
	color: rgba(0, 0, 0, 1);
	width: 58.38211441040039px;
	height: 25px;
	position: absolute;
	left: 8px;
	top: 0.296875px;
	/**/
	text-align: left;
	font-size: 14px;
	letter-spacing: 0;
}

.e106_397 {
	cursor:pointer;
	width: 163px;
	height: 48px;
	position: absolute;
	left: 391.15625px;
	top: 25.296875px;
}

.e106_398 {
	border: none;
	cursor:pointer;
	border-radius: 15px;
	background: linear-gradient(180deg, #FFB673 0%, #F5DDC4 100%);
	width: 163px;
	height: 48px;
	position: absolute;
	left: 0px;
	top: 0px;
}

.e106_399 {
	font-weight: 600;
	color: rgba(255, 255, 255, 1);
	width: 131px;
	height: 23px;
	position: absolute;
	left: 16px;
	top: 13px;
	text-align: center;
	font-size: 20px;
	letter-spacing: 3;
}

.e106_415 {
	width: 581.5975952148438px;
	height: 116.20481872558594px;
	position: absolute;
	left: 8.844367980957031px;
	top: 313.31201171875px;
}

.e106_416 {
	padding-left: 20px;
	width: 330px;
	height: 48px;
	position: absolute;
	left: 1.35791015625px;
	top: 25px;
	border-radius: 10px;
	border: 1px solid #E8E8E8;
	background: #FAFDFF;
	width: 330px;
}

.106_416 {
	border: 1px solid
		rgba(231.62500709295273, 231.62500709295273, 231.62500709295273, 1);
}

.e106_417 {
	color: rgba(0, 0, 0, 1);
	width: 58.38211441040039px;
	height: 25px;
	position: absolute;
	left: 8px;
	top: -0.31201171875px;
	/**/
	text-align: left;
	font-size: 14px;
	letter-spacing: 0;
}

.e106_418 {
	width: 581.5975952148438px;
	height: 111.79197692871094px;
	position: absolute;
	left: 8.844367980957031px;
	top: 160.33349609375px;
}

.e106_419 {
	padding-left: 20px;
	width: 330px;
	height: 48px;
	position: absolute;
	left: 1.35791015625px;
	top: 25px;
	border-radius: 10px;
	border: 1px solid #E8E8E8;
	background: #FAFDFF;
	width: 330px;
}

.106_419 {
	border: 1px solid
		rgba(231.62500709295273, 231.62500709295273, 231.62500709295273, 1);
}

.e106_420 {
	color: rgba(0, 0, 0, 1);
	width: 58.38211441040039px;
	height: 25px;
	position: absolute;
	left: 8px;
	top: -0.33349609375px;
	/**/
	text-align: left;
	font-size: 14px;
	letter-spacing: 0;
}

.e106_421 {
	width: 581.5975952148438px;
	height: 116.20481872558594px;
	position: absolute;
	left: 8.844367980957031px;
	top: 9.094947017729282e-13px;
}

.e106_400 {
	width: 163px;
	height: 48px;
	position: absolute;
	left: 390px;
	top: 25px;
}

.e106_401 {
	cursor:pointer;
	border: none;
	border-radius: 15px;
	background: linear-gradient(180deg, #FFB673 0%, #F5DDC4 100%);
	width: 163px;
	height: 48px;
	position: absolute;
	left: 0px;
	top: 0px;
}

.e106_402 {
	font-weight: 600;
	color: rgba(255, 255, 255, 1);
	width: 131px;
	height: 23px;
	position: absolute;
	left: 16px;
	top: 13px;
	text-align: center;
	font-size: 20px;
	letter-spacing: 3;
}

.e106_422 {
	border-radius: 10px;
	border: 1px solid #E8E8E8;
	background: #FAFDFF;
	padding-left: 20px;
	width: 330px;
	height: 48px;
	position: absolute;
	left: 1.35791015625px;
	top: 25px;
	width: 330px;
}

.106_422 {
	border: 1px solid
		rgba(231.62500709295273, 231.62500709295273, 231.62500709295273, 1);
}

.e106_423 {
	color: rgba(0, 0, 0, 1);
	width: 58.38211441040039px;
	height: 25px;
	position: absolute;
	left: 8px;
	top: 0px;
	/**/
	text-align: left;
	font-size: 14px;
	letter-spacing: 0;
}

.e106_461 {
	width: 1440px;
	height: 429px;
	position: absolute;
	left: 0px;
	top: 2237px;
}

.e106_462 {
	background-color: rgba(249.6875050663948, 249.900004863739, 255, 1);
	width: 1440px;
	height: 429px;
	position: absolute;
	left: 0px;
	top: 0px;
}

.e106_463 {
	width: 393px;
	height: 227px;
	position: absolute;
	left: 118px;
	top: 76px;
}

.e106_464 {
	width: 393px;
	height: 227px;
	position: absolute;
	left: 0px;
	top: 0px;
}

.e106_465 {
	color: rgba(181.68749392032623, 181.68749392032623, 181.68749392032623, 1);
	width: 393px;
	height: 89px;
	position: absolute;
	left: 0px;
	top: 138px;
	/**/
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
}

.e106_466 {
	width: 189.68800354003906px;
	height: 108px;
	position: absolute;
	left: 0px;
	top: 0px;
	background-image: url(images/untitled_1_2.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.e106_467 {
	width: 234px;
	height: 190px;
	position: absolute;
	left: 1098px;
	top: 107px;
}

.e106_468 {
	color: rgba(0, 0, 0, 1);
	width: 167.9425811767578px;
	height: 32px;
	position: absolute;
	left: 0px;
	top: 0px;
	/**/
	text-align: left;
	font-size: 26px;
	letter-spacing: 0;
}

.e106_469 {
	width: 234px;
	height: 90px;
	position: absolute;
	left: 0px;
	top: 100px;
}

.e106_470 {
	color: rgba(181.68749392032623, 181.68749392032623, 181.68749392032623, 1);
	width: 228.40191650390625px;
	height: 22px;
	position: absolute;
	left: 0px;
	top: 0px;
	/**/
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
}

.e106_471 {
	color: rgba(181.68749392032623, 181.68749392032623, 181.68749392032623, 1);
	width: 234px;
	height: 22px;
	position: absolute;
	left: 0px;
	top: 34px;
	/**/
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
}

.e106_472 {
	color: rgba(181.68749392032623, 181.68749392032623, 181.68749392032623, 1);
	width: 148.90908813476562px;
	height: 22px;
	position: absolute;
	left: 0px;
	top: 68px;
	/**/
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
}

.e106_473 {
	width: 194px;
	height: 258px;
	position: absolute;
	left: 865px;
	top: 107px;
}

.e106_474 {
	color: rgba(0, 0, 0, 1);
	width: 156.1761016845703px;
	height: 32px;
	position: absolute;
	left: 0px;
	top: 0px;
	/**/
	text-align: left;
	font-size: 26px;
	letter-spacing: 0;
}

.e106_475 {
	width: 194px;
	height: 158px;
	position: absolute;
	left: 0px;
	top: 100px;
}

.e106_476 {
	color: rgba(181.68749392032623, 181.68749392032623, 181.68749392032623, 1);
	width: 103.710693359375px;
	height: 22px;
	position: absolute;
	left: 0px;
	top: 0px;
	/**/
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
}

.e106_477 {
	color: rgba(181.68749392032623, 181.68749392032623, 181.68749392032623, 1);
	width: 123.23270416259766px;
	height: 22px;
	position: absolute;
	left: 0px;
	top: 34px;
	/**/
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
}

.e106_478 {
	color: rgba(181.68749392032623, 181.68749392032623, 181.68749392032623, 1);
	width: 162.2767333984375px;
	height: 22px;
	position: absolute;
	left: 0px;
	top: 68px;
	/**/
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
}

.e106_479 {
	color: rgba(181.68749392032623, 181.68749392032623, 181.68749392032623, 1);
	width: 165.93710327148438px;
	height: 22px;
	position: absolute;
	left: 0px;
	top: 102px;
	/**/
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
}

.e106_480 {
	color: rgba(181.68749392032623, 181.68749392032623, 181.68749392032623, 1);
	width: 194px;
	height: 22px;
	position: absolute;
	left: 0px;
	top: 136px;
	/**/
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
}

.e106_481 {
	width: 295px;
	height: 190px;
	position: absolute;
	left: 523px;
	top: 107px;
}

.e106_482 {
	color: rgba(0, 0, 0, 1);
	width: 295px;
	height: 32px;
	position: absolute;
	left: 0px;
	top: 0px;
	/**/
	text-align: left;
	font-size: 26px;
	letter-spacing: 0;
}

.e106_483 {
	width: 277.8985595703125px;
	height: 90px;
	position: absolute;
	left: 8.550724983215332px;
	top: 100px;
}

.e106_484 {
	color: rgba(181.68749392032623, 181.68749392032623, 181.68749392032623, 1);
	width: 264.0036315917969px;
	height: 22px;
	position: absolute;
	left: 0px;
	top: 0px;
	/**/
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
}

.e106_485 {
	color: rgba(181.68749392032623, 181.68749392032623, 181.68749392032623, 1);
	width: 277.8985595703125px;
	height: 22px;
	position: absolute;
	left: 0px;
	top: 34px;
	/**/
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
}

.e106_486 {
	color: rgba(181.68749392032623, 181.68749392032623, 181.68749392032623, 1);
	width: 239.4202880859375px;
	height: 22px;
	position: absolute;
	left: 0px;
	top: 68px;
	/**/
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
}

.e106_487 {
	width: 147px;
	height: 47px;
	position: absolute;
	left: 118px;
	top: 313px;
	background-image: url(images/snsicon.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.e106_488 {
	width: 223px;
	height: 67px;
	position: absolute;
	left: 1091px;
	top: 320px;
	background-image: url(images/image_7.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.e108_189 {
    margin: 0 auto;
    color: #000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.48px;
    width: 150px;
    height: 30px;
    position: relative;
    top: 11rem;
    left: -74px;
}

.e108_188 {
	color: #FF7200;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	letter-spacing: 0.48px;
	width: 166.46177673339844px;
	height: 30px;
	position: absolute;
	left: 150px;
	top: 0px;
	/**/
	text-align: left;
	font-size: 16px;
	letter-spacing: 3;
	font-weight: 600;
	line-height: normal;
	letter-spacing: 0.48px;
}

.e108_187 {
	color: rgba(0, 0, 0, 1);
	width: 208px;
	height: 23px;
	position: absolute;
	left: 0px;
	top: 0px;
	text-align: left;
	font-size: 16px;
	letter-spacing: 3;
}