@charset "UTF-8";
* {
	box-sizing: border-box;
}

body {
	font-size: 14px;
}

.v38_189 {
/* 	width: 100%; */
	height: 2000px;
	background: rgba(255, 255, 255, 1);
	margin: 10px;
	opacity: 1;
	position: relative;
	top: 0px;
	left: 0px;
	overflow: hidden;
}

.v36_462 {
	width: 100%;
	height: 100%;
	background: linear-gradient(rgba(255, 212, 180, 1),
		rgba(217, 221, 223, 0.2339162975549698));
	opacity: 1;
	position: relative;
	top: 0px;
	left: 0px;
}

.v39_195 {
	width: 151px;
	color: rgba(0, 0, 0, 1);
	position: absolute;
	top: 1708px;
	left: 660px;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	font-size: 16px;
	opacity: 1;
	text-align: left;
}

.v39_196 {
	width: 133px;
	color: rgba(255, 114, 0, 1);
	position: absolute;
	top: 1708px;
	left: 840px;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	font-family: Poppins;
	font-weight: SemiBold;
	font-size: 16px;
	opacity: 1;
	text-align: left;
	text-decoration-line: none;
}

.v32_437 {
	width: 555px;
/* 	color: url("../images/v32_437.png"); */
	position: absolute;
	top: 183px;
	left: 250px;
	font-family: Poppins;
	font-weight: SemiBold;
	font-size: 53px;
	opacity: 1;
	text-align: left;
}

.v39_12 {
	width: 203px;
	color: rgba(0, 0, 0, 1);
	position: absolute;
	top: 472px;
	left: 734px;
	font-family: Poppins;
	font-weight: Bold;
	font-size: 48px;
	opacity: 1;
	text-align: left;
}

.v39_13 {
	width: 606px;
	color: rgba(0, 0, 0, 1);
	position: absolute;
	top: 579px;
	left: 585px;
	font-family: Poppins;
	font-weight: Bold;
	font-size: 24px;
	opacity: 1;
	text-align: left;
}

.v39_14 {
	width: 436px;
	height: 84px;
	background: url("../images/v39_14.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	opacity: 1;
	position: absolute;
	top: 353px;
	left: 618px;
	overflow: hidden;
}

.v39_15 {
	width: 436px;
	height: 84px;
	background: url("../images/v39_15.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	opacity: 1;
	position: relative;
	top: 0px;
	left: 0px;
	overflow: hidden;
}

.name {
	color: #fff;
}

.v39_17 {
	width: 20px;
	height: 19px;
	background: url("../images/v39_17.png");
	opacity: 1;
	position: absolute;
	top: 33px;
	left: 209px;
	border: 2px solid rgba(255, 255, 255, 1);
}

.v39_68 {
	width: 533px;
	height: 953px;
	background: url("../images/v39_68.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	opacity: 1;
	position: absolute;
	top: 682px;
	left: 625px;
	overflow: hidden;
}

.v39_197 {
	width: 265px;
	height: 61px;
	background: url("../images/v39_197.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	opacity: 1;
	position: absolute;
	top: 892px;
	left: 35px;
	overflow: hidden;
}

.v39_198 {
	width: 265px;
	height: 61px;
	background: rgba(244, 142, 40, 1);
	opacity: 1;
	position: relative;
	top: 0px;
	left: 0px;
	border-top-left-radius: 35px;
	border-top-right-radius: 35px;
	border-bottom-left-radius: 35px;
	border-bottom-right-radius: 35px;
	/* 	box-shadow: 0px 10px 30px
		rgba(0.7686274647712708, 0.3137255012989044, 0.06666667014360428,
		0.5099999904632568); */
	overflow: hidden;
}

.v39_199 {
	width: 100px;
	color: rgba(255, 255, 255, 1);
	position: absolute;
	top: 17px;
	left: 83px;
	font-family: Poppins;
	font-weight: SemiBold;
	font-size: 22px;
	opacity: 1;
	text-align: center;
}

.v39_105 {
	width: 163px;
	height: 48px;
	background: url("../images/v39_105.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	opacity: 1;
	position: absolute;
	top: 396px;
	left: 370px;
	overflow: hidden;
}

.v39_106 {
	width: 163px;
	height: 48px;
	background: rgba(244, 142, 40, 1);
	opacity: 1;
	position: relative;
	top: 0px;
	left: 0px;
	border-top-left-radius: 35px;
	border-top-right-radius: 35px;
	border-bottom-left-radius: 35px;
	border-bottom-right-radius: 35px;
	/* 	box-shadow: 0px 10px 30px
		rgba(0.7686274647712708, 0.3137255012989044, 0.06666667014360428,
		0.5099999904632568); */
	overflow: hidden;
}

.v39_107 {
	width: 131px;
	color: rgba(255, 255, 255, 1);
	position: absolute;
	top: 13px;
	left: 16px;
	font-family: Poppins;
	font-weight: SemiBold;
	font-size: 16px;
	opacity: 1;
	text-align: center;
}

.v39_203 {
	width: 163px;
	height: 48px;
	background: url("../images/v39_203.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	opacity: 1;
	position: absolute;
	top: 25px;
	left: 370px;
	overflow: hidden;
}

.v39_204 {
	width: 163px;
	height: 48px;
	background: rgba(244, 142, 40, 1);
	opacity: 1;
	position: relative;
	top: 0px;
	left: 0px;
	border-top-left-radius: 35px;
	border-top-right-radius: 35px;
	border-bottom-left-radius: 35px;
	border-bottom-right-radius: 35px;
	box-shadow: 0px 10px 30px
		rgba(0.7686274647712708, 0.3137255012989044, 0.06666667014360428,
		0.5099999904632568);
	overflow: hidden;
}

.v39_205 {
	width: 131px;
	color: rgba(255, 255, 255, 1);
	position: absolute;
	top: 13px;
	left: 16px;
	font-family: Poppins;
	font-weight: SemiBold;
	font-size: 20px;
	opacity: 1;
	text-align: center;
}

.v39_192 {
	width: 406px;
	height: 127px;
	background: url("../images/v39_192.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	opacity: 1;
	position: absolute;
	top: 721px;
	left: 1px;
	overflow: hidden;
}

.v39_193 {
	width: 330px;
	height: 48px;
	background: rgba(249, 252, 255, 1);
	opacity: 1;
	position: absolute;
	top: 55px;
	left: 1px;
	border: 1px solid rgba(231, 231, 231, 1);
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	overflow: hidden;
}

.v39_194 {
	width: 315px;
	color: rgba(0, 0, 0, 1);
	position: absolute;
	top: 0px;
	left: 1px;
	font-family: Poppins;
	font-weight: Regular;
	font-size: 12px;
	opacity: 1;
	text-align: left;
}

.v39_87 {
	width: 405px;
	height: 91px;
	background: url("../images/v39_87.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	opacity: 1;
	position: absolute;
	top: 616px;
	left: 0px;
	overflow: hidden;
}

.v39_90 {
	width: 330px;
	height: 48px;
	background: rgba(249, 252, 255, 1);
	opacity: 1;
	position: absolute;
	top: 25px;
	left: 2px;
	border: 1px solid rgba(231, 231, 231, 1);
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	overflow: hidden;
	border: 1px solid gray;
}

.v39_91 {
	width: 58px;
	color: rgba(0, 0, 0, 1);
	position: absolute;
	top: 0px;
	left: 1px;
	font-family: Poppins;
	font-weight: Regular;
	font-size: 14px;
	opacity: 1;
	text-align: left;
}

.v39_189 {
	width: 405px;
	height: 91px;
	background: url("../images/v39_189.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	opacity: 1;
	position: absolute;
	top: 493px;
	left: 2px;
	overflow: hidden;
}

.v39_190 {
	width: 330px;
	height: 48px;
	background: rgba(249, 252, 255, 1);
	opacity: 1;
	position: absolute;
	top: 25px;
	left: 2px;
	border: 1px solid rgba(231, 231, 231, 1);
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	overflow: hidden;
	border: 1px solid gray;
}

.v39_191 {
	width: 58px;
	color: rgba(0, 0, 0, 1);
	position: absolute;
	top: 0px;
	left: 1px;
	font-family: Poppins;
	font-weight: Regular;
	font-size: 14px;
	opacity: 1;
	text-align: left;
}

.v39_186 {
	width: 405px;
	height: 91px;
	background: url("../images/v39_186.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	opacity: 1;
	position: absolute;
	top: 369px;
	left: 2px;
	overflow: hidden;
}

.v39_187 {
	width: 330px;
	height: 48px;
	background: rgba(249, 252, 255, 1);
	opacity: 1;
	position: absolute;
	top: 25px;
	left: 2px;
	border: 1px solid rgba(231, 231, 231, 1);
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	overflow: hidden;
	border: 1px solid gray;
}

.v39_188 {
	width: 58px;
	color: rgba(0, 0, 0, 1);
	position: absolute;
	top: 0px;
	left: 1px;
	font-family: Poppins;
	font-weight: Regular;
	font-size: 14px;
	opacity: 1;
	text-align: left;
}

.v39_183 {
	width: 405px;
	height: 91px;
	background: url("../images/v39_183.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	opacity: 1;
	position: absolute;
	top: 246px;
	left: 2px;
	overflow: hidden;
}

.v39_184 {
	width: 330px;
	height: 48px;
	background: rgba(249, 252, 255, 1);
	opacity: 1;
	position: absolute;
	top: 25px;
	left: 2px;
	border: 1px solid rgba(231, 231, 231, 1);
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	overflow: hidden;
	border: 1px solid gray;
}

.v39_185 {
	width: 58px;
	color: rgba(0, 0, 0, 1);
	position: relative;
	top: 0px;
	left: 0px;
	font-family: Poppins;
	font-weight: Regular;
	font-size: 14px;
	opacity: 1;
	text-align: left;
}

.v39_180 {
	width: 405px;
	height: 87px;
	background: url("../images/v39_180.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	opacity: 1;
	position: absolute;
	top: 125px;
	left: 2px;
	overflow: hidden;
}

.v39_181 {
	width: 330px;
	height: 48px;
	background: rgba(249, 252, 255, 1);
	opacity: 1;
	position: absolute;
	top: 25px;
	left: 2px;
	border: 1px solid rgba(231, 231, 231, 1);
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	overflow: hidden;
	border: 1px solid gray;
}

.v39_182 {
	width: 58px;
	color: rgba(0, 0, 0, 1);
	position: relative;
	top: 0px;
	left: 0px;
	font-family: Poppins;
	font-weight: Regular;
	font-size: 14px;
	opacity: 1;
	text-align: left;
}

.v39_177 {
	width: 405px;
	height: 91px;
	background: url("../images/v39_177.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	opacity: 1;
	position: absolute;
	top: 0px;
	left: 2px;
	overflow: hidden;
}

.v39_178 {
	width: 330px;
	height: 48px;
	background: rgba(249, 252, 255, 1);
	opacity: 1;
	position: absolute;
	top: 25px;
	left: 2px;
	border: 1px solid rgba(231, 231, 231, 1);
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	overflow: hidden;
	border: 1px solid gray;
}

.v39_179 {
	width: 58px;
	color: rgba(0, 0, 0, 1);
	position: relative;
	top: 0px;
	left: 0px;
	font-family: Poppins;
	font-weight: Regular;
	font-size: 14px;
	opacity: 1;
	text-align: left;
}

/* 동그라미 부분  */
.39_14 {
	overflow: hidden;
}

.e39_14 {
	width: 436px;
	height: 84px;
	position: absolute;
}

.e39_15 {
	width: 436px;
	height: 84px;
	position: absolute;
	left: 0px;
	top: 0px;
}

.e39_16 {
	width: 436px;
	height: 84px;
	position: absolute;
	left: 0px;
	top: 0px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.ei39_16_642_212 {
	width: 350px;
	height: 60px;
	position: absolute;
	left: 43px;
	top: 12px;
}

.i39_16_642_213 {
	border: 5px solid rgba(255, 182.254119515419, 115.10407716035843, 1);
}

.ei39_16_642_213 {
	width: 290.5341491699219px;
	height: 0px;
	position: absolute;
	left: 59.46533203125px;
	top: 30px;
}

.ei39_16_642_214 {
	border-radius: 500px;
	background-color: rgba(243.00000071525574, 136.00000709295273, 32.00000189244747, 1);
	width: 61.16508483886719px;
	height: 60px;
	position: absolute;
	left: 0px;
	top: 0px;
}

.ei39_16_642_215 {
	border-radius: 500px;
	background-color: rgba(243.00000071525574, 145.00000655651093, 50.000000819563866, 1);
	width: 61.16508483886719px;
	height: 60px;
	position: absolute;
	left: 144.4178924560547px;
	top: 0px;
}

.ei39_16_642_216 {
	border-radius: 500px;
	background-color: rgba(255, 255, 255, 1);
	width: 61.16508483886719px;
	height: 60px;
	position: absolute;
	left: 288.8348693847656px;
	top: 0px;
}

.i39_16_642_216 {
	border: 1px solid
		rgba(243.00000071525574, 136.00000709295273, 32.00000189244747, 1);
}

.i39_16_642_218 {
	border: 2px solid rgba(255, 255, 255, 1);
}

.ei39_16_642_218 {
	width: 27.18448257446289px;
	height: 18.33333396911621px;
	position: absolute;
	left: 16.990234375px;
	top: 21.66645622253418px;
}

.ei39_16_642_220 {
	color: rgba(243.00000071525574, 136.00000709295273, 32.00000189244747, 1);
	width: 15.291271209716797px;
	height: 16.66666603088379px;
	position: absolute;
	left: 314.921875px;
	top: 24.33349609375px;
	font-family: Poppins;
	text-align: left;
	font-size: 14px;
	letter-spacing: 0;
}

.39_17 {
	border: 2px solid rgba(255, 255, 255, 1);
}

.e39_17 {
	width: 20.388362884521484px;
	height: 19.09722328186035px;
	position: absolute;
	left: 208.25px;
	top: 33.2919921875px;
}

/* 중복확인 */
.39_203 {
	overflow: hidden;
}

.e39_203 {
	width: 163px;
	height: 48px;
	position: absolute;
}

.e39_204 {
	/* 	box-shadow:0px 10px 30px rgba(196.00000351667404, 80.00000283122063, 17.00000088661909, 0.5099999904632568); */
	background-color: rgba(244.0000006556511, 142.00000673532486, 40.00000141561031, 1);
	width: 163px;
	height: 48px;
	position: absolute;
	left: 0px;
	top: 0px;
	border-top-left-radius: 35px;
	border-top-right-radius: 35px;
	border-bottom-left-radius: 35px;
	border-bottom-right-radius: 35px;
}

.e39_205 {
	color: rgba(255, 255, 255, 1);
	width: 131px;
	height: 23px;
	position: absolute;
	left: 16px;
	top: 13px;
	font-family: Poppins;
	text-align: center;
	font-size: 16px;
	letter-spacing: 3;
}