@charset "UTF-8";

:root {
  --tangerine: rgba(244, 140, 40, 1);
  --black: rgba(0, 0, 0, 1);
  --white: rgba(255, 255, 255, 1);
  --gray: rgba(182, 182, 182, 1);
  --light-tangerine: rgba(245, 221, 196, 1);
  --light-blue: rgba(201, 211, 247, 1);
  --h1-font-family: "Montserrat-Bold", Helvetica;
  --h1-font-weight: 700;
  --h1-font-size: 95px;
  --h1-letter-spacing: 0px;
  --h1-line-height: normal;
  --h1-font-style: normal;
  --h-2-font-family: "Montserrat-Bold", Helvetica;
  --h-2-font-weight: 700;
  --h-2-font-size: 48px;
  --h-2-letter-spacing: 0px;
  --h-2-line-height: normal;
  --h-2-font-style: normal;
  --h-3-font-family: "Montserrat-Bold", Helvetica;
  --h-3-font-weight: 700;
  --h-3-font-size: 36px;
  --h-3-letter-spacing: 0px;
  --h-3-line-height: normal;
  --h-3-font-style: normal;
  --h4-font-family: "Montserrat-Bold", Helvetica;
  --h4-font-weight: 700;
  --h4-font-size: 26px;
  --h4-letter-spacing: 0px;
  --h4-line-height: normal;
  --h4-font-style: normal;
  --h5-font-family: "Montserrat-SemiBold", Helvetica;
  --h5-font-weight: 600;
  --h5-font-size: 18px;
  --h5-letter-spacing: 0px;
  --h5-line-height: normal;
  --h5-font-style: normal;
  --p1-font-family: "Montserrat-Medium", Helvetica;
  --p1-font-weight: 500;
  --p1-font-size: 18px;
  --p1-letter-spacing: 0px;
  --p1-line-height: normal;
  --p1-font-style: normal;
  --p2-font-family: "Montserrat-Regular", Helvetica;
  --p2-font-weight: 400;
  --p2-font-size: 13px;
  --p2-letter-spacing: 0px;
  --p2-line-height: normal;
  --p2-font-style: normal;
}
