@charset "UTF-8";

.div-wrapper {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.div-wrapper .div {
  background-color: var(--white);
  width: 1440px;
  height: 1699px;
  position: relative;
}

.div-wrapper .coupons {
  display: flex;
  flex-direction: column;
  width: 960px;
  height: 782px;
  align-items: flex-start;
  gap: 24px;
  position: absolute;
  top: 261px;
  left: 240px;
}

.div-wrapper .frame {
  display: flex;
  height: 782px;
  justify-content: center;
  gap: 50px;
  padding: 52px 24px;
  align-self: stretch;
  width: 100%;
  background-color: var(--carbon-25);
  border-radius: 24px;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.div-wrapper .frame-2 {
  display: inline-flex;
  height: 88px;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.div-wrapper .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: var(--carbon-958);
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .text-wrapper-2 {
  position: relative;
  width: fit-content;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: var(--carbon-800);
  font-size: 28px;
  text-align: center;
  letter-spacing: 0;
  line-height: 18px;
  white-space: nowrap;
}

.div-wrapper .primary-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  padding: 13px 16px;
  position: relative;
  flex: 0 0 auto;
  background-color: var(--tangerine);
  border-radius: 8px;
}

.div-wrapper .text-wrapper-3 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: var(--white-1);
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.div-wrapper .footer {
  position: absolute;
  width: 1440px;
  height: 429px;
  top: 1270px;
  left: 0;
  background-color: #f9f9ff;
}

.div-wrapper .company-loco {
  position: absolute;
  width: 375px;
  height: 284px;
  top: 76px;
  left: 118px;
}

.div-wrapper .company {
  position: absolute;
  width: 377px;
  height: 227px;
  top: 0;
  left: 0;
}

.div-wrapper .p {
  position: absolute;
  width: 375px;
  top: 138px;
  left: 0;
  font-family: var(--p1-font-family);
  font-weight: var(--p1-font-weight);
  color: var(--gray);
  font-size: var(--p1-font-size);
  letter-spacing: var(--p1-letter-spacing);
  line-height: var(--p1-line-height);
  font-style: var(--p1-font-style);
}

.div-wrapper .untitled {
  width: 181px;
  height: 108px;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}

.div-wrapper .social-icon {
  position: absolute;
  width: 177px;
  height: 42px;
  top: 242px;
  left: 0;
}

.div-wrapper .facebook {
  position: absolute;
  width: 42px;
  height: 42px;
  top: 0;
  left: 0;
  background-color: #f5dcc4;
  border-radius: 21px;
}

.div-wrapper .mask-group {
  position: absolute;
  width: 22px;
  height: 22px;
  top: 10px;
  left: 10px;
}

.div-wrapper .instagram {
  position: absolute;
  width: 42px;
  height: 42px;
  top: 0;
  left: 135px;
  background-color: #f5dcc4;
  border-radius: 21px;
}

.div-wrapper .img {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 12px;
  left: 12px;
}

.div-wrapper .twitter {
  position: absolute;
  width: 42px;
  height: 42px;
  top: 0;
  left: 45px;
  background-color: #f5dcc4;
  border-radius: 21px;
}

.div-wrapper .mask-group-2 {
  position: absolute;
  width: 23px;
  height: 23px;
  top: 10px;
  left: 10px;
}

.div-wrapper .linkind {
  position: absolute;
  width: 42px;
  height: 42px;
  top: 0;
  left: 90px;
  background-color: #f5dcc4;
  border-radius: 21px;
}

.div-wrapper .contact-us {
  position: absolute;
  width: 261px;
  height: 277px;
  top: 107px;
  left: 1088px;
}

.div-wrapper .text-wrapper-4 {
  top: 0;
  left: 10px;
  font-family: var(--h4-font-family);
  font-weight: var(--h4-font-weight);
  color: #000000;
  font-size: var(--h4-font-size);
  position: absolute;
  letter-spacing: var(--h4-letter-spacing);
  line-height: var(--h4-line-height);
  font-style: var(--h4-font-style);
}

.div-wrapper .group {
  position: absolute;
  width: 215px;
  height: 90px;
  top: 100px;
  left: 10px;
}

.div-wrapper .text-wrapper-5 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: var(--p1-font-family);
  font-weight: var(--p1-font-weight);
  color: var(--gray);
  font-size: var(--p1-font-size);
  letter-spacing: var(--p1-letter-spacing);
  line-height: var(--p1-line-height);
  font-style: var(--p1-font-style);
}

.div-wrapper .text-wrapper-6 {
  position: absolute;
  top: 34px;
  left: 0;
  font-family: var(--p1-font-family);
  font-weight: var(--p1-font-weight);
  color: var(--gray);
  font-size: var(--p1-font-size);
  letter-spacing: var(--p1-letter-spacing);
  line-height: var(--p1-line-height);
  font-style: var(--p1-font-style);
}

.div-wrapper .text-wrapper-7 {
  position: absolute;
  top: 68px;
  left: 0;
  font-family: var(--p1-font-family);
  font-weight: var(--p1-font-weight);
  color: var(--gray);
  font-size: var(--p1-font-size);
  letter-spacing: var(--p1-letter-spacing);
  line-height: var(--p1-line-height);
  font-style: var(--p1-font-style);
}

.div-wrapper .overlap-group-wrapper {
  position: absolute;
  width: 261px;
  height: 58px;
  top: 219px;
  left: 0;
}

.div-wrapper .overlap-group {
  position: relative;
  width: 259px;
  height: 58px;
  background-color: var(--white);
  border-radius: 32.5px;
  box-shadow: 0px 0px 15px #0000000d;
}

.div-wrapper .vector-wrapper {
  position: absolute;
  width: 38px;
  height: 42px;
  top: 8px;
  left: 208px;
  background-image: url(./img/component-15.svg);
  background-size: 100% 100%;
}

.div-wrapper .vector {
  position: absolute;
  width: 11px;
  height: 22px;
  top: 10px;
  left: 13px;
}

.div-wrapper .text-wrapper-8 {
  position: absolute;
  width: 177px;
  top: 21px;
  left: 21px;
  font-family: var(--p2-font-family);
  font-weight: var(--p2-font-weight);
  color: var(--gray);
  font-size: var(--p2-font-size);
  letter-spacing: var(--p2-letter-spacing);
  line-height: var(--p2-line-height);
  font-style: var(--p2-font-style);
}

.div-wrapper .user-link {
  position: absolute;
  width: 161px;
  height: 258px;
  top: 107px;
  left: 865px;
}

.div-wrapper .text-wrapper-9 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: var(--h4-font-family);
  font-weight: var(--h4-font-weight);
  color: #000000;
  font-size: var(--h4-font-size);
  letter-spacing: var(--h4-letter-spacing);
  line-height: var(--h4-line-height);
  font-style: var(--h4-font-style);
}

.div-wrapper .group-2 {
  position: absolute;
  width: 169px;
  height: 158px;
  top: 100px;
  left: 0;
}

.div-wrapper .payment-tex {
  position: absolute;
  top: 102px;
  left: 0;
  font-family: var(--p1-font-family);
  font-weight: var(--p1-font-weight);
  color: var(--gray);
  font-size: var(--p1-font-size);
  letter-spacing: var(--p1-letter-spacing);
  line-height: var(--p1-line-height);
  font-style: var(--p1-font-style);
}

.div-wrapper .text-wrapper-10 {
  position: absolute;
  top: 136px;
  left: 0;
  font-family: var(--p1-font-family);
  font-weight: var(--p1-font-weight);
  color: var(--gray);
  font-size: var(--p1-font-size);
  letter-spacing: var(--p1-letter-spacing);
  line-height: var(--p1-line-height);
  font-style: var(--p1-font-style);
}

.div-wrapper .opening-restaurant {
  position: absolute;
  width: 278px;
  height: 190px;
  top: 107px;
  left: 523px;
}

.div-wrapper .group-3 {
  position: absolute;
  width: 266px;
  height: 90px;
  top: 100px;
  left: 8px;
}

.div-wrapper .header {
  position: absolute;
  width: 1116px;
  height: 56px;
  top: 35px;
  left: 162px;
  background-color: transparent;
}

.div-wrapper .top-nav {
  position: relative;
  width: 1116px;
  height: 56px;
}

.div-wrapper .navbar {
  position: absolute;
  width: 419px;
  height: 22px;
  top: 17px;
  left: 382px;
}

.div-wrapper .text-wrapper-11 {
  left: 359px;
  position: absolute;
  top: 0;
  font-family: var(--h5-font-family);
  font-weight: var(--h5-font-weight);
  color: #000000;
  font-size: var(--h5-font-size);
  letter-spacing: var(--h5-letter-spacing);
  line-height: var(--h5-line-height);
  font-style: var(--h5-font-style);
}

.div-wrapper .text-wrapper-12 {
  left: 0;
  position: absolute;
  top: 0;
  font-family: var(--h5-font-family);
  font-weight: var(--h5-font-weight);
  color: #000000;
  font-size: var(--h5-font-size);
  letter-spacing: var(--h5-letter-spacing);
  line-height: var(--h5-line-height);
  font-style: var(--h5-font-style);
}

.div-wrapper .text-wrapper-13 {
  left: 84px;
  position: absolute;
  top: 0;
  font-family: var(--h5-font-family);
  font-weight: var(--h5-font-weight);
  color: #000000;
  font-size: var(--h5-font-size);
  letter-spacing: var(--h5-letter-spacing);
  line-height: var(--h5-line-height);
  font-style: var(--h5-font-style);
}

.div-wrapper .text-wrapper-14 {
  left: 167px;
  position: absolute;
  top: 0;
  font-family: var(--h5-font-family);
  font-weight: var(--h5-font-weight);
  color: #000000;
  font-size: var(--h5-font-size);
  letter-spacing: var(--h5-letter-spacing);
  line-height: var(--h5-line-height);
  font-style: var(--h5-font-style);
}

.div-wrapper .text-wrapper-15 {
  left: 259px;
  position: absolute;
  top: 0;
  font-family: var(--h5-font-family);
  font-weight: var(--h5-font-weight);
  color: #000000;
  font-size: var(--h5-font-size);
  letter-spacing: var(--h5-letter-spacing);
  line-height: var(--h5-line-height);
  font-style: var(--h5-font-style);
}

.div-wrapper .untitled-2 {
  width: 94px;
  height: 56px;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}

.div-wrapper .div-2 {
  position: absolute;
  width: 176px;
  height: 31px;
  top: 5px;
  left: 942px;
  box-shadow: 0px 4px 4px #0000001a;
}

.div-wrapper .text-wrapper-16 {
  position: absolute;
  top: 9px;
  left: 0;
  font-family: var(--h5-font-family);
  font-weight: var(--h5-font-weight);
  color: #000000;
  font-size: var(--h5-font-size);
  letter-spacing: var(--h5-letter-spacing);
  line-height: var(--h5-line-height);
  font-style: var(--h5-font-style);
}

.div-wrapper .group-4 {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0;
  left: 146px;
}

.div-wrapper .overlap-group-2 {
  position: relative;
  width: 29px;
  height: 31px;
  left: -1px;
}

.div-wrapper .group-5 {
  position: absolute;
  width: 23px;
  height: 25px;
  top: 6px;
  left: 0;
}

.div-wrapper .ellipse {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 1px;
  left: 14px;
  background-color: var(--tangerine);
  border-radius: 7.5px;
  box-shadow: 0px 0px 22px #cc0000cc;
}

.div-wrapper .text-wrapper-17 {
  position: absolute;
  top: 0;
  left: 18px;
  font-family: var(--p2-font-family);
  font-weight: var(--p2-font-weight);
  color: var(--white);
  font-size: var(--p2-font-size);
  letter-spacing: var(--p2-letter-spacing);
  line-height: var(--p2-line-height);
  font-style: var(--p2-font-style);
}
