@charset "UTF-8";

.div-wrapper {
	background-color: #ffffff;
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
}

.div-wrapper .overlap-wrapper {
	background-color: #ffffff;
	overflow: hidden;
	width: 100%;
	height: 900px;
}

.div-wrapper .overlap {
	position: relative;
	height: 900px;
	left: 6px;
	background: linear-gradient(180deg, rgb(255, 212, 180) 0%,
		rgba(217.93, 221.43, 223.4, 0.23) 22.55%,
		rgba(217.65, 220.1, 221.49, 0.16) 27.12%,
		rgba(217.42, 219.02, 219.92, 0.11) 34.64%, rgba(255, 255, 255, 0.07)
		49.87%, rgba(217, 217, 217, 0) 100%);
}

.div-wrapper .element {
	position: absolute;
	top: 59px;
	left: 91px;
	font-family: "Poppins-SemiBold", Helvetica;
	font-weight: 600;
	color: transparent;
	font-size: 64px;
	letter-spacing: 1.28px;
	line-height: normal;
}

.div-wrapper .text-wrapper {
	color: #000000;
}

.div-wrapper .span {
	color: #f48e28;
}

.div-wrapper .group {
	position: absolute;
	width: 392px;
	height: 484px;
	top: 226px;
	left: 650px;
}

.div-wrapper .top-bar {
	display: inline-flex;
	align-items: flex-start;
	gap: 32px;
	position: absolute;
	top: 102px;
	left: 92px;
}

.div-wrapper .frame {
	gap: 13px;
	position: relative;
	flex: 0 0 auto;
	display: inline-flex;
	flex-direction: column;
	align-items: flex-start;
	left: 60px;
}

.div-wrapper .div {
	position: relative;
	width: fit-content;
	margin-top: -1px;
	font-family: "Poppins-Bold", Helvetica;
	font-weight: 700;
	color: #000000;
	font-size: 16px;
	letter-spacing: 0.48px;
	line-height: normal;
}

.div-wrapper .text-wrapper-2 {
	position: relative;
	width: fit-content;
	margin-top: -1px;
	font-family: "Poppins-Bold", Helvetica;
	font-weight: 700;
	color: #f48e28;
	font-size: 16px;
	letter-spacing: 0.48px;
	line-height: normal;
}

.div-wrapper .img {
	position: relative;
	align-self: stretch;
	width: 100%;
	height: 3px;
	background: #F48E28;
}

.div-wrapper .text-wrapper-3 {
	position: absolute;
	top: 0;
	left: -25px;
	font-family: "Poppins-Bold", Helvetica;
	font-weight: 700;
	color: #000000;
	font-size: 44px;
	letter-spacing: 0;
	line-height: normal;
	width: 500px;
}

.div-wrapper .frame-2 {
	gap: 30px;
	position: absolute;
	top: 178px;
	left: 73px;
	display: inline-flex;
	flex-direction: column;
	align-items: flex-start;
}

.div-wrapper .div-2 {
	position: relative;
	width: 247px;
	height: 83px;
	margin-right: -2px;
}

.div-wrapper .text-wrapper-4 {
	position: absolute;
	top: 0;
	left: 0;
	font-family: "Poppins-Regular", Helvetica;
	font-weight: 400;
	color: #000000;
	font-size: 14px;
	letter-spacing: 0;
	line-height: normal;
}

.div-wrapper .group-2 {
	position: absolute;
	width: 245px;
	height: 48px;
	top: 35px;
	left: 0;
	background-color: #f9fcff;
	border-radius: 10px;
	border: 1px solid;
	border-color: #e7e7e7;
	padding-left: 20px;
}

.div-wrapper .login-button {
	position: absolute;
	width: 202px;
	height: 63px;
	top: 421px;
	left: 95px;
}

.div-wrapper .overlap-group {
	position: relative;
	width: 200px;
	height: 63px;
	background-color: #f48e28;
	border-radius: 35px;
	box-shadow: 0px 10px 30px #c4501182;
	left: 10px;
	top: 0px;
	border: none;
	cursor: pointer;
}

.div-wrapper .text-wrapper-5 {
	position: absolute;
	top: 18px;
	left: 39px;
	font-family: "Poppins-SemiBold", Helvetica;
	font-weight: 600;
	color: #ffffff;
	font-size: 20px;
	letter-spacing: 0.6px;
	line-height: normal;
}