@charset "UTF-8";

progress {
	-webkit-appearance: none;
	margin-top:5px;
}

::-webkit-progress-bar {
	background-color: rgba(215, 215, 215, 0.46);
	border-radius: 2rem;
	height: 15px;
}

::-webkit-progress-value {
	background-color: #ffcbae;
	border-radius: 2rem;
}

.div-wrapper {
	background-color: #ffffff;
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
}

.div-wrapper .div {
	background-color: var(- -white);
	width: 1440px;
	height: 2091px;
	position: relative;
}

.div-wrapper .frame {
	display: inline-flex;
	align-items: flex-start;
	gap: 104px;
	position: absolute;
	top: 180px;
	left: 368px;
}

.div-wrapper .group {
	position: relative;
	width: 704.32px;
	height: 1280px;
}

.div-wrapper .overlap {
	position: relative;
	width: 704px;
	height: 1280px;
}

.div-wrapper .overlap-group-wrapper {
	position: absolute;
	width: 704px;
	height: 1280px;
	top: 0;
	left: 0;
}

.div-wrapper .overlap-group {
	position: relative;
	width: 720px;
	height: 1300px;
	left: -1px;
	background-image: url(./img/group-13.png);
	background-size: 100% 100%;
}

.div-wrapper .upload-field {
	display: inline-flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 20px;
	padding: 20px;
	position: absolute;
	top: 60%;
	left: 10px;
	border-radius: 5px;
	overflow: hidden;
}

.div-wrapper .type-n {
	display: flex;
	width: 582px;
	align-items: center;
	justify-content: center;
	gap: 24px;
	padding: 16px 24px 16px 32px;
	position: relative;
	flex: 0 0 auto;
	margin-top: -20px;
	margin-bottom: -1px;
	margin-left: -1px;
	margin-right: -1px;
	border-radius: 10px;
	border: 1px dashed;
	border-color: #00000040;
}

.div-wrapper .feather-upload-cloud {
	position: relative;
	width: 48px;
	height: 48px;
	left:15px;
}

.div-wrapper .bottom-content {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	position: relative;
	flex: 1;
	flex-grow: 1;
}

.div-wrapper .description {
	display: flex;
	flex-direction: column;
	width: 252px;
	align-items: flex-start;
	justify-content: center;
	position: relative;
	margin-top: 2%;
}

.div-wrapper .text-wrapper {
	position: relative;
	align-self: stretch;
	margin-top: -1px;
	font-weight: 400;
	color: #000000;
	font-size: 13px;
	letter-spacing: 0;
	line-height: normal;
}

.div-wrapper .p {
	position: relative;
	align-self: stretch;
	font-weight: 400;
	color: #00000066;
	font-size: 12px;
	letter-spacing: 0;
	line-height: normal;
}

.div-wrapper .button {
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	gap: 10px;
	padding: 12px 16px;
	position: relative;
	flex: 0 0 auto;
	background-color: #fbfdfe;
	border-radius: 5px;
	border: 1px solid;
	border-color: #0f91d2b2;
	box-sizing: border-box;
	left: 15%;
}

.div-wrapper .select-file {
	position: relative;
	width: fit-content;
	font-weight: 400;
	color: #0f91d1;
	font-size: 10px;
	letter-spacing: 0;
	line-height: normal;
	white-space: nowrap;
}

.div-wrapper .button-group-wrapper {
	position: absolute;
	width: 700px;
	height: 80px;
	top: 1100px;
	left: 1px;
	background-color: #fbfcfd;
	border-radius: 0px 0px 10px 10px;
	overflow: hidden;
	box-shadow: inset 0px 1px 1px #0000001a;
}

.div-wrapper .button-group {
	gap: 8px;
	top: 20px;
	left: 470px;
	display: inline-flex;
	align-items: center;
	position: relative;
}

.div-wrapper .cancel-wrapper {
	cursor: pointer;
    justify-content: center;
    gap: 10px;
    padding: 12px 24px;
    flex: 0 0 auto;
    margin-top: -1px;
    margin-bottom: -1px;
    margin-right: -1px;
    background-color: #ffffff;
    border-radius: 5px;
    border: 1px solid;
    border-color: #0000001a;
    box-shadow: 0px 1px 1px #00000029;
    display: inline-flex;
    align-items: center;
    position: relative;
    box-sizing: border-box;
}

.div-wrapper .cancel {
	position: relative;
	width: fit-content;
	font-weight: 400;
	color: #000000;
	font-size: 14px;
	letter-spacing: 0;
	line-height: normal;
}

.div-wrapper .upload-wrapper {
	cursor: pointer;
	justify-content: center;
	gap: 10px;
	padding: 12px 24px;
	flex: 0 0 auto;
	margin-top: -1px;
	margin-bottom: -1px;
	margin-right: -1px;
	background-color: #ffffff;
	border-radius: 5px;
	border: 1px solid;
	border-color: #0000001a;
	box-shadow: 0px 1px 1px #00000029;
	display: inline-flex;
	align-items: center;
	position: relative;
	box-sizing: border-box;
}

.div-wrapper .upload {
	position: relative;
	width: fit-content;
	font-weight: 400;
	color: #0f91d1;
	font-size: 14px;
	letter-spacing: 0;
	line-height: normal;
}

.div-wrapper .frame-wrapper {
	width: 700px;
	height: 1280px;
	box-shadow: 5px 4px 10px #00000040;
}

.div-wrapper .frame-2 {
	display: inline-flex;
	align-items: flex-start;
	gap: 45px;
	position: relative;
	flex: 0 0 auto;
}

.div-wrapper .frame-3 {
	display: inline-flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 10px;
	position: relative;
	flex: 0 0 auto;
	border-bottom: 4px solid #FFC588;
	margin-top: 10%;
    margin-left: 20%;
}

.div-wrapper .text-wrapper-2 {
	position: relative;
	width: fit-content;
	margin-top: 13%;
	font-weight: 600;
	color: #000000;
	font-size: 2rem;
	letter-spacing: 0;
	line-height: normal;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
	padding-bottom: 5%;
}

.div-wrapper .footer {
	position: absolute;
	width: 1440px;
	height: 429px;
	top: 1662px;
	left: 0;
	background-color: #f9f9ff;
}

.div-wrapper .company-loco {
	position: absolute;
	width: 375px;
	height: 284px;
	top: 76px;
	left: 118px;
}

.div-wrapper .company {
	position: absolute;
	width: 377px;
	height: 227px;
	top: 0;
	left: 0;
}

.div-wrapper .text-wrapper-3 {
	position: absolute;
	width: 375px;
	top: 138px;
	left: 0;
	font-weight: var(- -p1-font-weight);
	color: var(- -gray);
	font-size: var(- -p1-font-size);
	letter-spacing: var(- -p1-letter-spacing);
	line-height: var(- -p1-line-height);
	font-style: var(- -p1-font-style);
}

.div-wrapper .untitled {
	width: 181px;
	height: 108px;
	position: absolute;
	top: 0;
	left: 0;
	object-fit: cover;
}

.div-wrapper .social-icon {
	position: absolute;
	width: 177px;
	height: 42px;
	top: 242px;
	left: 0;
}

.div-wrapper .facebook {
	position: absolute;
	width: 42px;
	height: 42px;
	top: 0;
	left: 0;
	background-color: #f5dcc4;
	border-radius: 21px;
}

.div-wrapper .mask-group {
	position: absolute;
	width: 22px;
	height: 22px;
	top: 10px;
	left: 10px;
}

.div-wrapper .instagram {
	position: absolute;
	width: 42px;
	height: 42px;
	top: 0;
	left: 135px;
	background-color: #f5dcc4;
	border-radius: 21px;
}

.div-wrapper .img {
	position: absolute;
	width: 18px;
	height: 18px;
	top: 12px;
	left: 12px;
}

.div-wrapper .twitter {
	position: absolute;
	width: 42px;
	height: 42px;
	top: 0;
	left: 45px;
	background-color: #f5dcc4;
	border-radius: 21px;
}

.div-wrapper .mask-group-2 {
	position: absolute;
	width: 23px;
	height: 23px;
	top: 10px;
	left: 10px;
}

.div-wrapper .linkind {
	position: absolute;
	width: 42px;
	height: 42px;
	top: 0;
	left: 90px;
	background-color: #f5dcc4;
	border-radius: 21px;
}

.div-wrapper .contact-us {
	position: absolute;
	width: 261px;
	height: 277px;
	top: 107px;
	left: 1088px;
}

.div-wrapper .text-wrapper-4 {
	top: 0;
	left: 10px;
	font-weight: var(- -h4-font-weight);
	color: #000000;
	font-size: var(- -h4-font-size);
	position: absolute;
	letter-spacing: var(- -h4-letter-spacing);
	line-height: var(- -h4-line-height);
	font-style: var(- -h4-font-style);
}

.div-wrapper .group-2 {
	position: absolute;
	width: 215px;
	height: 90px;
	top: 100px;
	left: 10px;
}

.div-wrapper .text-wrapper-5 {
	position: absolute;
	top: 0;
	left: 0;
	font-weight: var(- -p1-font-weight);
	color: var(- -gray);
	font-size: var(- -p1-font-size);
	letter-spacing: var(- -p1-letter-spacing);
	line-height: var(- -p1-line-height);
	font-style: var(- -p1-font-style);
}

.div-wrapper .text-wrapper-6 {
	position: absolute;
	top: 34px;
	left: 0;
	font-weight: var(- -p1-font-weight);
	color: var(- -gray);
	font-size: var(- -p1-font-size);
	letter-spacing: var(- -p1-letter-spacing);
	line-height: var(- -p1-line-height);
	font-style: var(- -p1-font-style);
}

.div-wrapper .text-wrapper-7 {
	position: absolute;
	top: 68px;
	left: 0;
	font-weight: var(- -p1-font-weight);
	color: var(- -gray);
	font-size: var(- -p1-font-size);
	letter-spacing: var(- -p1-letter-spacing);
	line-height: var(- -p1-line-height);
	font-style: var(- -p1-font-style);
}

.div-wrapper .group-3 {
	position: absolute;
	width: 261px;
	height: 58px;
	top: 219px;
	left: 0;
}

.div-wrapper .overlap-group-2 {
	position: relative;
	width: 259px;
	height: 58px;
	background-color: var(- -white);
	border-radius: 32.5px;
	box-shadow: 0px 0px 15px #0000000d;
}

.div-wrapper .vector-wrapper {
	position: absolute;
	width: 38px;
	height: 42px;
	top: 8px;
	left: 208px;
	background-image: url(./img/component-15.svg);
	background-size: 100% 100%;
}

.div-wrapper .vector {
	position: absolute;
	width: 11px;
	height: 22px;
	top: 10px;
	left: 13px;
}

.div-wrapper .text-wrapper-8 {
	position: absolute;
	width: 177px;
	top: 21px;
	left: 21px;
	font-weight: var(- -p2-font-weight);
	color: var(- -gray);
	font-size: var(- -p2-font-size);
	letter-spacing: var(- -p2-letter-spacing);
	line-height: var(- -p2-line-height);
	font-style: var(- -p2-font-style);
}

.div-wrapper .user-link {
	position: absolute;
	width: 161px;
	height: 258px;
	top: 107px;
	left: 865px;
}

.div-wrapper .text-wrapper-9 {
	position: absolute;
	top: 0;
	left: 0;
	font-weight: var(- -h4-font-weight);
	color: #000000;
	font-size: var(- -h4-font-size);
	letter-spacing: var(- -h4-letter-spacing);
	line-height: var(- -h4-line-height);
	font-style: var(- -h4-font-style);
}

.div-wrapper .group-4 {
	position: absolute;
	width: 169px;
	height: 158px;
	top: 100px;
	left: 0;
}

.div-wrapper .payment-tex {
	position: absolute;
	top: 102px;
	left: 0;
	font-weight: var(- -p1-font-weight);
	color: var(- -gray);
	font-size: var(- -p1-font-size);
	letter-spacing: var(- -p1-letter-spacing);
	line-height: var(- -p1-line-height);
	font-style: var(- -p1-font-style);
}

.div-wrapper .text-wrapper-10 {
	position: absolute;
	top: 136px;
	left: 0;
	font-weight: var(- -p1-font-weight);
	color: var(- -gray);
	font-size: var(- -p1-font-size);
	letter-spacing: var(- -p1-letter-spacing);
	line-height: var(- -p1-line-height);
	font-style: var(- -p1-font-style);
}

.div-wrapper .opening-restaurant {
	position: absolute;
	width: 278px;
	height: 190px;
	top: 107px;
	left: 523px;
}

.div-wrapper .group-5 {
	position: absolute;
	width: 266px;
	height: 90px;
	top: 100px;
	left: 8px;
}


.div-wrapper .text-wrapper-11 {
	left: 0;
	position: absolute;
	top: 0;
	font-weight: var(- -h5-font-weight);
	color: #000000;
	font-size: var(- -h5-font-size);
	letter-spacing: var(- -h5-letter-spacing);
	line-height: var(- -h5-line-height);
	font-style: var(- -h5-font-style);
}

.div-wrapper .text-wrapper-12 {
	left: 84px;
	position: absolute;
	top: 0;
	font-weight: var(- -h5-font-weight);
	color: #000000;
	font-size: var(- -h5-font-size);
	letter-spacing: var(- -h5-letter-spacing);
	line-height: var(- -h5-line-height);
	font-style: var(- -h5-font-style);
}

.div-wrapper .text-wrapper-13 {
	left: 167px;
	position: absolute;
	top: 0;
	font-weight: var(- -h5-font-weight);
	color: #000000;
	font-size: var(- -h5-font-size);
	letter-spacing: var(- -h5-letter-spacing);
	line-height: var(- -h5-line-height);
	font-style: var(- -h5-font-style);
}

.div-wrapper .text-wrapper-14 {
	left: 259px;
	position: absolute;
	top: 0;
	font-weight: var(- -h5-font-weight);
	color: #000000;
	font-size: var(- -h5-font-size);
	letter-spacing: var(- -h5-letter-spacing);
	line-height: var(- -h5-line-height);
	font-style: var(- -h5-font-style);
}

.div-wrapper .untitled-2 {
	width: 94px;
	height: 56px;
	position: absolute;
	top: 0;
	left: 0;
	object-fit: cover;
}

.div-wrapper .group-6 {
	position: absolute;
	width: 176px;
	height: 31px;
	top: 5px;
	left: 942px;
	box-shadow: 0px 4px 4px #0000001a;
}

.div-wrapper .text-wrapper-15 {
	position: absolute;
	top: 9px;
	left: 0;
}

.div-wrapper .group-7 {
	position: absolute;
	width: 30px;
	height: 30px;
	top: 0;
	left: 146px;
}

.div-wrapper .overlap-group-3 {
	position: relative;
	width: 12.5rem;
	left: -1px;
}

.div-wrapper .group-8 {
	position: absolute;
	width: 23px;
	height: 25px;
	top: 6px;
	left: 0;
}



.div-wrapper .text-wrapper-16 {
	position: absolute;
	top: 0;
	left: 18px;
	font-weight: var(- -p2-font-weight);
	color: var(- -white);
	font-size: var(- -p2-font-size);
	letter-spacing: var(- -p2-letter-spacing);
	line-height: var(- -p2-line-height);
	font-style: var(- -p2-font-style);
}

.div-wrapper .group-9 {
	position: absolute;
	width: 250px;
	height: 374px;
	top: 180px;
	left: 70px;
}

.div-wrapper .group-10 {
	position: absolute;
	width: 252px;
	height: 300px;
	top: 0;
	left: 0;
	box-shadow: inset 0px 4px 4px #ffffff40;
}

.div-wrapper .overlap-group-4 {
	position: relative;
	width: 250px;
	height: 300px;
}

.div-wrapper .card {
	position: absolute;
	width: 250px;
	height: 300px;
	top: 0;
	left: 0;
	background-color: #f48e28;
	border-radius: 0px 30px 30px 30px;
}

.div-wrapper .tab {
	display: flex;
	width: 210px;
	height: 60px;
	align-items: center;
	gap: 16px;
	padding: 12px 0px;
	position: absolute;
	top: 139px;
	left: 20px;
	border-radius: 100px;
}

.overlap-group-3 .text-wrapper-29 {
	top: -31px!important;
}

.div-wrapper .icon {
	position: relative;
	width: 35.08px;
	height: 36.31px;
	margin-bottom: -2.31px;
	margin-left: -1.54px;
}

.div-wrapper .text-wrapper-17 {
	position: relative;
  	width: fit-content;
  	font-weight: 500;
  	color: #ffffffe6;
  	font-size: 1.2rem;
  	letter-spacing: 0.6px;
  	line-height: normal;
  	white-space: nowrap;
  	border: none;
  	background-color: rgba(0, 0, 0, 0);
  	background-image: url(../images/doran/icon_dorandoran.png);
  	background-repeat: no-repeat;
  	background-size: 32px 32px;
  	padding: 0 7px 0 50px;
}

.div-wrapper .tab-2 {
	display: flex;
	width: 210px;
	height: 60px;
	align-items: center;
	gap: 16px;
	padding: 12px 0px;
	position: absolute;
	top: 201px;
	left: 20px;
	border-radius: 100px;
}

.div-wrapper .icon-2 {
	position: relative;
	width: 32px;
	height: 32px;
}

.div-wrapper .text-wrapper-18 {
	position: relative;
	width: fit-content;
	font-weight: 500;
	color: #ffffffe6;
	font-size: 1.2rem;
	letter-spacing: 0.6px;
	line-height: normal;
	white-space: nowrap;
	border: none;
  	background-color: rgba(0, 0, 0, 0);
  	background-image: url(../images/doran/icon_mytext.png);
  	background-repeat: no-repeat;
  	background-size: 32px 32px;
  	padding: 0 7px 0 50px;
}

.div-wrapper .text-wrapper-19 {
	position: absolute;
	width: 126px;
	top: 39px;
	left: 89px;
	font-weight: 600;
	color: #ffffff;
	font-size: 1.7rem;
	letter-spacing: 0;
	line-height: normal;
}

.div-wrapper .overlap-wrapper {
	position: absolute;
	width: 252px;
	height: 55px;
	top: 319px;
	left: 0;
}

.div-wrapper .overlap-2 {
	position: relative;
	width: 250px;
	height: 55px;
	border-radius: 14px;
	border: 1px solid;
	border-color: var(- -tangerine);
}

.div-wrapper .vector-2 {
	position: absolute;
	width: 15px;
	height: 15px;
	top: 22px;
	left: 29px;
}

.div-wrapper .text-wrapper-20 {
	position: absolute;
	height: 16px;
	top: 22px;
	left: 58px;
	font-weight: 400;
	color: var(- -tangerine);
	font-size: 14px;
	letter-spacing: 0;
	line-height: 16px;
	white-space: nowrap;
}

.div-wrapper .group-wrapper {
	position: absolute;
	width: 250px;
	height: 300px;
	top: 180px;
	left: 1120px;
}

.div-wrapper .group-11 {
	height: 300px;
}

.div-wrapper .group-12 {
	width: 250px;
	height: 300px;
}

.div-wrapper .profile-wrapper {
	position: relative;
	height: 300px;
}

.div-wrapper .profile {
	position: absolute;
	width: 258px;
	height: 308px;
	top: 0;
	left: -4px;
}

.doran-profile{
	position: relative;
	width: 250px;
	height: 300px;
	flex-shrink: 0;
	border-radius: 20px;
	background: #FFF;
	box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
	display: flex;
    flex-direction: column;
    align-items: center;
    top: 8.5%;
    left: 77.4%;
}

.doran-profile-photo{
	width: 100px;
	height: 100px;
	margin-top: 13px;
	margin-bottom: 10px;
	border-radius: 50%;
}

.doran-button-frofile-setting{
	width: 229.594px;
	height: 40px;
	flex-shrink: 0;
	border-radius: 10px;
	background: #F38820;
	margin-left: 75px;
	margin-right: 75px;
	color: white;
	border: none;
	margin-top: 2%;
}

.doran-button-frofile-setting span {
	font-size: 1.1rem;
}

.doranTitleBox{
	width: 640px;
	height: 50px;
    box-sizing: border-box;
    margin-top: 15%;
    margin-left: 4%;
}

.doranTitleBox textarea{
	width: 100%;
    height: 100%;
    resize: none;
    background: #F9F9F9;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 1rem;
    border: none;
}

.doranContBox{
	width: 640px;
	height: 640px;
    box-sizing: border-box;
    margin-top: 3%;
    margin-left: 4%;
}

.doranContBox textarea{
	width: 100%;
    height: 100%;
    resize: none;
    background: #F9F9F9;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 1rem;
    border: none;
}

.text-wrapper-18:active,
.text-wrapper-18:focus,
.text-wrapper-17:active,
.text-wrapper-17:focus{
    font-size: 1.2rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.doran-profile-point{
	position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.doran-profile-info{
	position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 9%;
}

.doran-profile-info-memname{
	font-size: 24px;
    font-weight: 500;
}

.doran-profile-info-grade{
	position: relative;
    display: flex;
    gap: 3px;
    color: rgba(182, 182, 182, 1);
}

.doran-upload-contents{
	position: relative;
    top: -45%;
}

.doran-upload-profilPhotoImg{
	width: 100px;
    height: 100px;
    margin-top: 13px;
    border-radius: 50%;
    margin-left: 2%;
}

.doran-profile-photoImg{
	width: 100px;
    height: 100px;
    margin-bottom: 10px;
    border-radius: 50%;
}

.info-point {
    column-gap: 6rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.doran-fileUpload{
	position: relative;
    top: 16%;
    left: 6%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.doran-fileUploadText{
	font-weight: bold;
}

.doran-fileUploadBar{
	display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.doran-fileUploadBar-fileSize{
	position: absolute;
    left: 524px;
    font-size: 0.9rem;
    color: rgba(182, 182, 182, 1);
}

.doran-fileUploadBar-filePreview{
	border: none;
    background: none;
    cursor: pointer;
    color: rgba(244, 140, 40, 1);
    position: relative;
    left: -1%;
}

.group-15 {
    position: absolute;
    width: 250px;
    height: 375px;
    top: 180px;
    left: 927px;
}

.group-16 {
    position: absolute;
    width: 250px;
    height: 300px;
    top: 0;
    left: 0;
}

.group-17 {
    height: 300px;
}

.screen .div-2 {
    position: relative;
    width: 250px;
    height: 300px;
}

.ellipsis-img{
	position: relative;
    width: 45px;
    height: 45px;
    top: 30px;
    left: 25px;
}

#doranTitle:focus-visible {
	    outline: none;
	    box-shadow: 5px 4px 10px 0px rgba(0, 0, 0, 0.25);
}

#doranCont:focus-visible {
	    outline: none;
	    box-shadow: 5px 4px 10px 0px rgba(0, 0, 0, 0.25);
}
