@charset "UTF-8";

.screen {
	background-color: #ffffff;
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
}

.screen .overlap-wrapper {
	background-color: #ffffff;
	overflow: hidden;
	width: 100%;
	height: 1018px;
}

.screen .overlap {
	position: relative;
	height: 1018px;
	left: 6px;
	background: linear-gradient(180deg, rgb(255, 212, 180) 0%,
		rgba(217.93, 221.43, 223.4, 0.23) 22.55%,
		rgba(217.65, 220.1, 221.49, 0.16) 27.12%,
		rgba(217.42, 219.02, 219.92, 0.11) 34.64%, rgba(255, 255, 255, 0.07)
		49.87%, rgba(217, 217, 217, 0) 100%);
}

.screen .element {
	position: absolute;
	top: 59px;
	left: 91px;
	font-weight: 600;
	color: transparent;
	font-size: 64px;
	letter-spacing: 1.28px;
	line-height: normal;
}

.screen .span {
	color: #000000;
}

.screen .text-wrapper-2 {
	color: #f48e28;
}

.screen .group {
	position: absolute;
	width: 394px;
	height: 665px;
	top: 226px;
	left: 650px;
}

.screen .top-bar {
	display: inline-flex;
	align-items: flex-start;
	gap: 32px;
	position: absolute;
	top: 102px;
	left: 92px;
}

.screen .frame {
	gap: 13px;
	position: relative;
	flex: 0 0 auto;
	display: inline-flex;
	flex-direction: column;
	align-items: flex-start;
}

.screen .div {
	position: relative;
	width: fit-content;
	margin-top: -1px;
	font-weight: 700;
	color: #f48e28;
	font-size: 16px;
	letter-spacing: 0.48px;
	line-height: normal;
	cursor: pointer;
	border: none;
	background-color: transparent;
}

.screen .line {
	position: relative;
	width: 90px;
	height: 3px;
	background: #F48E28;
}

.screen .text-wrapper-3 {
	position: relative;
	width: fit-content;
	margin-top: -1px;
	font-weight: 700;
	color: #000000;
	font-size: 16px;
	letter-spacing: 0.48px;
	line-height: normal;
	border: none;
    cursor: pointer;
    background-color: transparent;
}

.screen .p {
	position: absolute;
	top: 641px;
	left: 60px;
	text-shadow: 0px 4px 4px #00000040;
	font-weight: 400;
	color: transparent;
	font-size: 16px;
	letter-spacing: 0.48px;
	line-height: normal;
}

.screen .text-wrapper-4 {
	font-weight: 300;
	color: #000000;
}

.screen .text-wrapper-5 {
	font-weight: 600;
	color: #f48e28;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	background: none;
	border: none;
	padding: 0;
	cursor: pointer;
	font-size: 16px;
}

.screen .text-wrapper-6 {
	position: absolute;
	width: 500px;
	top: 0;
	left: 0;
	font-weight: 700;
	color: #000000;
	font-size: 48px;
	letter-spacing: 0;
	line-height: normal;
	width: 500px;
}

.screen .frame-2 {
	gap: 30px;
	position: absolute;
	top: 178px;
	left: 73px;
	display: inline-flex;
	flex-direction: column;
	align-items: flex-start;
}

.screen .div-2 {
	position: relative;
	width: 247px;
	height: 83px;
	margin-right: -2px;
}

.screen .div-3 {
	position: relative;
	width: 247px;
	height: 83px;
	margin-right: -2px;
}

.screen .text-wrapper-7 {
	position: absolute;
	top: 0;
	left: 0;
	font-weight: 400;
	color: #000000;
	font-size: 14px;
	letter-spacing: 0;
	line-height: normal;
}

.screen .group-2 {
	position: absolute;
	width: 245px;
	height: 48px;
	top: 35px;
	left: 0;
	background-color: #f9fcff;
	border-radius: 10px;
	border: 1px solid;
	border-color: #e7e7e7;
	padding-left: 20px;
}

.screen .text-wrapper-8 {
	position: absolute;
	width: 56px;
	top: 0;
	left: 0;
	font-weight: 400;
	color: #000000;
	font-size: 14px;
	letter-spacing: 0;
	line-height: normal;
}

.screen .text-wrapper-11 {
	position: absolute;
	width: 56px;
	top: 400px;
	left: 70px;
	font-weight: 400;
	color: #000000;
	font-size: 14px;
	letter-spacing: 0;
	line-height: normal;
}

.screen .overlap-group-wrapper-1 {
	position: absolute;
	width: 247px;
	height: 48px;
	top: 35px;
	left: 0;
}

.screen .overlap-group-wrapper-2 {
	position: absolute;
	width: 247px;
	height: 48px;
	top: 435px;
	left: 73px;
}

.screen .overlap-group {
	position: relative;
	width: 245px;
	height: 48px;
	background-color: #f9fcff;
	border-radius: 10px;
	border: 1px solid;
	border-color: #e7e7e7;
	padding-left: 20px;
}

.screen .payments {
	position: absolute;
	top: 12px;
	left: 13px;
	opacity: 0.4;
	font-weight: 400;
	color: #000000;
	font-size: 14px;
	letter-spacing: 0.25px;
	line-height: 28px;
	white-space: nowrap;
}

.screen .payments-wrapper {
	position: relative;
	width: 270px;
	height: 48px;
	background-color: #f9fcff;
	border-radius: 10px;
	border: 1px solid;
	border-color: #e7e7e7;
}

.screen .div-wrapper {
	position: relative;
	width: 200px;
	height: 63px;
	background-color: #f48e28;
	border-radius: 35px;
	box-shadow: 0px 10px 30px #c4501182;
	left: 100px;
	top: 450px;
	border: none;
	cursor: pointer;
}

.screen .text-wrapper-9 {
	position: absolute;
	width: 120px;
	top: 18px;
	left: 40px;
	font-weight: 600;
	color: #ffffff;
	font-size: 20px;
	letter-spacing: 0.6px;
	line-height: normal;
}